// |--------------------------------------------------------------------------
// | Header
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-header
// |

//== General
@ktc-header-background-color: #fff;

//== Top bar
@ktc-header-top-bar-height: 50px;

//== Logo
@ktc-header-top-bar-logo-width: 140px;
@ktc-header-top-bar-logo-height: 70px;

// --------------------------------------------------
// Top bar
// --------------------------------------------------

// Header
.ktc-header {

	// Top bar
	.ktc-header-top-bar {
		min-height: @ktc-header-top-bar-height;
		background-color: @ktc-header-background-color;

		// Logo
		.ktc-header-top-bar-logo {
			float: left;
			width: @ktc-header-top-bar-logo-width;
			margin-bottom: floor((@ktc-header-top-bar-height - @ktc-header-top-bar-logo-height));

			// Image
			img {
				border: 0;
				width: 100%;
				height: auto;
			}
		}

		// List
		.ktc-header-top-bar-list {
			.list-inline;
			margin: 0;
			height: 48px;

			&.xs-only {
				margin-top: 25px;
				margin-bottom: 5px;
			}

			// List item
			> li {
				height: inherit;
				vertical-align: middle;
				padding: 0;
			}

			// User display
			&.ktc-header-top-bar-user-display {

				// User profile
				.ktc-header-top-bar-user-profile {

					// Photo
					.ktc-user-profile-photo-container {
						float: left;
						margin-right: 5px;

						// Image
						img {
							display: inline-block;
							width: 44px;
							height: 44px;
							border-radius: 100%;
							border-width: @ktc-user-profile-photo-border-width;
							border-style: solid;
							background-color: transparent;
							padding: @ktc-user-profile-photo-border-distance;
							border-color: @ktc-color-red;
						}
					}

					// Link
					a {
						color: @ktc-color-red-font;
						font-size: 16px;
						line-height: 48px;
						.word-wrap();
					}
				}
			}

			// User login
			&.ktc-header-top-bar-user-login {
				padding-top: 10px;
			}

			// Navigation
			&.ktc-header-top-bar-navigation {

				// Icon
				.ktc-header-top-bar-user-menu-icon {
					display: inline-block;
					margin-top: 10px;

					// Settings
					&.ktc-header-top-bar-user-menu-icon-settings {
						.sprite(@header-cog);
					}

					// Search
					&.ktc-header-top-bar-user-menu-icon-search {
						.sprite(@header-search);
					}

					// Toggle
					&.ktc-header-top-bar-user-menu-icon-toggle {
						.sprite(@header-toggle);
					}

					// Log out
					&.ktc-header-top-bar-user-menu-icon-user-logout {
						.sprite(@header-logout);
					}

					// Help
					&.ktc-header-top-bar-user-menu-icon-help {
						.sprite(@spg-icon);
					}
				}
			}
		}

		// Button (add content)
		.ktc-header-top-bar-add-content {
			position: relative;
			cursor: pointer;
			float: left;
			margin-top: 12px;
			margin-left: floor(( @grid-gutter-width / 2));

			// Open
			&.open {
				ul.create_content {
					display: block;
				}
			}

			// Icon
			.ktc-header-top-bar-add-content-icon {
				display: inline-block;
				.sprite(@node-add);
			}
			span {
				padding: 5px 8px;
				font-size: 13px;
				line-height: 2em;
				vertical-align: top;
				font-weight: 700;
			}
			ul.create_content {
				display: none;
				position: absolute;
				top: 100%;
				left: 0;
				padding: 0px;
				background-color: #fff;
				z-index: (@zindex-navbar + 10);

				li {
					list-style: none;
					padding: 2px 10px;
					&:hover {
						background-color: @gray-lighter;
					}
				}
			}
		}
	}
}

// Mobile only
@media @media-query-mobile-only {

	// Header
	.ktc-header {

		// Top bar
		.ktc-header-top-bar {
			min-height: @ktc-header-top-bar-height;
			background-color: @ktc-header-background-color;

			// List
			.ktc-header-top-bar-list {
				height: auto;

				// Navigation
				&.ktc-header-top-bar-navigation {

					// Icon
					.ktc-header-top-bar-user-menu-icon {
						margin-top: 0;
					}
				}

				// User login
				&.ktc-header-top-bar-user-login {
					padding-top: 0;
				}
			}

			// Button (add content)
			.ktc-header-top-bar-add-content {
				float: none;
				margin-top: 0;
			}
		}
	}
}

// --------------------------------------------------
// Dropdown
// --------------------------------------------------

// Header
.ktc-header {

	// Dropdown
	.ktc-header-dropdown {
		display: none;
		padding-top: floor((floor( (@ktc-header-top-bar-logo-height - @ktc-header-top-bar-height )) + @grid-gutter-width));

		// Container
		> .container {
			background-color: @ktc-header-background-color;
		}

		// Open
		&.open {
			display: block;
		}

		// Block
		.ktc-block {
			float: left;
			width: 20%;
			padding-left: floor((@grid-gutter-width / 2));
			padding-right: floor((@grid-gutter-width / 2));
                        &.block-panels-mini {
                          .ktc-block-body {
                            padding: 0px 0px;
                            .ktc-aside-heading {
                              border-left-color: @ktc-color-green-background;
                              border-left-width: 8px;
                              border-left-style: solid;
                              .ktc-aside-title {
                                padding: 10px 15px;
                                padding-left: 7px;
                              }
                            }
                          }
                        }

		}
	}
}

// --------------------------------------------------
// Navigation
// --------------------------------------------------

// Header
.ktc-header {

	// Overlay 
	&__overlay {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    background-color: rgba(34,43,47, 0.36);
    position: absolute;
    left: 0;
    top: 75px;
    z-index: 1;
    cursor: pointer;
    opacity: 0;
    // transition: opacity $animation-2, visibility $animation-2;
    &.is-open {
      visibility: visible;
      opacity: 1;
    }
  }

	// Navigation
	.ktc-header-navigation {
		background-color: @ktc-color-dark-grey;

		.navbar-toggle {

			.navbar-toggle-text {
				float: left;
				margin-right: 10px;
				margin-top: -2px;
				color: #fff;
			}
			.navbar-toggle-wrapper-icon-bar {
				float: left;

				.icon-bar {
					background-color: #fff;
				}
			}
		}

		// Nav
		.navbar-nav {
			// margin-left: @ktc-header-top-bar-logo-width;

			// List item
			> li {

				// Link
				> a {
					font-size: 16px;

					&:hover {
						text-decoration: underline;
					}
				}

				// Active
				&.active {

					// Link
					> a {
						text-decoration: underline;
					}
				}

				ul {
					display: none;
					padding: 0 30px;

					a {
						color: rgba(255,255,255, 0.5);
					}
				}

				&.is-open {
					ul {
						display: block;
					}
				}
			}
		}
	}
}

// Tablet and up
@media @media-query-tablet {
	.ktc-header {

		&__overlay {
			top: 175px;
		}

		.ktc-header-navigation {
			.navbar-nav {
				> li {
					> a {
						&:first-child {
							padding-left: 0;
						}
					} 

					&.expanded {
						> a {
							padding-right: 30px;

							&:before {
								right: 10px;
							}
						}
					}

					ul {
						position: absolute;
						top: 100%;
						background: #FFF;
						z-index: 2;
						padding: 15px 0;
						transform: translateX(-50%);
						left: 50%;

						li {
							box-sizing: border-box;
						}

						&:before {
							content: '';
					    display: block;
					    position: absolute;
					    left: 50%;
					    width: 0;
					    height: 0;
					    border-style: solid;
					    bottom: 100%;
					    border-color: transparent transparent #FFF transparent ;
					    border-width: 10px;
					    transform: translateX(-50%);
						}

						a {
							color:  @ktc-color-dark-grey;
							padding: 10px 25px;
							font-weight: 600;
							white-space: nowrap;
							cursor: pointer;
							box-sizing: border-box;
							border-left: 3px solid transparent;

							&:hover {
								color: @ktc-color-green;
								border-color:  @ktc-color-green;
							}

							&.active {
								color: @ktc-color-green;
								border-color:  @ktc-color-green;
							}
						}
					}
				}
			}
		}
	}
}

// Mobile only
@media @media-query-mobile-only {

	// Header
	.ktc-header {

		// Navigation
		.ktc-header-navigation {

			.container {
				padding: 0;
			}

			// Nav
			.navbar-nav {
				margin-left: 0;

				// List item
				> li {
					border-bottom: 1px solid #313B3F;

					// Link
					> a {
						// padding-left: 0;
					}
				}
			}
		}
	}
}

// --------------------------------------------------
// Form
// --------------------------------------------------

// Header
.ktc-header {

	// Form
	form {

		// Button (submit)
		button {
			min-width: 0;
		}
	}
}
