// |--------------------------------------------------------------------------
// | List
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .ktc-list-display
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// List
.ktc-list-display {
	margin-bottom: floor((@grid-gutter-width / 2));

	// Heading
	.ktc-list-display-heading {
		margin-bottom: (0 - @ktc-list-display-title-top-bottom-inner-spacing);

		// Title
		.ktc-list-display-title {
			position: relative;
			display: block;
			font-family: @ktc-list-display-title-font-family;
			font-size: @ktc-list-display-title-font-size;
			font-weight: normal;
			color: @ktc-list-display-title-font-color;
			.small;
			padding: @ktc-list-display-title-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;
			text-transform: uppercase;

			// Icon
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				content: "";
			}
		}
	}

	// Body
	.ktc-list-display-body {
		display: table;
		width: 100%;
		padding-top: 3px;

		// Icon container
		.ktc-list-display-icon-container {
			display: table-cell;
			width: 25px;

			// Icon
			.ktc-list-display-icon {
				display: inline-block;

				// Vote
				&.ktc-list-display-icon-meeting_doodle {
					.sprite(@ktc-icon-vote);
				}

				// Document
				&.ktc-list-display-icon-document {
					.sprite(@ktc-icon-document);
				}

				// News
				&.ktc-list-display-icon-os2web_base_news {
					.sprite(@ktc-icon-news);
				}

				// Network / group
				&.ktc-list-display-icon-group {
					.sprite(@ktc-icon-network);
				}

				// Arrangement
				&.ktc-list-display-icon-arrangement {
					.sprite(@ktc-icon-arrangement);
				}

				// Forum
				&.ktc-list-display-icon-forum_post {
					.sprite(@ktc-icon-forum);
				}

				// Hearing
				&.ktc-list-display-icon-hearing {
					.sprite(@ktc-icon-hearing);
				}

				// Article
				&.ktc-list-display-icon-artikler {
					.sprite(@ktc-icon-article);
				}
			}
		}

		// Content
		.ktc-list-display-body-content {
			display: table-cell;
			padding: 0;
			margin: 0;
			vertical-align: middle;

			// Headline
			.ktc-list-display-headline {

				// Headline and link
				&,
				> a {
					font-family: @ktc-list-display-headline-font-family;
					font-size: @ktc-list-display-headline-font-size;
					font-weight: @ktc-list-display-headline-font-weight;
					color: @ktc-list-display-headline-font-color;
					margin: 0;
				}
			}

			// Sub headline
			.ktc-list-display-subheadline {
				.small; // Include small class
				margin: 0;
			}

			// Simple date
			.ktc-date {
				.small; // Include small class
			}

			// Paragraph
			p {
				margin-bottom: 3px;
			}
		}
	}
}

// Artikler
.ktc-list-display-artikler {
	margin-bottom: 15px;

	.ktc-list-display-headline {
		font-size: @font-size-h5;
		margin: 2px 0;
	}

	.ktc-date {
		font-size: @font-size-small;
		margin-bottom: 1px;
	}

	.ktc-list-display-author {
		margin-top: 3px;
	}

	// Clearfix
	&:extend(.clearfix all);
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// List
.ktc-mixin-list-display(@color-font, @icon-pin, @icon-pin-width, @icon-pin-height) {

	// List
	.ktc-list-display,
	&.ktc-list-display {

		// Heading
		> .ktc-list-display-heading {

			// Title
			.ktc-list-display-title {
				padding-left: floor( (@icon-pin-width + @ktc-list-display-title-icon-spacing) );
				margin: 0;

				// Pin icon
				&:before {
					margin-top: floor((0 - (@icon-pin-height / 2) ));
					.sprite(@icon-pin);
				}
			}

			// Link title
			a.ktc-list-display-title {

				// Hover
				&:hover {
					color: @color-font;
				}
			}
		}

		// Body
		.ktc-list-display-body {

			// Headline
			.ktc-list-display-headline {

				// Link
				> a {

					// Hover state
					&:hover {
						color: @color-font;
					}
				}

				// Color
				&.ktc-list-display-headline-color {

					// Link
					> a {
						color: @color-font;
					}
				}
			}
		}
	}
}

// Default
.ktc-mixin-list-display(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);

// Green
.ktc-green {
	.ktc-mixin-list-display(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);
}

// Blue
.ktc-blue {
	.ktc-mixin-list-display(@ktc-color-blue-font, @ktc-icon-pin-blue, @ktc-icon-pin-blue-width, @ktc-icon-pin-blue-height);
}

// Gold
.ktc-gold {
	.ktc-mixin-list-display(@ktc-color-gold-font, @ktc-icon-pin-gold, @ktc-icon-pin-gold-width, @ktc-icon-pin-gold-height);
}

// Red
.ktc-red {
	.ktc-mixin-list-display(@ktc-color-red-font, @ktc-icon-pin-red, @ktc-icon-pin-red-width, @ktc-icon-pin-red-height);
}
