// |--------------------------------------------------------------------------
// | List
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .ktc-list-display-large
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// List
.ktc-list-display-large {
	margin-bottom: floor((@grid-gutter-width / 2));

	// Heading
	.ktc-list-display-large-heading {
		margin-bottom: (0 - @ktc-list-display-large-title-top-bottom-inner-spacing);

		// Title
		.ktc-list-display-large-title {
			position: relative;
			display: block;
			font-family: @ktc-list-display-large-title-font-family;
			font-size: @ktc-list-display-large-title-font-size;
			font-weight: normal;
			color: @ktc-list-display-large-title-font-color;
			.small;
			padding: @ktc-list-display-large-title-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;
			text-transform: uppercase;

			// Icon
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				content: "";
			}
		}
	}

	// Body
	.ktc-list-display-large-body {

		// Headline
		.ktc-list-display-large-headline {

			// Headline and link
			&,
			> a {
				font-family: @ktc-list-display-large-headline-font-family;
				font-size: @ktc-list-display-large-headline-font-size;
				font-weight: @ktc-list-display-large-headline-font-weight;
				color: @ktc-list-display-large-headline-font-color;
				margin: 0;
				margin-bottom: 5px;
			}
		}

		// Sub headline
		.ktc-list-display-large-subheadline {
			.small; // Include small class
			margin: 0;
		}

		// Simple date
		.ktc-date {
			.small; // Include small class
		}

		// Paragraph
		p {
			margin-bottom: 3px;
		}
	}

	// Footer
	.ktc-footer {
		.ktc-mixin-content-full-width();
	}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// List
.ktc-mixin-list-display-large(@color-font, @icon-pin, @icon-pin-width, @icon-pin-height) {

	// List
	.ktc-list-display-large,
	&.ktc-list-display-large {

		// Heading
		> .ktc-list-display-large-heading {

			// Title
			.ktc-list-display-large-title {
				padding-left: floor( (@icon-pin-width + @ktc-list-display-large-title-icon-spacing) );
				margin: 0;

				// Pin icon
				&:before {
					margin-top: floor( (0 - (@icon-pin-height / 2)));
					.sprite(@icon-pin);
				}
			}

			// Link title
			a.ktc-list-display-large-title {

				// Hover
				&:hover {
					color: @color-font;
				}
			}
		}

		// Body
		.ktc-list-display-large-body {

			// Headline
			.ktc-list-display-large-headline {

				// Link
				> a {

					// Hover state
					&:hover {
						color: @color-font;
					}
				}

				// Color
				&.ktc-list-display-large-headline-color {

					// Link
					> a {
						color: @color-font;
					}
				}
			}
		}
	}
}

// Default
.ktc-mixin-list-display-large(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);

// Green
.ktc-green {
	.ktc-mixin-list-display-large(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);
}

// Blue
.ktc-blue {
	.ktc-mixin-list-display-large(@ktc-color-blue-font, @ktc-icon-pin-blue, @ktc-icon-pin-blue-width, @ktc-icon-pin-blue-height);
}

// Gold
.ktc-gold {
	.ktc-mixin-list-display-large(@ktc-color-gold-font, @ktc-icon-pin-gold, @ktc-icon-pin-gold-width, @ktc-icon-pin-gold-height);
}

// Red
.ktc-red {
	.ktc-mixin-list-display-large(@ktc-color-red-font, @ktc-icon-pin-red, @ktc-icon-pin-red-width, @ktc-icon-pin-red-height);
}
