.masonry-sizer,
.masonry-item {
	float: left;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
}

// Tablet and above
@media (min-width: @screen-sm-min) {

	.masonry-sizer,
	.masonry-item {
		float: left;
		width: 49.99%;
		padding-left: 10px;
		padding-right: 10px;
	}

	// Masonry item
	.masonry-item {

		// Magazine
		&.masonry-item-width-magazine {
			width: 99.99%;
		}
	}
}