// |--------------------------------------------------------------------------
// | Minor
// |--------------------------------------------------------------------------
// |
// | Applicable for minor stuff for which, it makes no sense to create a
// | dedicated file.
// |

// --------------------------------------------------
// CKeditor
// --------------------------------------------------

// --------------------------------------------------
// CKeditor
// --------------------------------------------------

.cke_editable_themed {
	background-color: #fff;
	padding: 15px;
}

body.page-search {

	.view-filters.ktc-content {
		margin-bottom: @grid-gutter-width;
	}

	.view-filters {

		#edit-search-api-views-fulltext-wrapper,
		button.form-submit {
			margin-top: 0;
		}
	}
}

body.node-type-page {

	.region-content {

		.ktc-content-wide {
			padding-bottom: 60px;
		}
	}
}

//
.field-type-image {
	.button {
		.btn;
		.btn-default;
		margin-right: 5px;
	}
}

// Add to calendar

/* General */
.addthisevent 							{visibility:hidden;}
.addthisevent span 						{display:none!important;}
.addthisevent .data 					{display:none!important;}

/* The button */
.addthisevent-drop 						{display:inline-block;position:relative;z-index:999998;color:#333;text-decoration:none;cursor:pointer;}
.addthisevent-drop:hover 				{color:#555;text-decoration:underline;}

/* The drop down */
.addthisevent_dropdown {
	width:200px;position:absolute;z-index:99999;padding:6px 0px 0px 0px;background:#fff;text-align:left;display:none;margin-top:4px;margin-left:-1px;border-top:1px solid #c8c8c8;border-right:1px solid #bebebe;border-bottom:1px solid #a8a8a8;border-left:1px solid #bebebe;-moz-border-radius:2px;-webkit-border-radius:2px;-webkit-box-shadow:1px 3px 6px rgba(0,0,0,0.15);-moz-box-shadow:1px 3px 6px rgba(0,0,0,0.15);box-shadow:1px 3px 6px rgba(0,0,0,0.15);

	span 			{display:block;line-height:100%;background:#fff;text-decoration:none;font-size:14px;color:#333;padding:9px 10px 9px 40px;}
	span:hover 		{background-color:#f4f4f4;color:#000;text-decoration:none;font-size:14px;}
	em 				{color:#999!important;font-size:12px!important;}
	.frs 			{
		background:#fff;color:#cacaca!important;cursor:pointer;font-size:9px!important;font-style:normal!important;font-weight:normal!important;line-height:110%!important;padding-left:10px;position:absolute;right:10px;text-align:right;text-decoration:none;top:5px;z-index:101;
	}
	.frs:hover 		{
		color:#999!important;
	}
	.ateappleical:before 	{ .sprite(@dropdown-apple-t1); }
	.ateoutlook:before 		{ .sprite(@dropdown-outlook-t1); }
	.ateoutlookcom:before 	{ .sprite(@dropdown-outlook-t1); }
	.ategoogle:before 		{ .sprite(@dropdown-google-t1);	}
	.ateyahoo:before 		{ .sprite(@dropdown-yahoo-t1); }
	.atefacebook:before 	{ .sprite(@dropdown-facebook-t1); }

	.ateappleical,
	.ateoutlook,
	.ateoutlookcom,
	.ategoogle,
	.ateyahoo,
	.atefacebook {
		&:before {
			content: "";
			float: left;
			margin-right: 5px;
		}
	}





	.copyx 			{ height:21px;display:block;position:relative;cursor:default; }
	.brx 			{
		height:1px;overflow:hidden;background:#e0e0e0;position:absolute;z-index:100;left:10px;right:10px;top:9px;
	}
}


// Calendar (full size) table
.calendar-calendar .month-view .full td.multi-day .inner .monthview .cutoff,
.calendar-calendar .month-view .full td.multi-day div.monthview {
	background-color: @ktc-color-gold-background;
}
.calendar-calendar td .inner div.day a {
	color: @gray-darker;
}

.calendar-calendar td span.date-display-single {
	color: #fff;
}
.calendar-calendar .month-view .full td.single-day div.monthview {
	background-color: @ktc-color-green-background;
}

.calendar-calendar .month-view .full td.date-box.today {
	border-color: @ktc-color-blue;
}

// Close button in jQuery modal
.ui-dialog .ui-dialog-titlebar-close {
	background-color: @brand-danger;
	border: 1px solid darken(@brand-danger, 10%);
	border-radius: @border-radius-base;

	&:after {
		position: absolute;
		display: inline-block;
		content: "x";
		color: #fff;
		top: -1px;
		left: 5px;
	}
}

// "Add this" button overlapse
.addthisevent-drop {
	z-index: 100;
}

// Pager
.ktc-aside-action {

	ul.pager {
		position: absolute;
		right: 15px;
		top: -31px;

		.pager-current {
			display: none;
		}
		.pager-previous {

			margin-right: 5px;
			a {
				.sprite(@arrow-left);
				background-color: transparent;
				border: none;
				padding: 0;
			}
		}

		.pager-next a {
			.sprite(@arrow-right);
			background-color: transparent;
			border: none;
			padding: 0;
		}
	}
}

// Hearing status (full node, hearing)
#ktc-hearing-set-status {
	text-align: center;

	.form-group {
		text-align: left;
	}

	.btn {
		min-width: 100px;
		margin-top: -7px;
	}
}
