// |--------------------------------------------------------------------------
// | Stand alone
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .ktc-stand-alone-panel
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Stand alone panel pane
.ktc-stand-alone-panel-pane {

  .ktc-stand-alone-panel-pane-heading {
    background-color: @ktc-color-dark-content-background;
    margin-bottom: 10px;
    border-top-left-radius: 40px;

    .ktc-stand-alone-panel-pane-heading-title {
      display: block;
      .h4;
      color: #fff;
      padding: 30px 20px;
      margin: 0;
    }
  }
}

// --------------------------------------------------
// Colouring
// --------------------------------------------------

// Stand alone panel pane
.ktc-stand-alone-panel-pane {

  // Gold
  &.ktc-stand-alone-panel-pane-gold {

    .ktc-stand-alone-panel-pane-heading {
      background-color: @ktc-color-gold-background;
    }
  }

  // Blue
  &.ktc-stand-alone-panel-pane-blue {

    .ktc-stand-alone-panel-pane-heading {
      background-color: @ktc-color-blue-background;
    }
  }

  // Green
  &.ktc-stand-alone-panel-pane-green {

    .ktc-stand-alone-panel-pane-heading {
      background-color: @ktc-color-green-dark-background;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile
@media @media-query-mobile {

  // Stand alone panel pane
  .ktc-stand-alone-panel-pane {}
}

// Mobile - only
@media @media-query-mobile-only {

  // Stand alone panel pane
  .ktc-stand-alone-panel-pane {}
}

// Tablet
@media @media-query-tablet {

  // Stand alone panel pane
  .ktc-stand-alone-panel-pane {}
}

// Tablet - only
@media @media-query-tablet-only {

  // Stand alone panel pane
  .ktc-stand-alone-panel-pane {}
}

// Desktop
@media @media-query-desktop {

  // Stand alone panel pane
  .ktc-stand-alone-panel-pane {}
}

// Desktop - only
@media @media-query-desktop-only {

  // Stand alone panel pane
  .ktc-stand-alone-panel-pane {}
}

// Large desktop
@media @media-query-large-desktop {

  // Stand alone panel pane
  .ktc-stand-alone-panel-pane {}
}

// Large desktop - only
@media @media-query-large-desktop-only {

  // Stand alone panel pane
  .ktc-stand-alone-panel-pane {}
}

// Print
@media print {

  // Stand alone panel pane
  .ktc-stand-alone-panel-pane {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Stand alone panel pane mixin
.ktc-mixin-stand-alone-panel-pane() {}
