// |--------------------------------------------------------------------------
// | Stand alone
// |--------------------------------------------------------------------------
// |
// | This file contains styles for the following:
// | - .ktc-stand-alone-panel
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Stand alone panel
.ktc-stand-alone-panel {

  .ktc-stand-alone-heading {
    background-color: @ktc-color-dark-content-background;

    .ktc-stand-alone-heading-title {
      display: block;
      .h3;
      color: #fff;
      padding: 10px @ktc-default-left-right-inner-spacing;
      margin: 0;
    }
  }
}

// --------------------------------------------------
// Colouring
// --------------------------------------------------

// Stand alone panel
.ktc-stand-alone-panel {

  // Gold
  &.ktc-stand-alone-panel-gold {

    .ktc-stand-alone-heading {
      background-color: @ktc-color-gold-background;
    }
  }

  // Blue
  &.ktc-stand-alone-panel-blue {

    .ktc-stand-alone-heading {
      background-color: @ktc-color-blue-background;
    }
  }

  // Green
  &.ktc-stand-alone-panel-green {

    .ktc-stand-alone-heading {
      background-color: @ktc-color-green-background;
    }
  }
}

// --------------------------------------------------
// Responsive
// --------------------------------------------------

// Mobile
@media @media-query-mobile {

  // Stand alone panel
  .ktc-stand-alone-panel {}
}

// Mobile - only
@media @media-query-mobile-only {

  // Stand alone panel
  .ktc-stand-alone-panel {}
}

// Tablet
@media @media-query-tablet {

  // Stand alone panel
  .ktc-stand-alone-panel {}
}

// Tablet - only
@media @media-query-tablet-only {

  // Stand alone panel
  .ktc-stand-alone-panel {}
}

// Desktop
@media @media-query-desktop {

  // Stand alone panel
  .ktc-stand-alone-panel {}
}

// Desktop - only
@media @media-query-desktop-only {

  // Stand alone panel
  .ktc-stand-alone-panel {}
}

// Large desktop
@media @media-query-large-desktop {

  // Stand alone panel
  .ktc-stand-alone-panel {}
}

// Large desktop - only
@media @media-query-large-desktop-only {

  // Stand alone panel
  .ktc-stand-alone-panel {}
}

// Print
@media print {

  // Stand alone panel
  .ktc-stand-alone-panel {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Stand alone panel mixin
.ktc-mixin-stand-alone-panel() {}
