.udgivelse.udgivelse-editor {
  position: relative;
  height: 400px;
  width: 300px;
  .view-content {
    height: 100%;
    width: 100%;
    position: relative;
  }
}
.udgivelse-side {}
.udgivelse-editor  {
  .page-section {
    float: left;
    position: relative;
    background-color: #FFF; 
    &.udgivelse-annonce {
      background-color: #dedede;
    }
    &.udgivelse-artikel {
      background-color: #d7f8fd
    }
    .views-field {
      padding: 10px;
     

    }
  }
  .width-100 {
    width: 100%;
  }
  .width-75 {
    width: 75%;
  }
  .width-50 {
    width: 50%;
  }
  .width-25 {
    width: 25%;
  }
  .height-100 {
    height: 100%;
  }
  .height-75 {
    height: 75%;
  }
  .height-50 {
    height: 50%;
  }
  .height-25 {
    height: 25%;
  }
}
.page-field-collection-field-magasin-indhold-edit {
  .region-sidebar-second {
    margin-top: 0;
  }
  .ktc-wrapper {
    padding-top: 5px;
  }
}