.idea/
logs/*
sessions/*
tmp/*
private/*
site
d7
production-to-test.sh
production-to-preprod.sh
public_html/sites/ktc.dk.local
public_html/sites/sites.php
public_html/sites/all/translations
public_html/sites/ktc.dk.spint5.local
ktcdkfs.sql
public_html/sites/all/themes/ktc/less/style.css
public_html/sites/all/modules/contrib/backup_migrate/
public_html/sites/all/modules/contrib/reroute_email/
scripts/import/exporter/files.json
scripts/import/exporter/makemeeting.json
scripts/import/exporter/nodes.json
scripts/import/exporter/users.json
scripts/json_import/
/public_html/sites/*.dd
public_html/sites/*.dd

# Docker
docker/data/db
docker/data/db-init/*
!docker/data/db-init/.gitkeep