.paragraphs-item-ktc-artikelafsnit-citat {
  text-align: right;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  .ktc-article-section-body {
    font-size: 200%;
    padding-right: 20px;
  }
  .ktc-article-section-body-extra {
    padding-right: 20px;
    padding-top: 0;
  }
}

.paragraphs-item-ktc-artikel-billedserie {
  .field-type-image {
    .field-items {
      .make-row();
      .field-item {
        .make-xs-column(6);
        .make-sm-column(3);
        padding-bottom: 20px;
        img {
          min-width: 100%;
          height: auto;
        }
      }
    }
  }
}