// |--------------------------------------------------------------------------
// | Article
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .ktc-article-trompet
// | - .ktc-article-headline
// | - .ktc-article-lead
// | - .ktc-article-section
// | - .ktc-article-section-type-faktaboks
// | - .ktc-article-section-type-faktaboksyellow
// | - .ktc-article-section-type-faktaboksgreen
// | - .ktc-article-section-type-faktaboksblue
// | - .ktc-article-section-type-faktaboksblack
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Section
.ktc-article-section {
  padding: 20px 0;

  // Full width elements
  &.ktc-article-section-type-faktaboks,
  &.ktc-article-section-type-faktaboksgreen,
  &.ktc-article-section-type-faktaboksyellow,
  &.ktc-article-section-type-faktaboksblue,
  &.ktc-article-section-type-faktaboksblack,
  &.ktc-paragraph-faktaboksgreen,
  &.ktc-paragraph-faktaboksblack,
  &.ktc-paragraph-faktaboksblue, 
  &.ktc-paragraph-faktaboksyellow,
  &.ktc-article-section-type-billedserie {
	border-top: 10px solid @body-bg;
	border-bottom: 10px solid @body-bg;
	.ktc-mixin-content-wide-full-width();
  }
  &.entity-paragraphs-item {
    .contextual-links-wrapper, 
    .contextual-links-region {
       display: none;
    }
  }  

  // Headline (all)
  .ktc-article-section-headline {

	// Headlines
	h1, h2, h3, h4, h5, h6 {
	  font-size: @font-size-h4;
	  margin-top: 0;
	}
  }

  // Image
  .ktc-article-section-image {
	width: 100%;
  }

  // Extra body
  .ktc-article-section-body-extra {
	font-style: italic;
	padding: 10px 0;
  }

  // Body
  .ktc-article-section-body {

	a {
	  font-weight: bold;
	}
  }
}

// --------------------------------------------------
// Text with headline
// --------------------------------------------------

// Section
.ktc-article-section {

  // Text w. headline
  &.ktc-article-section-type-afsnit {

  }
}

// --------------------------------------------------
// Text and image with headline
// --------------------------------------------------

// Section
.ktc-article-section {

  // Text and image w. headline
  &.ktc-article-section-type-afsnitb {
	.row;

	// Headline
	.ktc-article-section-headline {
	  .make-xs-column(12);
	}

	// Image
	.ktc-article-section-image {
	  .make-xs-column(12);
	  .make-sm-column(5);
	}

	// Body
	.ktc-article-section-body {
	  .make-xs-column(12);
	  .make-sm-column(7);
	}

	// Extra body
	.ktc-article-section-body-extra {
	  .make-xs-column(12);
	}

	// Left aligned image
	&.ktc-article-section-type-afsnitb-image-left {

	  // Image
	  .ktc-article-section-image {
		.make-sm-column-pull(7);
	  }

	  // Body
	  .ktc-article-section-body {
		.make-sm-column-push(5);
	  }
	}

	// Right aligned image
	&.ktc-article-section-type-afsnitb-image-right {
	}
  }
}

// --------------------------------------------------
// Full width image
// --------------------------------------------------

// Section
.ktc-article-section {

  // Large image
  &.ktc-article-section-type-stortbillede {
  }
}

// --------------------------------------------------
// Indented
// --------------------------------------------------

// Section
.ktc-article-section {

  // Indented
  &.ktc-article-section-type-indrykket {
	padding-left: 40px;
  }
}

// --------------------------------------------------
// Quote
// --------------------------------------------------

// Section
.ktc-article-section {

  // Quote
  &.ktc-article-section-type-citat,
  &.ktc-paragraph-citat{
	border-top: 2px solid #e0e4e5;
	border-bottom: 2px solid #e0e4e5;
	text-align: center;
	padding-left: 30px;
	padding-right: 30px;

	// Body
	.ktc-article-section-body {

	  // Paragraph
	  p {
		font-weight: normal;
		font-style: italic;
		font-size: @font-size-h3;
		color: @ktc-default-color-headline;
		margin-bottom: 0;

		// Quotation marks
		&:after,
		&:before {
		  content: '"';
		}
	  }
	}

	// Extra body
	.ktc-article-section-body-extra {

	  &,
	  span,
	  p {
		font-style: italic;
		color: @ktc-color-green-font;
	  }
	}
  }
}

// --------------------------------------------------
// Gallery
// --------------------------------------------------

// Section
.ktc-article-section {

  // Gallery
  &.ktc-article-section-type-billedserie {

	// Photoswipe gallery
	.photoswipe-gallery {
	  .ktc-mixin-photoswipe-gallery-wrapper();
	}
  }
}

// --------------------------------------------------
// FAQ - blue
// --------------------------------------------------
.ktc-article-section-type-faktaboksblue {
  .ktc-article-section-body-extra {
	color: lighten(@ktc-color-blue-background, 20%);
  }

  a {
	color: #ffffff;
	font-weight: bold;
  }
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// FAQ
.ktc-mixin-article-section-faq(@background-color, @headline-font-color, @body-font-color) {

  & {
	background-color: @background-color;

	// Headline
	.ktc-article-section-headline {

	  // Headlines
	  h1, h2, h3, h4, h5, h6 {
		color: @headline-font-color;
	  }
	}

	// Body
	.ktc-article-section-body {

	  // Text
	  &, span, p {
		color: @body-font-color;
	  }

	  // Link
	  a, a:hover {
		color: @body-font-color;
		font-weight: bold;
	  }
	}
  }
}

// Section
.ktc-mixin-article-section-typography(@headline-font-color) {

  & {

	// Headline
	.ktc-article-section-headline {

	  // Headlines
	  h1, h2, h3, h4, h5, h6 {
		color: @headline-font-color;
	  }
	}

	// Quote
	&.ktc-article-section-type-citat {

	  // Extra body
	  .ktc-article-section-body-extra {
		color: @headline-font-color;
	  }
	}
  }
}

// Default
.ktc-article-section {
  .ktc-mixin-article-section-typography(@ktc-color-green-font);
}

// Technique and environment (blue)
.tech-env {

  // Section
  .ktc-article-section {
	.ktc-mixin-article-section-typography(@ktc-color-blue-font);
  }
}

// Network (gold)
.og-context.og-context-node {

  // Section
  .ktc-article-section {
	.ktc-mixin-article-section-typography(@ktc-color-gold-font);
  }
}

// Not network (green)
.no-network {

  // Section
  .ktc-article-section {
	.ktc-mixin-article-section-typography(@ktc-color-green-font);
  }
}

// FAQ - green
.ktc-article-section-type-faktaboksgreen {
  .ktc-mixin-article-section-faq(@ktc-color-green-background, lighten(@ktc-color-green-background, 20%), @ktc-color-green-background-font);
}
.ktc-paragraph-faktaboksgreen {
  .ktc-mixin-article-section-faq(@ktc-color-green-background, lighten(@ktc-color-green-background, 20%), @ktc-color-green-background-font);
}
// FAQ - gold / yellow
.ktc-article-section-type-faktaboksyellow {
  .ktc-mixin-article-section-faq(@ktc-color-gold-background, lighten(@ktc-color-gold-background, 20%), @ktc-color-gold-background-font);
}
.ktc-paragraph-faktaboksyellow {
  .ktc-mixin-article-section-faq(@ktc-color-gold-background, lighten(@ktc-color-gold-background, 20%), @ktc-color-gold-background-font);
}
// FAQ - blue
.ktc-article-section-type-faktaboksblue {
  .ktc-mixin-article-section-faq(@ktc-color-blue-background, lighten(@ktc-color-blue-background, 20%), @ktc-color-blue-background-font);
}
.ktc-paragraph-faktaboksblue {
  .ktc-mixin-article-section-faq(@ktc-color-blue-background, lighten(@ktc-color-blue-background, 20%), @ktc-color-blue-background-font);
}

// FAQ - black
.ktc-article-section-type-faktaboksblack {
  .ktc-mixin-article-section-faq(@ktc-color-dark-content-background, lighten(@ktc-color-dark-content-background, 20%), @ktc-color-dark-content-background-font);
}
.ktc-paragraph-faktaboksblack {
  .ktc-mixin-article-section-faq(@ktc-color-dark-content-background, lighten(@ktc-color-dark-content-background, 20%), @ktc-color-dark-content-background-font);
}


// --------------------------------------------------
// Reset
// --------------------------------------------------

// Section wrapper
.ktc-article-section-wrapper {
  
 // Reset from field_collection contrib CSS
  .field-collection-view, 
  .paragraphs-items{
	padding: 0;
	margin: 0;
	border-bottom: 0;

	.field-collection-view-links,
    .paragraphs-items-view-links {
	  margin: 0;
	  padding: 0;

	  > li {
		padding-left: 6px;
	  }

	  // Link
	  a {
		margin-right: 0;
		.btn;
		.btn-default;
	  }

	  // Edit
	  .edit {

		a {
		  .btn-info;
		}
	  }

	  // Delete
	  .delete {

		a {
		  .btn-danger;
		}
	  }
	}
  }
  .field-collection-container .field-items .field-item {
	margin-bottom: 0;
  }
  .field-collection-view .entity-field-collection-item {
	width: auto;
	float: none;
  }

  .field-collection-container,
  .paragraphs-items-field-paragraphs {
	border: 0;
	margin: 0;

	.action-links-field-collection-add{
	  padding: 0;
	  margin: 0;

	  > li {
		padding: 0;
	  }

	  // Link
	  a {
		.btn;
		.btn-success;
	  }
	}
   .action-links-paragraphs-add{
	  padding: 0;
	  margin: 0;  

	  // Link
	  a.dropdown-toggle {
		.btn;
		.btn-success;
	  }
	 }
  }
}
 ul.paragraphs-items-view-links {   
   float: right;
   font-size: 0.821em;
   list-style-type: none;
   width: auto;
   z-index: 9999;  
   li {
      float: left;
   }
}

ul.action-links-paragraphs-add {
    float: right;  
    clear: both;
}