.paragraphs-item-ktc-artikelafsnit-citat .content {
  text-align: right;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
  .ktc-article-section-body {
    font-size: 200%;
    padding-right: 20px;
  }
  .ktc-article-section-body-extra {
    padding-right: 20px;
    padding-top: 0;
  }
}

.paragraphs-item-ktc-artikel-billedserie {
  .field-type-image {
    .field-items {
      .make-row();
      .field-item {
        .make-xs-column(6);
        .make-sm-column(3);
        padding-bottom: 20px;
        img {
          min-width: 100%;
          height: auto;
        }
      }
    }
  }
}

.paragraphs-item-ktc-artikelafsnit-tekst-billede {
  .ktc-article-section-image {
    margin-bottom: 10px;
  }
}

.paragraphs-item-ktc-related-artikle {
  .ktc-teaser {
    display: block;
  }
}

.page-field-collection-field-magasin-indhold {
  .ktc-article-section {
    padding: 0;
    margin: 0;
    &.entity-paragraphs-item {
      &.contextual-links-region  {
      display: block;  
      }
    }
  }
}



