// --------------------------------------------------
// Italic
// --------------------------------------------------

// Italic (from .ktc-date)
.ktc-editor-italic {
  font-size: @ktc-date-font-size;
  font-style: @ktc-date-font-style;
  font-weight: @ktc-date-font-weight;
  color: @ktc-color-green-font;
}

// Headlines
h1, h2, h3, h4, h5, h6 {

  // Date
  + .ktc-editor-italic {
    margin-top: -3px;
  }
}

// --------------------------------------------------
// Smaller
// --------------------------------------------------

.ktc-editor-smaller {
  font-size: 10px;
}
