// |--------------------------------------------------------------------------
// | Footer
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-footer
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Footer
.ktc-footer {
	background-color: @ktc-type-footer-background-color;
	border: 0;
	border-radius: 0;
	padding: @ktc-type-footer-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;

	// Button
	.ktc-footer-button {
		position: relative;
		color: #fff;
		float: left;

		// Additional elements
		+ .ktc-footer-button {
			margin-left: 10px;
		}

		// Right
		&.pull-right {
			float: right;
		}

		// Icon
		&:before {
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			content: "";
			margin-right: 10px;
		}

		// Comment
		&.ktc-footer-button-comment {
			padding-left: floor( (@ktc-icon-comment-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-comment-height / 2 )));
				.sprite(@ktc-icon-comment);
			}
		}

		// Viewers
		&.ktc-footer-button-viewers {
			padding-left: floor( (@ktc-icon-viewers-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-viewers-height / 2 )));
				.sprite(@ktc-icon-viewers);
			}
		}

		// Hearing
		&.ktc-footer-button-hearing {
			padding-left: floor( (@ktc-icon-hearing-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-hearing-height / 2 )));
				.sprite(@ktc-icon-hearing);
			}
		}

		// Forum
		&.ktc-footer-button-forum_post {
			padding-left: floor( (@ktc-icon-forum-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-forum-height / 2 )));
				.sprite(@ktc-icon-forum);
			}
		}

		// Article
		&.ktc-footer-button-article {
			padding-left: floor( (@ktc-icon-article-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-article-height / 2 )));
				.sprite(@ktc-icon-article);
			}
		}

		// Vote
		&.ktc-footer-button-meeting_doodle {
			padding-left: floor( (@ktc-icon-vote-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-vote-height / 2 )));
				.sprite(@ktc-icon-vote);
			}
		}

		// News
		&.ktc-footer-button-os2web_base_news {
			padding-left: floor( (@ktc-icon-news-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-news-height / 2 )));
				.sprite(@ktc-icon-news);
			}
		}

		// Private
		&.ktc-footer-button-private {
			padding-left: floor( (@ktc-icon-private-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-private-height / 2 )));
				.sprite(@ktc-icon-private);
			}
		}

		// Arrangement
		&.ktc-footer-button-arrangement {
			padding-left: floor( (@ktc-icon-arrangement-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-arrangement-height / 2 )));
				.sprite(@ktc-icon-arrangement);
			}
		}

		// Document
		&.ktc-footer-button-document {
			padding-left: floor( (@ktc-icon-document-width + @ktc-type-footer-icon-spacing) );

			// Icon
			&:before {
				margin-top: floor((0 - (@ktc-icon-document-height / 2 )));
				.sprite(@ktc-icon-document);
			}
		}
	}

	// Clearfix
	&:extend(.clearfix all);
}