// |--------------------------------------------------------------------------
// | Full width image
// |--------------------------------------------------------------------------
// |
// | Provide styling for full-width-images.
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Full width image
.ktc-full-width-image {

	// Image
	img {
		min-width: 100%;
		height: auto;
	}
}

// Teaser
.ktc-teaser {

	// Body
	.ktc-teaser-body {

		// Full width image
		.ktc-full-width-image {
			margin-top: (0 - @ktc-teaser-body-top-bottom-inner-spacing);
			margin-left: (0 - @ktc-default-left-right-inner-spacing);
			margin-right: (0 - @ktc-default-left-right-inner-spacing);
		}
	}
}

// Aside
.ktc-aside {

	// Body
	.ktc-aside-body {

		// Full width image
		.ktc-full-width-image {
			margin-top: (0 - @ktc-aside-body-top-bottom-inner-spacing);
			margin-left: (0 - @ktc-default-left-right-inner-spacing);
			margin-right: (0 - @ktc-default-left-right-inner-spacing);
		}
	}
}

// Box
.ktc-box {

	// Full width image
	.ktc-full-width-image {
//		margin-top: (0 - @ktc-content-top-bottom-inner-spacing);
		margin-left: (0 - @ktc-default-left-right-inner-spacing);
		margin-right: (0 - @ktc-default-left-right-inner-spacing);
	}
}

// Content
.ktc-content {

	// Full width image
	.ktc-full-width-image {
		margin-top: (0 - @ktc-content-top-bottom-inner-spacing);
		margin-left: (0 - @ktc-default-left-right-inner-spacing);
		margin-right: (0 - @ktc-default-left-right-inner-spacing);
	}
}

// Wide content
.ktc-content-wide {

	// Full width image
	.ktc-full-width-image {
		margin-top: (0 - @ktc-content-top-bottom-inner-spacing);
		margin-left: (0 - @ktc-default-wide-left-right-inner-spacing);
		margin-right: (0 - @ktc-default-wide-left-right-inner-spacing);
	}
}