// |--------------------------------------------------------------------------
// | Footer
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-node-header
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Title
.ktc-node-title {

  // Headlines
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-size: @font-size-h3;
	color: @ktc-default-color-headline;
  }
}

.node-type-arrangement {
  .ktc-node-title {
	margin: 0;
  }
}

// Title (small)
.ktc-node-title-small {

  // Headlines
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-size: 18px;
	color: @ktc-default-color-headline;
  }
}

// Extra small
.ktc-node-title-xs {
  font-size: @font-size-h5;
  border-top: 2px solid #e9e9dd;
  padding-top: 11px;
  padding-bottom: 2px;
  margin: 0;
  margin-top: 15px;
}

// Light (thin)
.ktc-node-title-light {

  // Headlines
  &,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
	font-weight: normal;
  }
}

// Trompet
.ktc-node-trompet {
  font-family: @headings-font-family;
  font-size: @font-size-base;
  line-height: @headings-line-height;
  font-weight: bold;
  text-transform: uppercase;
}

// Lead
.ktc-node-lead {
  font-family: @headings-font-family;
  font-size: floor((@font-size-h4 - 2px));
  line-height: @headings-line-height;
  margin-bottom: 5px;
}

// Node header
.ktc-node-header {
  background-color: @ktc-type-node-header-background-color;
  border: 0;
  border-radius: 0;

  .view-content,
  .view-footer {

	// Clearfix
	&:extend(.clearfix all);
  }

  .view-content {
	padding: @ktc-type-node-header-top-bottom-inner-spacing 0;
	border-bottom: 2px solid #e0e4e5;
  }

  .view-footer {

	.shareknapper {
	  float: right;
	}
  }

  // Button
  .ktc-node-header-button {
	position: relative;
	color: @ktc-default-color-headline;
	float: left;
	font-size: @font-size-large;
	font-weight: bold;

	// Additional elements
	+ .ktc-node-header-button {
	  margin-left: 6px;
	}

	// Right
	&.pull-right {
	  float: right;
	}

	// Type
	&.ktc-node-header-button-type {
	  font-weight: normal;
	}

	// Icon
	&:before {
	  display: block;
	  position: absolute;
	  top: 50%;
	  left: 0;
	  content: "";
	  margin-right: 10px;
	}

	// Comment
	&.ktc-node-header-button-comment {
	  padding-left: floor( (@ktc-icon-comment-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-comment-height / 2 )));
		.sprite(@ktc-icon-comment);
	  }
	}

	// Viewers
	&.ktc-node-header-button-viewers {
	  padding-left: floor( (@ktc-icon-viewers-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-viewers-height / 2 )));
		.sprite(@ktc-icon-viewers);
	  }
	}

	// Hearing
	&.ktc-node-header-button-hearing {
	  padding-left: floor( (@ktc-icon-hearing-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-hearing-height / 2 )));
		.sprite(@ktc-icon-hearing);
	  }
	}

	// Forum
	&.ktc-node-header-button-forum_post {
	  padding-left: floor( (@ktc-icon-forum-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-forum-height / 2 )));
		.sprite(@ktc-icon-forum);
	  }
	}

	// Article
	&.ktc-node-header-button-artikler {
	  padding-left: floor( (@ktc-icon-article-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-article-height / 2 )));
		.sprite(@ktc-icon-article);
	  }
	}

	// Vote
	&.ktc-node-header-button-meeting_doodle {
	  padding-left: floor( (@ktc-icon-vote-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-vote-height / 2 )));
		.sprite(@ktc-icon-vote);
	  }
	}

	// News
	&.ktc-node-header-button-os2web_base_news {
	  padding-left: floor( (@ktc-icon-news-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-news-height / 2 )));
		.sprite(@ktc-icon-news);
	  }
	}

	// Private
	&.ktc-node-header-button-private {
	  padding-left: floor( (@ktc-icon-private-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-private-height / 2 )));
		.sprite(@ktc-icon-private);
	  }
	}

	// Arrangement
	&.ktc-node-header-button-arrangement {
	  padding-left: floor( (@ktc-icon-arrangement-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-arrangement-height / 2 )));
		.sprite(@ktc-icon-arrangement);
	  }
	}

	// Document
	&.ktc-node-header-button-document {
	  padding-left: floor( (@ktc-icon-document-width + @ktc-type-node-header-icon-spacing) );

	  // Icon
	  &:before {
		margin-top: floor((0 - (@ktc-icon-document-height / 2 )));
		.sprite(@ktc-icon-document);
	  }
	}
  }

  // Clearfix
  &:extend(.clearfix all);
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Lead
.ktc-mixin-lead(@font-color) {

  // Lead
  &.ktc-node-lead,
  .ktc-node-lead {
	color: @font-color;
  }
}

// Trompet
.ktc-mixin-trompet(@font-color) {

  // Trompet
  &.ktc-node-trompet,
  .ktc-node-trompet {
	color: @font-color;
  }
}

// Default
.ktc-mixin-lead(@ktc-color-green-font);
.ktc-mixin-trompet(@ktc-color-green-font);

// Technique and environment (blue)
.tech-env {

  // Lead
  .ktc-mixin-lead(@ktc-color-blue-font);

  // Trompet
  .ktc-mixin-trompet(@ktc-color-blue-font);
}

// Network (gold)
.og-context.og-context-node {

  // Lead
  .ktc-mixin-lead(@ktc-color-gold-font);

  // Trompet
  .ktc-mixin-trompet(@ktc-color-gold-font);
}

// Not network (green)
.no-network {

  // Lead
  .ktc-mixin-lead(@ktc-color-green-font);

  // Trompet
  .ktc-mixin-trompet(@ktc-color-green-font);
}