// Variables
@ktc-well-inner-spacing: 5px;

// Well
.ktc-well {
	margin-top: 2px;
	background-color: @body-bg;

	&.ktc-well-large {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}

// Content
&,
.ktc-content {

	// Well
	.ktc-well {
		.ktc-mixin-content-almost-full-width();
	}
}

// Wide
.ktc-content-wide {

	// Well
	.ktc-well {
		.ktc-mixin-content-wide-almost-full-width();
	}
}
