

// Headlines and strong
h1, h2, h3, h4, h5, h6, strong {
	color: @ktc-override-headline-color;
}

// Paragraph
p {
	color: @ktc-override-paragraph-color;
}

// Link
a {
	color: @ktc-override-link-color;

	// Hover state
	&:hover {
		text-decoration: underline;
	}
}

h1, h2, h3, h4, h5, h6,
span, p, a {
	word-break: break-all;
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}
