// |--------------------------------------------------------------------------
// | Overrides
// |--------------------------------------------------------------------------
// |
// | Provides variables for:
// | - typography
// | - button
// |

// --------------------------------------------------
// Typography
// --------------------------------------------------

@ktc-override-headline-color: @gray-darker;
@ktc-override-paragraph-color: @text-color;
@ktc-override-link-color: @link-color;

// --------------------------------------------------
// Button
// --------------------------------------------------

//== Default and primary
@ktc-override-button-default-background-color: @btn-default-bg;
@ktc-override-button-default-border-color: @btn-default-border;
@ktc-override-button-default-font-color: @btn-default-color;

//== Success
@ktc-override-button-success-background-color: @btn-success-bg;
@ktc-override-button-success-border-color: @btn-success-border;
@ktc-override-button-success-font-color: @btn-success-color;

//== Info
@ktc-override-button-info-background-color: @btn-info-bg;
@ktc-override-button-info-border-color: @btn-info-border;
@ktc-override-button-info-font-color: @btn-info-color;

//== Danger
@ktc-override-button-danger-background-color: @btn-danger-bg;
@ktc-override-button-danger-border-color: @btn-danger-border;
@ktc-override-button-danger-font-color: @btn-danger-color;

//== Warning
@ktc-override-button-warning-background-color: @btn-warning-bg;
@ktc-override-button-warning-border-color: @btn-warning-border;
@ktc-override-button-warning-font-color: @btn-warning-color;

//== Action
