// |--------------------------------------------------------------------------
// | Aside
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-aside
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Aside
.ktc-aside {
	background-color: @ktc-color-light-content-background;
	margin-bottom: @grid-gutter-width;

	// Heading
	.ktc-aside-heading {
		background-color: @ktc-aside-heading-background-color;

		// Title
		.ktc-aside-title {
			display: block;
			padding: @ktc-aside-title-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;
			margin: 0;

			// Title and link
			&,
			> a {
				text-transform: uppercase;
				font-family: @ktc-aside-title-font-family;
				font-size: @ktc-aside-title-font-size;
				font-weight: @ktc-aside-title-font-weight;
				color: @ktc-aside-title-font-color;
			}
		}
	}

	// Body
	.ktc-aside-body {
		padding: @ktc-aside-body-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;

		// Row (this is crap)
		.row {
			margin-left: 0;
			margin-right: 0;
		}
		
		// Clearfix
		&:extend(.clearfix all);
	}
}

// Toggle
.ktc-aside-toggle {

	// Heading
	> .ktc-aside-heading {

		// Title
		.ktc-aside-title {
			position: relative;
			cursor: pointer;
			cursor: hand;
			padding-right: floor( @ktc-default-left-right-inner-spacing + @ktc-icon-toggle-open-width );
			.user-select(none);

			// Toggle icon
			&:after {
				position: absolute;
				display: block;
				content: "";
				top: 50%;
				right: @ktc-default-left-right-inner-spacing;
				margin-top: -(floor( @ktc-icon-toggle-open-height / 2 ));
				.sprite(@ktc-icon-toggle-open);
			}
		}
	}

	// Closed
	&.closed {

		// Heading
		> .ktc-aside-heading {

			// Title
			.ktc-aside-title {
				padding-right: floor( @ktc-default-left-right-inner-spacing + @ktc-icon-toggle-closed-width );

				// Toggle icon
				&:after {
					margin-top: -(floor( @ktc-icon-toggle-closed-height / 2 ));
					.sprite(@ktc-icon-toggle-closed);
				}
			}
		}

		// Body
		> .ktc-aside-body {
			display: none;
		}
	}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Color
.ktc-mixin-aside-color(@background-color, @font-color) {

	& {

		// Heading
		.ktc-aside-heading {
			background-color: @background-color;

			// Title
			.ktc-aside-title {

				// Title and link
				&,
				> a {
					color: @font-color;
				}
			}
		}
	}
}

// Default
.ktc-aside-color {
	.ktc-mixin-aside-color(@ktc-color-green-background, @ktc-color-green-background-font);
}

// Technique and environment (blue)
.tech-env {

	// Aside
	&.ktc-aside-color,
	.ktc-aside-color {
		.ktc-mixin-aside-color(@ktc-color-blue-background, @ktc-color-blue-background-font);
	}
}

// Network (gold)
.og-context.og-context-node {

	// Aside
	&.ktc-aside-color,
	.ktc-aside-color {
		.ktc-mixin-aside-color(@ktc-color-gold-background, @ktc-color-gold-background-font);
	}
}

// Not network (green)
.no-network {

	// Aside
	&.ktc-aside-color,
	.ktc-aside-color {
		.ktc-mixin-aside-color(@ktc-color-green-background, @ktc-color-green-background-font);
	}
}

// Action
.ktc-aside-action {
	.ktc-mixin-aside-color(@ktc-color-red-background, @ktc-color-red-background-font);
	background-color: @ktc-color-dark-content-background;
}

// Dark
.ktc-aside-dark {
	position: relative;
	background-color: #222b2f;

	// Heading
	.ktc-aside-heading {

		// Title
		.ktc-aside-title {
			font-weight: bold;
		}
	}

	// Region
	.contextual-links-region {
		position: static;
	}

	// Body
	.ktc-aside-body {

		// Pager
		.pager {
			position: absolute;
			top: 6px; // bad practice
			right: @ktc-default-left-right-inner-spacing;
		}
	}
}


// Aside
.ktc-aside {

	// No stack
	&.ktc-aside-no-stack {
		margin-bottom: 0;
	}
}
