// |--------------------------------------------------------------------------
// | Block
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-block
// |

// --------------------------------------------------
// Mixins
// --------------------------------------------------

.ktc-mixin-block(@background-color, @font-color) {

	// Block
	.ktc-block {

		// Heading
		.ktc-block-heading {
			background-color: @background-color;

			// Title
			.ktc-block-title {

				// Title and link
				&,
				> a {
					color: @font-color;
				}
			}
		}
	}
}

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Block
.ktc-block {
	background-color: @ktc-color-light-content-background;

	// Heading
	.ktc-block-heading {
		background-color: @ktc-block-heading-background-color;

		// Title
		.ktc-block-title {
			display: block;
			padding: @ktc-block-title-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;

			// Title and link
			&,
			> a {
				text-transform: uppercase;
				font-family: @ktc-block-title-font-family;
				font-size: @ktc-block-title-font-size;
				font-weight: @ktc-block-title-font-weight;
				color: @ktc-block-title-font-color;
			}
		}
	}

	// Body
	.ktc-block-body {
		padding: @ktc-block-body-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;
	}
}

// Toggle
.ktc-block-toggle {

	// Heading
	> .ktc-block-heading {

		// Title
		.ktc-block-title {
			position: relative;
			cursor: pointer;
			cursor: hand;
			padding-right: floor( @ktc-default-left-right-inner-spacing + @ktc-icon-toggle-open-width );
			.user-select(none);

			// Toggle icon
			&:after {
				position: absolute;
				display: block;
				content: "";
				top: 50%;
				right: @ktc-default-left-right-inner-spacing;
				margin-top: -(floor( @ktc-icon-toggle-open-height / 2 ));
				.sprite(@ktc-icon-toggle-open);
			}
		}
	}

	// Closed
	&.closed {

		// Heading
		> .ktc-block-heading {

			// Title
			.ktc-block-title {
				padding-right: floor( @ktc-default-left-right-inner-spacing + @ktc-icon-toggle-closed-width );

				// Toggle icon
				&:after {
					margin-top: -(floor( @ktc-icon-toggle-closed-height / 2 ));
					.sprite(@ktc-icon-toggle-closed);
				}
			}
		}

		// Body
		> .ktc-block-body {
			display: none;
		}
	}
}

// Technique and environment (blue)
.tech-env {
	.ktc-mixin-block(@ktc-color-blue-background, @ktc-color-blue-background-font);
}

// Network (gold)
.og-context.og-context-node {
	.ktc-mixin-block(@ktc-color-gold-background, @ktc-color-gold-background-font);
}

// Not network (green)
.no-network {
	.ktc-mixin-block(@ktc-color-green-background, @ktc-color-green-background-font);
}
