// |--------------------------------------------------------------------------
// | Content types
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .panel-block
// |

// --------------------------------------------------
// Footer
// --------------------------------------------------

// Footer
.ktc-footer {
	background-color: @ktc-type-footer-background-color;
	border: 0;
	border-radius: 0;
	padding: @ktc-type-footer-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;

	// Button
	.ktc-footer-button {
		position: relative;
		color: #fff;
		float: left;

		// Additional elements
		+ .ktc-footer-button {
			margin-left: 10px;
		}

		// Right
		&.pull-right {
			float: right;
		}

		// Icon
		&:before {
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			content: "";
			margin-right: 10px;
		}

		// Comment
		&.ktc-footer-button-comment {
			padding-left: floor( @ktc-icon-comment-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-comment-height / 2 ));
				.sprite(@ktc-icon-comment);
			}
		}

		// Viewers
		&.ktc-footer-button-viewers {
			padding-left: floor( @ktc-icon-viewers-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-viewers-height / 2 ));
				.sprite(@ktc-icon-viewers);
			}
		}

		// Hearing
		&.ktc-footer-button-hearing {
			padding-left: floor( @ktc-icon-hearing-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-hearing-height / 2 ));
				.sprite(@ktc-icon-hearing);
			}
		}

		// Forum
		&.ktc-footer-button-forum_post {
			padding-left: floor( @ktc-icon-forum-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-forum-height / 2 ));
				.sprite(@ktc-icon-forum);
			}
		}

		// Article
		&.ktc-footer-button-article {
			padding-left: floor( @ktc-icon-article-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-article-height / 2 ));
				.sprite(@ktc-icon-article);
			}
		}

		// Vote
		&.ktc-footer-button-meeting_doodle {
			padding-left: floor( @ktc-icon-vote-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-vote-height / 2 ));
				.sprite(@ktc-icon-vote);
			}
		}

		// News
		&.ktc-footer-button-os2web_base_news {
			padding-left: floor( @ktc-icon-news-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-news-height / 2 ));
				.sprite(@ktc-icon-news);
			}
		}

		// Private
		&.ktc-footer-button-private {
			padding-left: floor( @ktc-icon-private-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-private-height / 2 ));
				.sprite(@ktc-icon-private);
			}
		}

		// Arrangement
		&.ktc-footer-button-arrangement {
			padding-left: floor( @ktc-icon-arrangement-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-arrangement-height / 2 ));
				.sprite(@ktc-icon-arrangement);
			}
		}

		// Document
		&.ktc-footer-button-document {
			padding-left: floor( @ktc-icon-document-width + @ktc-type-footer-icon-spacing );

			// Icon
			&:before {
				margin-top: -(floor( @ktc-icon-document-height / 2 ));
				.sprite(@ktc-icon-document);
			}
		}
	}

	// Clearfix
	&:extend(.clearfix all);
}

// --------------------------------------------------
// Call-to-action button
// --------------------------------------------------

// Call-to-action button
.ktc-call-to-action-button {
	text-align: center;

	// Button
	.btn {
		min-width: 40%;
		margin: @ktc-call-to-action-top-bottom-outer-spacing auto;
	}
}

// --------------------------------------------------
// Full width image
// --------------------------------------------------

// Full width image
.ktc-full-width-image {

	// Image
	img {
		min-width: 100%;
		height: auto;
	}
}

// --------------------------------------------------
// Comments
// --------------------------------------------------

//== Variables
@ktc-comments-container-left-right-margin: 2px;
@ktc-comments-top-bottom-padding: 15px;
@ktc-comments-photo-content-spacing: 10px;
@ktc-comments-photo-border-width: 2px;
@ktc-comments-photo-border-distance: 3px;

//== Colouring
@ktc-comments-default-photo-headline-color: @gray-darker;
@ktc-comments-default-photo-border-color: #fff;

// User comments container
//.ktc-comments-container {
//	margin-left: -( @panel-left-right-padding - @ktc-comments-container-left-right-margin );
//	margin-right: -( @panel-left-right-padding - @ktc-comments-container-left-right-margin );
//	margin-bottom: -@ktc-comments-container-left-right-margin;
//	padding-left: ( @panel-left-right-padding - @ktc-comments-container-left-right-margin );
//	padding-right: ( @panel-left-right-padding - @ktc-comments-container-left-right-margin );
//	background-color: @body-bg;
//
//	// User comments
//	.ktc-comments {
//		display: table;
//		margin-top: -2px; // THIS IS UGLY
//		padding: @ktc-comments-top-bottom-padding 0;
//		border-top: 2px solid #fff;
//
//		// Photo container
//		.panel-user-photo-container {
//			float: left;
//
//			// Photo
//			img {
//				display: inherit;
//				height: auto;
//				width: auto;
//				max-width: 48px;
//				max-height: 48px;
//				border-radius: 100%;
//				border-width: @ktc-comments-photo-border-width;
//				border-style: solid;
//				border-color: @ktc-comments-default-photo-border-color;
//				background-color: transparent;
//				margin-right: @ktc-comments-photo-content-spacing;
//				padding: @ktc-comments-photo-border-distance;
//			}
//		}
//
//		// Content
//		.ktc-comments-content {
//			display: inherit;
//
//			// Headlines
//			h1, h2, h3, h4, h5, h6 {
//				font-family: @font-family-base;
//				font-size: @font-size-base;
//				margin-top: 0;
//				padding-top: 0;
//				margin-bottom: 1px;
//				color: @ktc-comments-default-photo-headline-color;
//
//				// Date (span)
//				span {
//					font-weight: normal;
//					margin-left: 5px;
//
//					// EM
//					> em {
//						font-style: normal;
//					}
//				}
//			}
//		}
//
//		// Clearfix
//		&:extend(.clearfix all);
//	}
//}

