

// --------------------------------------------------
// Node header
// --------------------------------------------------

//== Colouring
@ktc-type-node-header-background-color: @ktc-color-dark-content-background;

//== Spacing
@ktc-type-node-header-top-bottom-inner-spacing: 6px;
@ktc-type-node-header-icon-spacing: 5px;