//== Heading
@ktc-block-heading-background-color: @ktc-color-dark-content-background;

//== Title
@ktc-block-title-font-color: @ktc-color-dark-content-background-font;
@ktc-block-title-top-bottom-inner-spacing: @ktc-default-title-top-bottom-inner-spacing;
@ktc-block-title-font-family: @font-family-base;
@ktc-block-title-font-size: @font-size-base;
@ktc-block-title-font-weight: bold;

//== Body
@ktc-block-body-top-bottom-inner-spacing: @ktc-default-body-top-bottom-inner-spacing;
