

// --------------------------------------------------
// Teaser large
// --------------------------------------------------

//== Title
@ktc-teaser-large-title-icon-spacing: 5px;
@ktc-teaser-large-title-font-color: @ktc-default-title-font-color;
@ktc-teaser-large-title-top-bottom-inner-spacing: @ktc-default-title-top-bottom-inner-spacing;
@ktc-teaser-large-title-font-family: @ktc-default-title-font-family;
@ktc-teaser-large-title-font-size: @ktc-default-title-font-size;
@ktc-teaser-large-title-font-weight: @ktc-default-title-font-weight;

//== Body
@ktc-teaser-large-body-top-bottom-inner-spacing: @ktc-default-body-top-bottom-inner-spacing;