// |--------------------------------------------------------------------------
// | Header top bar
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-header-top-bar
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Top bar
.ktc-header-top-bar {
	background-color: @ktc-color-light-content-background;
	margin-bottom: @grid-gutter-width;

	// Button (add content)
	.ktc-header-top-bar-add-content {
		cursor: pointer;
		float: left;
		position: relative;

		// Icon
		.ktc-header-top-bar-add-content-icon {
			display: inline-block;
			.sprite(@node_add);
		}
		span {
			padding: 5px 8px;
			font-size: 13px;
			line-height: 2em;
			vertical-align: top;
			font-weight: 700;
		}
		ul.create_content {
			display: none;
			margin: 0px 0px 0px 20px;
			padding: 0px;
			background-color: #fff;
			z-index: 900;
			position: absolute;
			width: 110%;
			-webkit-box-shadow: 4px 4px 4px 0px rgba(204,204,204,1);
			-moz-box-shadow: 4px 4px 4px 0px rgba(204,204,204,1);
			box-shadow: 4px 4px 4px 0px rgba(204,204,204,1);
			li {
				list-style: none;
				padding: 2px 10px;
				&:hover {
					background-color: @gray-lighter;
				}
			}
		}
	}

	// Heading
	.ktc-teaser-heading {

		// Title
		.ktc-teaser-title {
			position: relative;
			display: block;
			font-family: @ktc-teaser-title-font-family;
			font-size: @ktc-teaser-title-font-size;
			font-weight: @ktc-teaser-title-font-weight;
			color: @ktc-teaser-title-font-color;
			padding: @ktc-teaser-title-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;
			margin-bottom: -(@ktc-teaser-title-top-bottom-inner-spacing);
			text-transform: uppercase;

			// Icon
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: @ktc-default-left-right-inner-spacing;
				content: "";
			}
		}
	}

	// Body
	.ktc-teaser-body {
		padding: (@ktc-teaser-body-top-bottom-inner-spacing / 2) @ktc-default-left-right-inner-spacing @ktc-teaser-body-top-bottom-inner-spacing;
	}
}
