// |--------------------------------------------------------------------------
// | Header
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-header
// |

//== Top bar
@ktc-header-top-bar-background-color: #fff;
@ktc-header-top-bar-height: 50px;

//== Logo
@ktc-header-top-bar-logo-width: 140px;
@ktc-header-top-bar-logo-height: 70px;

// --------------------------------------------------
// Top bar
// --------------------------------------------------

// Header
.ktc-header {

	// Top bar
	.ktc-header-top-bar {
		min-height: @ktc-header-top-bar-height;
		background-color: @ktc-header-top-bar-background-color;

		// Logo
		.ktc-header-top-bar-logo {
			float: left;
			width: @ktc-header-top-bar-logo-width;
			margin-bottom: floor(@ktc-header-top-bar-height - @ktc-header-top-bar-logo-height);

			// Image
			img {
				border: 0;
				width: 100%;
				height: auto;
			}
		}

		// User menu
		.ktc-header-top-bar-user-menu {
			margin-top: 10px;
			.pull-right;
			.list-inline;

			// List item
			> li {
				vertical-align: middle;

				// User login
				.ktc-header-top-bar-user-login {

					// Label
					label {
						display: none;
					}

					// Submit
					button {
						min-width: initial;
						padding: 0;
						border-width: 0;
						.sprite(@header-login);
						background-color: transparent;
					}
				}

				// Icon
				.ktc-header-top-bar-user-menu-icon {
					display: inline-block;

					// Search
					&.ktc-header-top-bar-user-menu-icon-search {
						.sprite(@header-search);
						margin-top: 1px;
					}

					// Settings
					&.ktc-header-top-bar-user-menu-icon-settings {
						.sprite(@header-cog);
						margin-top: 1px;
					}

					// Toggle
					&.ktc-header-top-bar-user-menu-icon-toggle {
						.sprite(@header-toggle);
						margin-top: 1px;
					}

					// Create user
					&.ktc-header-top-bar-user-menu-icon-user-create {
						.sprite(@header-user-create);
						margin-top: 1px;
					}

					// Login
					&.ktc-header-top-bar-user-menu-icon-user-login {
						.sprite(@header-login);
					}

					// Log out
					&.ktc-header-top-bar-user-menu-icon-user-logout {
						.sprite(@header-logout);
					}
				}
			}
		}

		// Button (add content)
		.ktc-header-top-bar-add-content {
			position: relative;
			cursor: pointer;
			float: left;
			margin-top: 12px;
			margin-left: floor( @grid-gutter-width / 2 );

			// Open
			&.open {
				ul.create_content {
					display: block;
				}
			}

			// Icon
			.ktc-header-top-bar-add-content-icon {
				display: inline-block;
				.sprite(@node_add);
			}
			span {
				padding: 5px 8px;
				font-size: 13px;
				line-height: 2em;
				vertical-align: top;
				font-weight: 700;
			}
			ul.create_content {
				display: none;
				margin: 0px 0px 0px 20px;
				padding: 0px;
				background-color: #fff;
				z-index: 900;
				position: absolute;
				width: 110%;
				-webkit-box-shadow: 4px 4px 4px 0px rgba(204,204,204,1);
				-moz-box-shadow: 4px 4px 4px 0px rgba(204,204,204,1);
				box-shadow: 4px 4px 4px 0px rgba(204,204,204,1);

				li {
					list-style: none;
					padding: 2px 10px;
					&:hover {
						background-color: @gray-lighter;
					}
				}
			}
		}
	}
}

// --------------------------------------------------
// Navigation
// --------------------------------------------------

// Header
.ktc-header {

	// Navigation
	.ktc-header-navigation {
		min-height: 92px;
		background: #fff url("../images/bg_navigation.jpg") repeat-x;

		// Nav
		.navbar-nav {
			margin-left: @ktc-header-top-bar-logo-width;

			// List item
			> li {

				// Link
				> a {
					font-size: 16px;
				}

				// Active
				&.active {

					// Link
					> a {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
