// |--------------------------------------------------------------------------
// | Listevisning stor
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .panel-block
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

//== Colouring
@listevisning-default-headline-color: @gray-darker;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Listevisning
.ktc-mixin-listevisning(@font-color) {

	// Listevisning
	.ktc-listevisning,
	&.ktc-listevisning {

		// Content
		.ktc-listevisning-content {

			// Headline
			.ktc-listevisning-headline {

				// Headline and link
				&,
				> a {

					// Normal, hover and focus state
					&,
					&:hover,
					&:focus {
						color: @font-color;
					}
				}
			}
		}
	}
}

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Listevisning
.ktc-listevisning {
	display: table;
	margin-bottom: 15px;

	// Icon
	.ktc-listevisning-icon {
		float: left;
		min-width: 25px; // Bit of a hack to make sure all content is aligned since icon width is different

		// Vote
		&.ktc-listevisning-icon-meeting_doodle {
			.sprite(@ikon-afstemning);
		}

		// Document
		&.ktc-listevisning-icon-document {
			.sprite(@ikon-dok);
		}

		// News
		&.ktc-listevisning-icon-os2web_base_news {
			.sprite(@ikon-nyhed);
		}

		// Network / group
		&.ktc-listevisning-icon-group {
			.sprite(@ikon-netvaerk);
		}

		// Arrangement
		&.ktc-listevisning-icon-arrangement {
			.sprite(@ikon-arrangement);
		}

		// Forum
		&.ktc-listevisning-icon-forum_post {
			.sprite(@ikon-debat2);
		}

		// Hearing
		&.ktc-listevisning-icon-hearing {
			.sprite(@ikon-hoering);
		}
	}

	// Content
	.ktc-listevisning-content {
		display: inherit;

		// Headline
		.ktc-listevisning-headline {
			font-family: @font-family-base;
			font-size: @font-size-base;
			margin: 0;
			margin-bottom: 5px;
			color: @listevisning-default-headline-color;
		}

		// Sub headline
		.ktc-listevisning-subheadline {
			.small; // Include small class
			margin: 0;
		}

		// Simple date
		.ktc-listevisning-date-simple {
			font-style: italic;
			.small; // Include small class
		}

		// Paragraph
		p {
			margin-bottom: 3px;
		}
	}
}

// Default
.ktc-mixin-listevisning(@ktc-default-color-font);

// Gold
.ktc-gold {
	.ktc-mixin-listevisning(@ktc-color-gold-font);
}

// Green
.ktc-green {
	.ktc-mixin-listevisning(@ktc-color-green-font);
}

// Red
.ktc-red {
	.ktc-mixin-listevisning(@ktc-color-red-font);
}

// Blue
.ktc-blue {
	.ktc-mixin-listevisning(@ktc-color-blue-font);
}