// |--------------------------------------------------------------------------
// | Minor
// |--------------------------------------------------------------------------
// |
// | Applicable for minor stuff for which, it makes no sense to create a
// | dedicated file.
// |

// --------------------------------------------------
// CKeditor
// --------------------------------------------------

.cke_editable_themed {
	background-color: #fff;
	padding: 15px;
}

body.page-search {

	.view-filters.ktc-content {
		margin-bottom: @grid-gutter-width;
	}

	.view-filters {

		#edit-search-api-views-fulltext-wrapper,
		button.form-submit {
			margin-top: 0;
		}
	}
}

body.node-type-page {

	.region-content {

		.ktc-content-wide {
			padding-bottom: 60px;
		}
	}
}
