
// No panels
.no-panels {

	// Region
	.region {

		// Inner
		.region-inner {
			background-color: @ktc-color-light-content-background;
			padding-left: @ktc-default-left-right-inner-spacing;
			padding-right: @ktc-default-left-right-inner-spacing;
		}
	}
}