// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-teaser
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.ktc-teaser {
	background-color: @ktc-color-light-content-background;
	margin-bottom: @grid-gutter-width;

	// Heading
	.ktc-teaser-heading {
		margin-bottom: -(@ktc-teaser-title-top-bottom-inner-spacing);

		// Title
		.ktc-teaser-title {
			position: relative;
			display: block;
			font-family: @ktc-teaser-title-font-family;
			font-size: @ktc-teaser-title-font-size;
			font-weight: @ktc-teaser-title-font-weight;
			color: @ktc-teaser-title-font-color;
			padding: @ktc-teaser-title-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;
			text-transform: uppercase;

			// Icon
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: @ktc-default-left-right-inner-spacing;
				content: "";
			}
		}
	}

	// Body
	.ktc-teaser-body {
		padding: (@ktc-teaser-body-top-bottom-inner-spacing / 2) @ktc-default-left-right-inner-spacing @ktc-teaser-body-top-bottom-inner-spacing;
	}
}

// Magazine teaser (get's its own, because its not actually a teaser)
.ktc-teaser-magazine {
	margin-bottom: @grid-gutter-width;

	&.ktc-aside {

		.ktc-aside-body {
			.row {
				margin-left: -(floor(@grid-gutter-width / 2));
				margin-right: -(floor(@grid-gutter-width / 2));
			}
		}
	}

	.ktc-teaser-magazine-banner {
		margin-bottom: @grid-gutter-width;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.ktc-teaser-magazine-top-artikel {
		border-bottom: 2px solid #d5ddde;
		margin-bottom: 18px;
	}

	.ktc-teaser-magazine-leder {
		border-top: 2px solid #d5ddde;
		margin-top: 18px;
		padding-top: 18px;
	}

	.ktc-teaser-artikler {
		margin-bottom: 18px;

		.ktc-teaser-artikler-image {
			float: right;
			margin-left: 15px;
		}
		.ktc-date {
			margin-bottom: 4px;
		}
		// Clearfix
		&:extend(.clearfix all);
	}

	.ktc-teaser-magazine-buttons {
		padding-top: 10px;
	}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser
.ktc-mixin-teaser(@color-font, @icon-pin, @icon-pin-width, @icon-pin-height) {

	// Teaser
	&.ktc-teaser,
	.ktc-teaser {

		// Heading
		> .ktc-teaser-heading {

			// Title
			.ktc-teaser-title {
				padding-left: floor(@icon-pin-width + @ktc-teaser-title-icon-spacing + @ktc-default-left-right-inner-spacing);
				margin: 0;

				// Pin icon
				&:before {
					margin-top: -(floor( @icon-pin-height / 2 ));
					.sprite(@icon-pin);
				}
			}

			// Link title
			a.ktc-teaser-title {

				// Hover
				&:hover {
					color: @color-font;
				}
			}
		}

		// Body
		.ktc-teaser-body {

			// Link
			a:not('.btn') {

				// Hover
				&:hover {
					color: @color-font;
				}
			}

			// Headlines
			h1, h2, h3, h4, h5, h6 {

				// Headline and link
				&,
				a {
					color: @ktc-default-color-headline;
				}

				// Date
				+ .ktc-date {
					margin-top: -6px;
				}
			}
		}
	}
}

// Default
.ktc-mixin-teaser(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);

// Green
.ktc-green {
	.ktc-mixin-teaser(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);
}

// Blue
.ktc-blue {
	.ktc-mixin-teaser(@ktc-color-blue-font, @ktc-icon-pin-blue, @ktc-icon-pin-blue-width, @ktc-icon-pin-blue-height);
}

// Gold
.ktc-gold {
	.ktc-mixin-teaser(@ktc-color-gold-font, @ktc-icon-pin-gold, @ktc-icon-pin-gold-width, @ktc-icon-pin-gold-height);
}

// Red
.ktc-red {
	.ktc-mixin-teaser(@ktc-color-red-font, @ktc-icon-pin-red, @ktc-icon-pin-red-width, @ktc-icon-pin-red-height);
}
