// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-teaser
// |

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser
.ktc-mixin-teaser(@color-font, @icon-pin, @icon-pin-width, @icon-pin-height) {

	// Teaser
	&.ktc-teaser,
	.ktc-teaser {

		// Heading
		> .ktc-teaser-heading {

			// Title
			.ktc-teaser-title {
				padding-left: floor(@icon-pin-width + @ktc-teaser-title-icon-spacing + @ktc-default-left-right-inner-spacing);

				// Pin icon
				&:before {
					margin-top: -(floor( @icon-pin-height / 2 ));
					.sprite(@icon-pin);
				}
			}

			// Link title
			a.ktc-teaser-title {

				// Hover and focus
				&:hover,
				&:focus {
					color: @color-font;
				}
			}
		}

		// Body
		.ktc-teaser-body {

			// Link
			a {

				// Hover and focus
				&:hover,
				&:focus {
					color: @color-font;
				}
			}

			// Headlines
			h1, h2, h3, h4, h5, h6 {

				&,
				a {
					color: @ktc-default-color-headline;
				}
			}
		}
	}
}

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.ktc-teaser {
	margin-bottom: @ktc-teaser-outer-spacing-bottom;
	background-color: @ktc-color-light-content-background;

	// Heading
	.ktc-teaser-heading {

		// Title
		.ktc-teaser-title {
			position: relative;
			display: block;
			font-family: @ktc-teaser-title-font-family;
			font-size: @ktc-teaser-title-font-size;
			font-weight: @ktc-teaser-title-font-weight;
			color: @ktc-teaser-title-font-color;
			padding: @ktc-teaser-title-top-bottom-inner-spacing @ktc-default-left-right-inner-spacing;
			margin-bottom: -(@ktc-teaser-title-top-bottom-inner-spacing);
			text-transform: uppercase;

			// Icon
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: @ktc-default-left-right-inner-spacing;
				content: "";
			}
		}
	}

	// Body
	.ktc-teaser-body {
		padding: (@ktc-teaser-body-top-bottom-inner-spacing / 2) @ktc-default-left-right-inner-spacing @ktc-teaser-body-top-bottom-inner-spacing;

		// Full width image
		.ktc-full-width-image {
			margin-left: -(@ktc-default-left-right-inner-spacing);
			margin-right: -(@ktc-default-left-right-inner-spacing);
		}
	}
}

// Default
.ktc-mixin-teaser(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);

// Green
.ktc-green {
	.ktc-mixin-teaser(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);
}

// Blue
.ktc-blue {
	.ktc-mixin-teaser(@ktc-color-blue-font, @ktc-icon-pin-blue, @ktc-icon-pin-blue-width, @ktc-icon-pin-blue-height);
}

// Gold
.ktc-gold {
	.ktc-mixin-teaser(@ktc-color-gold-font, @ktc-icon-pin-gold, @ktc-icon-pin-gold-width, @ktc-icon-pin-gold-height);
}

// Red
.ktc-red {
	.ktc-mixin-teaser(@ktc-color-red-font, @ktc-icon-pin-red, @ktc-icon-pin-red-width, @ktc-icon-pin-red-height);
}