// |--------------------------------------------------------------------------
// | Teaser large
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-teaser-large
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.ktc-teaser-large {
	background-color: @ktc-color-light-content-background;
	margin-bottom: @grid-gutter-width;

	// Heading
	.ktc-teaser-large-heading {
		position: relative;
		display: block;
		color: @ktc-teaser-large-title-font-color;
		padding: @ktc-teaser-large-title-top-bottom-inner-spacing 0;
		margin: 0 @ktc-default-left-right-inner-spacing;
		margin-bottom: -(@ktc-teaser-large-title-top-bottom-inner-spacing);
		border-bottom: 1px solid @ktc-color-gray;

		// Typography
		a,
		span {
			font-family: @ktc-teaser-large-title-font-family;
			font-size: @ktc-teaser-large-title-font-size;
		}

		// Link (name)
		a {
			color: @ktc-teaser-large-title-link-font-color;
			font-weight: @ktc-teaser-large-title-link-font-weight;
		}

		// Span (date)
		span {
			float: right;
			color: @ktc-teaser-large-title-span-font-color;
			font-weight: @ktc-teaser-large-title-span-font-weight;
		}
	}

	// Body
	.ktc-teaser-large-body {
		padding: (@ktc-teaser-large-body-top-bottom-inner-spacing / 2) @ktc-default-left-right-inner-spacing @ktc-teaser-large-body-top-bottom-inner-spacing;
	}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser
.ktc-mixin-teaser-large(@color-font, @icon-pin, @icon-pin-width, @icon-pin-height) {

	// Teaser
	&.ktc-teaser-large,
	.ktc-teaser-large {

		// Heading
		> .ktc-teaser-large-heading {

			// Title
			.ktc-teaser-large-title {
				padding-left: floor(@icon-pin-width + @ktc-teaser-large-title-icon-spacing + @ktc-default-left-right-inner-spacing);
				margin: 0;

				// Pin icon
				&:before {
					margin-top: -(floor( @icon-pin-height / 2 ));
					.sprite(@icon-pin);
				}
			}

			// Link title
			a.ktc-teaser-large-title {

				// Hover and focus
				&:hover,
				&:focus {
					color: @color-font;
				}
			}
		}

		// Body
		.ktc-teaser-large-body {

			// Link
			a:not('.btn') {

				// Hover and focus
				&:hover,
				&:focus {
					color: @color-font;
				}
			}

			// Headlines
			h1, h2, h3, h4, h5, h6 {

				// Headline and link
				&,
				a {
					color: @ktc-default-color-headline;
				}

				// Date
				+ .ktc-date {
					margin-top: -6px;
				}
			}
		}
	}
}

// Default
.ktc-mixin-teaser-large(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);

// Green
.ktc-green {
	.ktc-mixin-teaser-large(@ktc-color-green-font, @ktc-icon-pin-green, @ktc-icon-pin-green-width, @ktc-icon-pin-green-height);
}

// Blue
.ktc-blue {
	.ktc-mixin-teaser-large(@ktc-color-blue-font, @ktc-icon-pin-blue, @ktc-icon-pin-blue-width, @ktc-icon-pin-blue-height);
}

// Gold
.ktc-gold {
	.ktc-mixin-teaser-large(@ktc-color-gold-font, @ktc-icon-pin-gold, @ktc-icon-pin-gold-width, @ktc-icon-pin-gold-height);
}

// Red
.ktc-red {
	.ktc-mixin-teaser-large(@ktc-color-red-font, @ktc-icon-pin-red, @ktc-icon-pin-red-width, @ktc-icon-pin-red-height);
}