// |--------------------------------------------------------------------------
// | User profile
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-user-profile
// |

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// User profile
.ktc-mixin-user-profile(@headline-color, @profile-photo-border-color) {

	// User profile
	.ktc-user-profile {

		// Photo container
		.ktc-user-photo-container {

			// Photo
			img {
				border-color: @profile-photo-border-color;
			}

			// VIP
			&.ktc-user-photo-vip {

				// Photo
				img {
					border-color: @ktc-user-profile-green-photo-border-color;
				}
			}
		}

		// Content
		.ktc-user-profile-content {

			// Headlines
			h1, h2, h3, h4, h5, h6 {

				// Headline and link
				&,
				> a {
					color: @headline-color;
				}
			}
		}
	}
}

// --------------------------------------------------
// Styling
// --------------------------------------------------

// User profile
.ktc-user-profile {
	display: table;
	padding: @ktc-user-profile-top-bottom-padding 0;

	// Photo container
	.ktc-user-photo-container {
		float: left;

		// Photo
		img {
			display: inherit;
			height: auto;
			width: auto;
			max-width: 48px;
			max-height: 48px;
			border-radius: 100%;
			border-width: @ktc-user-profile-photo-border-width;
			border-style: solid;
			background-color: transparent;
			margin-right: @ktc-user-profile-photo-content-spacing;
			padding: @ktc-user-profile-photo-border-distance;
		}

		// VIP
		&.ktc-user-photo-vip {

			// Photo
			img {
				border-color: @ktc-user-profile-green-photo-border-color;
			}
		}
	}

	// Content
	.ktc-user-profile-content {
		display: inherit;

		// Headlines
		h1, h2, h3, h4, h5, h6 {
			margin-top: 0;
			padding-top: 0;
			margin-bottom: 3px;
		}
	}

	// Clearfix
	&:extend(.clearfix all);
}