// Wrapper
.ktc-wrapper {
	position: relative;

	// Background
	.ktc-wrapper-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: 231px;
		background: url("../images/bg_body.jpg") top repeat-x;
	}
}