// Wrapper
.ktc-wrapper {
	position: relative;
	padding-top: 35px;
	padding-bottom: 25px;
	min-height: 250px;

	// Background
	.ktc-wrapper-background {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		height: floor( 231px + 10px + 20px ); // Bg height + border-top width and border bottom width
		background: url("../images/bg_body.jpg") center top repeat-x;
		border-top: 20px solid #fff;
		border-bottom: 10px solid #d5dcde;
	}
}