@brand-darkblue:        #1f9bd7;
@brand-lightblue:       #e8f8ff;
@brand-blue-icon:       #2dace9;
@brand-darkgreen:       #36a145;
@brand-lightgreen:      #effff1;
@brand-footergreen:     #137c34;
@brand-blacknblue:      #30353c;
@brand-warmgray:        #dfded7;
@brand-red:             #d54621;
@brand-userlink-red:    #e75311;
@brand-lightred:        #fff5f2;
@brand-gold:            #d3a900;
@brand-lightgold:       #fff9e2;

@gradient-dark:         #194254;
@gradient-light:        #496e7e;

@font-title-color:      @gray-darker;
@font-date-color:       @brand-darkgreen;

@font-family-sans-serif-second:  'Open Sans', Geneva, Verdana, sans-serif;
@font-familiy-semibold:  'Bree Serif', Geneva, Verdana, sans-serif;
@font-familiy-web: 'Bree Serif', Geneva, Verdana, sans-serif;
@font-size-intro-text: 1.3em;

@border-std: 1px solid @gray-lighter;
