
#panels-panel-context-edit-content .row {
	width: 100%;
	clear: both;
/*  overflow: hidden;  */
}

.panel-2col .panel-col-first, .page-admin .col-md-9, .adminimal-theme .col-md-9 { 
  float: left; 
  width: 73%; 
  margin-right: 2%;
}
* html .panel-2col .panel-col-first, .page-admin .col-md-9 {
  width: 74.9%;
}

.panel-2col .panel-col-first .inside { 
  margin: 0 .5em 1em 0;
}

.panel-2col .panel-col-last, .page-admin .col-md-3, .adminimal-theme  .col-md-3 { 
  float: left; 
  width: 25%; 
}
* html .panel-2col .panel-col-last, .page-admin .col-md-3 {
  width: 23.0%;
}

.panel-2col .panel-col-last .inside { 
  margin: 0 0 1em .5em;
}

#panels-edit-display .panel-pane,
#panels-edit-display .helperclass {
  margin: .5em;
}

.panel-2col .panel-separator {
  margin: 0 0 1em 0;
}
