// Insert your styling here.

.page-node-edit,
.page-node-add {
  .region-content section {
    background-color: #F5F5F5;
    padding: 10px;
  }
  h1.page-header {
    display: block;
  }

  .form-control {
    color: black;
  }

  .hierarchical-select-wrapper {
    td {
      padding: 5px;
    }

    .hierarchical-select select {
      width: inherit;
    }
  }

  .chosen-container {
    border: 0 !important;
    padding: 0 !important;
    height: auto !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    width: 100%!important;
  }

  .chosen-container-multi .chosen-choices {
    border-radius: 4px;
  }
}

// Default show for a node with 3 columns.
body.page-node,
body.page-taxonomy-term {
  h1.page-header {
  }
  article,
  div.node-os2web-base-news {
    border-radius: 0 0 4px 4px;
    margin-bottom: @grid-gutter-width;

    // This is a serious hack to force anchors below the fixed header.
    // See http://css-tricks.com/hash-tag-links-padding/
    a, h1, h2, h3, h4, h5, h6 {
      &[id]:before {
        display: block;
        content: " ";
        margin-top: -100px;
        height: 100px;
        visibility: hidden;
      }
    }

    p {
      line-height: 1.6em;
    }

    header h2 {
      margin: 0;
      margin-top: 14px;
      //font-size: @font-size-h1;
      font-family: @headings-font-family;
      text-transform: initial;
      color: @text-color;
      font-weight: 600;
      a{
        color: @text-color;
        text-transform: initial;
        font-family: @headings-font-family;
        //font-size: @font-size-h1;
        @media (max-width:460px) {
          font-size: 1.3em;
        }
      }
    }

    .wrap,
    header h2 {
      padding: 15px 0;
    }
    .inner {
      padding: 15px 0px;
    }
    header time {
      padding: 15px 30px;
      text-align: right;
      display: block;

      i {
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin-right: 5px;
      }
    }

    .field-name-field-os2web-base-field-image {
      .field-slideshow {
        margin: 0 auto;
        .field-slideshow-caption {
          display: none;
        }
      }
      img{
        width: 100%;
        height: auto;
      }
    }

    .field-name-field-os2web-base-field-summary .field-item {
      font-family: @headings-font-family;
      font-size: @font-size-intro-text;
      line-height: 1.1em;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .media-ustream-video iframe {
      max-width: 100%;
    }
  }
  .nav-tabs {
    margin-bottom: 0;
  }
  .field-name-field-hearing-materials,
  .field-name-field-os2web-base-field-media {
    .field-label {
      &:extend(h4);
      text-transform: none;
    }
    .field-item {
      border-top: 1px solid @brand-warmgray;
      padding: 5px 0;

      .file-icon {
        // This overrides the file-icon and replaces it with an download icon.
      }

      a {
        margin-left: 10px;
        color: @brand-blacknblue;
      }
    }
  }
  .field-type-text-long img {
    max-width: 100%;
    height: auto;
  }
}

// These rules target the article when we have two sidebars.
body.page-node,
body.page-taxonomy-term.term-is-not-top {
  // Somehow .two-sidebars class are sometimes wrongly set, so we targeted it
  // also by seeing after the col-md-XX classes on region-content.
  &.two-sidebars,
  .region-content.col-sm-6,
  .region-content.col-md-6 {
    article,
    div.node-os2web-base-news {
      .field-name-field-os2web-base-field-image img {
        border-radius: 4px 4px 0 0;
      }
    }
  }

  &.one-sidebar,
  .region-content.col-sm-6,
  .region-content.col-md-6 {
    article,
    div.node-os2web-base-news {
      // .one-sidebar
    }
  }

  &.no-sidebars,
  .region-content.col-sm-12,
  .region-content.col-md-12 {
    article,
    div.node-os2web-base-news {
      // .no-sidebars
    }
    .pane-ktc-signup-block-ktc-signup-link-block {
      ul.tabs--primary {
        display: none;
        visibility: hidden;
      }
    }
  }
}

// Overrides for the node display.
.page-taxonomy {
  .main-container {
    background-color: #fff;
  }
}
.region-content {
  margin-top: 10px;
  .taxonomy-term-description a,
  .field-name-body a {
    font-weight: 400;
    color: @brand-blue-icon;
    &:hover,
    &:active {
      color: @brand-darkblue;
    }
  }
}
.wrap {
  img {
    max-width: 100%;
  }
  hr {
    border-color: @brand-blacknblue;
  }
}

.view-bladintro-node {
  img { margin-bottom: 20px;}
}

.view-id-bladintro_nyheder {
  .field-type-image { float: right; margin-left: 20px; margin-bottom: 20px;}
}
.node-type-group {
  .panel-pane {

    .field-name-group-group {

      a {
        .btn();
        .btn-blacknblue();
      }
    }

    &.pane-node-body {
      .parent-group {
        a {
          color: @gray-darker;
          font-weight: 700;
        }
      }
    }
    &.pane-subgroups-panel-pane-1 {
      article {
        .group-region {
          .field-name-field-regioner,
          .group-region-dash {
            display: inline-block;
            margin-right: 5px;
          }
        }
        margin-bottom: 0px;
      }
    }
  }
}

.panel-pane {
  &.pane-hearing-node-view-panel-pane-1 {
    .views-field-field-hearing-materials {


        .file-icon {
          // This overrides the file-icon and replaces it with an download icon.
        }
        a {
          margin-left: 10px;
          color: @brand-blacknblue;
        }
    }
  }
}
body.node-type-ktc-supplier {
  .region-content {
    article {
      h5 {
          background-color: @brand-darkblue;
          color: #fff;
          margin-bottom: 0px;
          margin-top: 0px;
          padding: 3px 10px;
      }
      h5.supplier-body-header {
        background-color: @brand-userlink-red;
      }
      .supplier-logo {
        background-color: #fff;
        margin-bottom: 20px;
        .field-name-field-image {
          padding: 10px;
        }
      }
      .contact-info {
        background-color: #fff;
        margin-bottom: 20px;
        .contact-info-content {
          padding: 10px;
        }
      }
      .field-name-body {
        padding: 10px;
        background-color: #fff;
      }
    }
  }
}
