.col-md-3 {
  .panel-separator {
    clear: both;
  }
  .panel-pane {
    position: relative;
    border-bottom: 1px solid #dfded7;
    .pane-content {
      display: block;
      position: relative;
      &:after {
        content: "";
        display: table;
        clear: both;
      }
      margin-bottom: 0;
      border-radius: 4px 4px 0 0;

      //filter buttons
      .filter-box {
        padding: 0 0;
        margin: 0px 0 20px 0;
      }
      #filter-all,
      .filter-link {
        //font-weight: bold;
        margin-bottom: 10px;
      }
      .filter-foldin {
        cursor: pointer;
        text-align: right;
        position: absolute;
        top: -40px;
        right: 15px;
      }
      .menu.nav,
      #tabs,
      #edit-tabs {
        li {
          &.active-trail a,
          &.active > a{
            .btn-primary();
          }
          a {
            .btn();
            .btn-blacknblue();
            margin-right: 0px;
            margin-bottom: 10px;

          }
        }
      }
    }
  }
  .filter-foldout {
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: 3px;
    right: 15px;
    display: none;
  }
  ul.nav-tabs {
    border-bottom: none;
  }
  .tabs--primary,
  .pane-menu-menu-user-profile-menu {
    padding-top: 10px;
    li {
      &.active > a{
        .btn-primary();
      }
      a {
        .btn();
        .btn-blacknblue();
        width: 100%;
        margin-right: 0px;
        margin-bottom: 10px;
      }
    }
  }
  .view .date-nav-wrapper .date-prev {
    left: 0;
    right: auto;
  }
}
