.col-md-3,
.col-md-4 {
  .panel-separator {
    clear: both;
    margin-bottom: 20px;
  }
  &.pane-right,
  &.pane-sidebar {
    .pane-content {
      padding-bottom: 10px;
      .col-md-12.filter-link.all {
        float: none;
        margin-left: auto;
        margin-right: auto;
        @media (min-width:992px) {
          width: 30%;
          margin-left: 35%;
        }
        @media (min-width:768px) and (max-width:991px) {
          width: 100%;
        }
        @media (max-width:767px) {
          width: 100%;
        }
      }
      .field-content {
        .col-md-12 {
          .col-md-12.filter-link.btn-blacknblue {
            text-align: left;
            border: none;
            background-image: url('../images/sprites/rundt.png');
            background-repeat: no-repeat;
            background-position: 0px 100%;
            padding-left: 22px;
            margin-left: 10px;
          }
          .col-md-12.filter-link.btn-primary {
            text-align: left;
            border: none;
            background-image: url('../images/sprites/tick.png');
            background-repeat: no-repeat;
            background-position: 0px 100%;
            padding-left: 22px;
            margin-left: 10px;
          }
        }
      }

    }
  }
  .panel-pane {
    position: relative;

    &.pane-ktc-related-links-related-links-block {
      h3.pane-title {
        background-color: @brand-gold;
      }
      ul {
        padding-left: 15px;
        li {
          list-style: none;
          margin-bottom: 8px;
        }
      }
    }
    .pane-content {
      .pane-content();

      //filter buttons
      .filter-box {
        margin: 0px 0 20px 0;
      }
      #filter-all,
      .filter-link {
        //font-weight: bold;
        margin-bottom: 3px;
      }
    }
  }
  .filter-link {
    margin-bottom: 3px;
  }
  .filter-foldout {
    .sprite(@ikon-pilgrey);
  }
  .filter-foldin {
    .sprite(@ikon-pilgrey-ned);
  }
  .filter-fold {
    cursor: pointer;
    text-align: right;
    position: absolute;
    top: 5px;
    right: 5px;
  }
  ul.nav-tabs {
    border-bottom: none;
  }
  .tabs--primary,
  .tabs--secondary,
  .pane-menu-menu-user-profile-menu {
    padding-top: 10px;
    li {
      &.active > a{
        &.active {
          background-color: #fff !important;
          .box-shadow(none);
          .btn-primary();
        }
      }
      a {
        //.btn();
        //.btn-blacknblue();
        width: 100%;
        margin-right: 0px;
        margin-bottom: 3px;
      }
    }
  }
  .tabs--secondary {
    border-top: 2px solid #c3c3c3;
    border-radius: 0;
  }
  .view .date-nav-wrapper .date-prev {
    left: 0;
    right: auto;
  }
}
