.col-md-3,
.col-md-4 {
  .panel-separator {
    clear: both;
    margin-bottom: 20px;
  }
  &.pane-right,
  &.pane-sidebar {
    .pane-content {
      .col-md-12.filter-link.all {
        float: none;
        margin-left: auto;
        margin-right: auto;
        @media (min-width:992px) {
          width: 30%;
          margin-left: 35%;
        }
        @media (min-width:768px) and (max-width:991px) {
          width: 100%;
        }
        @media (max-width:767px) {
          width: 100%;
        }
      }
      .field-content {
        .col-md-12 {
          .col-md-12.filter-link.btn-blacknblue {
            text-align: left;
            border: none;
            background-image: url('../images/sprites/rundt.png');
            background-repeat: no-repeat;
            background-position: 0px 100%;
            padding-left: 22px;
            margin-left: 10px;
          }
          .col-md-12.filter-link.btn-primary {
            text-align: left;
            border: none;
            background-image: url('../images/sprites/tick.png');
            background-repeat: no-repeat;
            background-position: 0px 100%;
            padding-left: 22px;
            margin-left: 10px;
          }
        }
      }

    }
  }
  .panel-pane {
    position: relative;
  }
  ul.nav-tabs {
    border-bottom: none;
  }
  .tabs--primary,
  .tabs--secondary,
  .pane-menu-menu-user-profile-menu {
    li {
      &.active > a{
        &.active {
          .box-shadow(none);
        }
      }
    }
  }
  .tabs--secondary {
    border-top: 2px solid #c3c3c3;
    border-radius: 0;
  }
  .view .date-nav-wrapper .date-prev {
    left: 0;
    right: auto;
  }
}
