// Insert your styling here.
.region_footer {
  &.footer_5 {
    background-color: @gray-dark;
    .footer-5 {
      text-align: center;
      padding: 43px 10px;
      color: #fff;
      font-weight: 400;
      font-size: @font-size-large;
      .footer_location {
        .sprite(@footer_location);
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  &.footer_4 {
    .footer_4 {
      background-color: @brand-footergreen;
      padding-top: 40px;
      padding-bottom: 40px;
      .container {
        .block-heading {
          h3 {
            color: @gray-darker;
            font-weight: 400;
            font-size: @font-size-h4;
            margin-bottom: 25px;
          }
        }
        ul.menu {
          li>a {
            color: @gray-lighter;
            padding: 2px 0px;
            &:hover {
              color: @brand-footergreen;
            }
          }
        }
        section {
          margin-bottom: 10px;
          &#block-views-footer-contact-persons-block {
            @media screen and (min-width: 768px) {
              border-left: 2px solid #308e3d;
              padding-left: 20px;
            }
          }
          &.block-block {
            @media screen and (min-width: 768px) {
              border-left: 2px solid #308e3d;
              padding-left: 20px;
              padding-bottom: 10px;
            }
          }
          &#block-menu-menu-nyttige-links {
            @media screen and (min-width: 768px) {
              padding-left: 0;
              padding-right: 20px;
            }
          }
          img {
            max-width: 100%;
          }
          .views-row {
            margin-bottom: 10px;
            .user-picture {
              border: 2px solid #fff;
              height: 50px;
              width: 50px;
              border-radius: 50%;
              img {
                height: auto;
                width: 50px;
                border-radius: 50%;
              }
            }
            a.username {
              color: @gray-lighter;
              font-size: @font-size-large;
            }
            a {
              color: @brand-darkgreen;
            }
          }
        }

      }
    }
  }
  &.footer_3 {
    .footer_3 {
      background-color: #fff;
      padding: 30px 0;
    }
  }
  &.footer_1 {
    border-top: 10px solid #d5dcde;
    .footer_1 {
      background-color: #fff;
      padding-top: 40px;
      padding-bottom: 40px;
      .container {
        .yellow .created {
          color: @brand-gold;
        }
        .green .created {
          color: @brand-darkgreen;
        }
        .block-heading {
          background-color: @gray-dark;
          color: @gray-lighter;
          margin-bottom: 20px;
          h3.panel-title {
            padding: 10px 10px 10px 20px;
            vertical-align: middle;
            display: inline-block;
          }
        }
      }
    }
  }
}