.front {
  .main-container.container {
    @media (min-width: 992px) {
      padding-left: 0px;
      padding-right: 0px;
    }
    .region-header {
      margin-left: 0px;
      margin-right: 0px;
    }
    h3.pane-title {
      margin-bottom: 0px;
      margin-top: 0px;
      .filter-title();
    }
    .col-md-4 {
      article {
        margin-bottom: 0px;
      }
      .view-content {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}