.front {
  .main-container.container {
    @media (min-width: 992px) {
      padding-left: 0px;
      padding-right: 0px;
    }
    .region-header {
      margin-left: 0px;
      margin-right: 0px;
    }
    .panel-top {
      #panel-pane-top {
        max-height: 140px;
        overflow: hidden;
        margin-bottom: 20px;
      }
    }
    .pane-content {
      margin-bottom: 20px;
      background-color: #fff;
      .view-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        article.bg-white {
          margin-left: -10px;
          margin-right: -10px;
        }
        .views-row {
          overflow: hidden;
          h5 {
            margin-top: 0px;
          }
        }

      }
    }
    h3.pane-title {
      margin-bottom: 0px;
      margin-top: 0px;
      .filter-title();
    }
  }
}
