/**
 * This file is only for really global styles. None specific styles.
 */

// H1-h6 tags

h1,
h2,
h3,
h4,
h5,
h6 {

}

h3,
h6 {
  font-weight: bold;
}

body {
  .form-control {
    color: black;
    padding: 0px 12px;
  }
  background-color: @body-bg;
}

.main-container {
  background-color: @body-bg;
	padding-bottom: 140px;
}
.main-container,
.header_svendborg .region-navigation.container {
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.main-container .form-search {
  input:focus {
    border: 4px solid @brand-darkgreen;
  }
}

.field-slideshow {
  overflow: hidden;
  max-width: 100%;
}

.filter-box .view-empty {
  font-family: @headings-font-family;
  font-size: 12px;
  padding: 10px 20px;
}
