/**
 * This file is only for really global styles. None specific styles.
 */

// H1-h6 tags

h1,
h2,
h3,
h4,
h5,
h6 {

}

h3,
h6 {
  font-weight: bold;
}

body {
  .form-control {
    color: black;
    padding: 0px 12px;
  }
  background-color: @gray-lighter;
}

.main-container {
  border-bottom: 1px solid white;
  border-left: 1px solid rgba(255, 255, 255, 0.8);
  border-right: 1px solid rgba(255, 255, 255, 0.8);
  //background-color: @gray-lighter;
}

.main-container,
.header_svendborg .region-navigation.container {
  border-left: none; // Default on non-rgba browsers.
  border-left: 1px solid rgba(255, 255, 255, 0.6);
  border-right: none; // Default on non-rgba browsers.
  border-right: 1px solid rgba(255, 255, 255, 0.6);

  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.main-container .form-search {
  input:focus {
    border: 4px solid @brand-darkgreen;
  }
}

.field-slideshow {
  overflow: hidden;
  max-width: 100%;
}
