

// Pretty Buttons
// Borrrowed from : https://gist.github.com/claviska/6117193
.pretty-buttons(@color, @border-color) {

  color: @color;
  border: 2px solid @border-color;
  padding: 1px 8px;
  border-radius: 14px;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @color;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: #fff;
    }
  }
}
a {
  color: @text-color;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color:  @link-hover-color;
  }
}
.white-and-round() {
  background-color: #fff;
  border-radius: 5px 5px;
}

.bottom-padding {
  padding-bottom: @grid-gutter-width;
}
.extra-bottom-padding {
  padding-bottom: @grid-gutter-width + 10px;
}

.square-round-thumbnail(@width) {
  height: @width;
  width: @width;
  border-radius: @width / 2;
  border: 3px solid @gray;
}

@call-to-action-height: 64px;
// Call to action buttons like on portalsider.
.call-to-action {
  margin-bottom: 20px;

  .inner {
    position: relative;
    border-radius: @call-to-action-height / 2;
    background: white;
    height: @call-to-action-height;
    display: table;
    width: 100%;

    a {
      padding: 0 34px 0 @call-to-action-height;
      font-size: @font-size-h4;
      font-family: @font-familiy-semibold;
      color: @text-color;
      display: table-cell;
      vertical-align: middle;
      line-height: 1.1;
      // @todo only show certain number of lines, or adjust font-size to fit.
    }


    img {
      position: absolute;
      left: 6px;
      top: 6px;
      .square-round-thumbnail(52px);
    }
  }

  i {
    position: absolute;
    right: 20px;
    //top: @call-to-action-height / 2 - @nav-arrow-right-green-height / 2;

    //.sprite(@nav-arrow-right-green);
  }
}

// Bootstrap Carrousel with Svendborg colors.
.carousel {
  .white-and-round();
  padding: 10px 10px;
  .carousel-title {
    margin-top:  20px;
    a.btn {
      margin: 20px 0;
      padding: 5px 15px;
      font-size: 14px;
    }
  }
  .carousel-indicators {
    right: 15px;
    text-align: right;
    bottom: 0;
    margin-left: inherit;
    left: inherit;
  }
  .carousel-indicators li {
    height: 18px;
    width: 18px;
    border: 3px solid #e4e3e0;
    margin: 1px;
    &.active {
      background-color: #7ebb00;
    }
  }
  .title {
    font-size: 30px;
  }
  .carousel-inner > .item {
    a > img,
    > img {
      @media (min-width: 992px) {
        max-width: 60%;
        display: inline;
        float: left;
      }
      @media (max-width:active 991px) {
        max-width: 100%;
        display: block;
        float: none;
      }
    }
    > .carousel-caption {
        @media (min-width: 992px) {
          width: 40%;
          float: left;
        }
        @media (max-width: 991px) {
          width: 100%;
          float: none;
        }
        right: 0;
        left: initial;
        position: static;
        text-align: left;
        padding: 10px 10px 10px 15px;
        margin-top: 15px;
        text-shadow: initial;
      a {
        font-size: @font-size-h2;
        color: @text-color;
        text-transform: initial;
      }
    }
    .btn-primary {
      margin-left: 15px;
    }
  }
}


.bubble(@top,@height) {
  position: absolute;
  top: @top;
  width: 100%;
  min-height: @height;
  display: table;
  span {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }
}

.item-text(@height) {
  position: relative;
  text-align: center;
  min-height: @height;
}
.rss-icon {

}

.bg-white {
  background: white;
  margin-bottom: 20px;
}
.view.bg-white {
  padding: 20px
}

.padding-20 {
  padding: 20px 20px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.content-img-header img{
  border-radius: 4px 4px 0 0;
}
.content_header_2 {
  color: @text-color;
  text-transform: initial;
  font-family: @font-familiy-semibold;
  font-size: @font-size-h1;
}
.page-search  {
  .main-container {
    .region.region-content {
      .bg-white;
      ol.search-results.apachesolr_search-results {
        list-style: none;
        padding-left: 0;
      }
    }
  }
}


.addthis_sharing_toolbox {
  text-align: right;
  padding: 10px 10px;
}
.no-padding {
  padding-right: 0px;
  padding-left: 0px;
}

.filter-title(@bg-color:@gray-darker) {
  border: none;
  padding: 5px 0px 5px 20px;
  font-size: @font-size-h5;
  font-weight: normal;
  text-transform: uppercase;
  color: #fff;
  background-color: @bg-color;
  margin-bottom: 0px;
  margin-top: 0px;
}
.red-title h3.pane-title,
.view-bruger h3.pane-title {
  .filter-title(@brand-red);
}
.view-netvaerk h3.pane-title,
.gold-title h3.pane-title {
  .filter-title(@brand-gold);
}
.view-ktc h3.pane-title {
  .filter-title(@brand-darkgreen);
}
.view-teknik-miljoe h3.pane-title {
  .filter-title(@brand-blue-icon);
}
h3.pane-title {
  .filter-title();
}
.pane-content() {
  display: block;
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}

.view-bruger {
  .title-left {
    .title-left(@brand-red);
  }
}
.view-ktc {
  .title-left {
    .title-left(@brand-darkgreen);
  }
}
.view-netvaerk {
  .title-left {
    .title-left(@brand-gold);
  }
}
.view-teknik-miljoe {
  .title-left {
    .title-left(@brand-blue-icon);
  }
}
.title-left(@bg-color) {
  display: inline-block;
  background-color: @bg-color;
  width: 11px;
  height: 35px;
  vertical-align: middle;
}

.user-picture(@border-color, @img-border-px, @img-border-color, @size) {
  border: 2px solid @border-color;
  height: @size;
  width: @size;
  border-radius: 50%;
  img {
    height: auto;
    width: @size;
    border-radius: 50%;
    border: @img-border-px solid @img-border-color;
  }
}

.user-teaser {
  .user-picture {
    .user-picture(@gray-lighter, 3px, #fff, 52px);

  }
  .user-body {
    .user-name a {
      font-weight: 700;
      color: @gray-darker;
    }
    .employer {
      min-height: 18px;
      min-width: 10px;
    }
  }
  margin-bottom: 10px;
}

/**
 * Icons
 */
.icon-hearing-sm {
  .sprite(@ikon-hoering);
  vertical-align: middle;
  display: inline-block;
  margin-right: 5px;
}

// Line height
.line-height(@font-size) {
	line-height: floor((@font-size * @line-height-base));
}