.node-teaser {
  .margin-bottom-20 {
    padding-left: 15px;
    padding-right: 15px;
  }
  h6 {
    font-size: 11px;
    margin-bottom: 3px;
    display: inline-block;
  }
  &.private-content {
    .icon-locker {
      .sprite(@private);
      display: inline-block;
      float: right;
      margin-top: 10px;
    }

  }
  h2 {
    margin-top: 10px;
    font-size: 18px;
    a {
      color: @font-title-color;
    }
  }
  .node-teaser-item-img {
    margin-left: -15px;
    margin-right: -15px;
  }
  .node-teaser-text {
    .left {
      padding: 0px 0px 0px 0px;
    }
    .icon-calendar {
      background-image: url('../images/sprites/calendar.png');
      display: block;
      height: 80px;
      background-repeat: no-repeat;
      position: relative;
      background-size: 50px 60px;

      .calendar-day {
        font-size: 24px;
        position: absolute;
        top: 8px;
        left: 11px;
      }
      .calendar-month {
        position: absolute;
        top: 42px;
        text-transform: uppercase;
        left: 15px;
      }
    }
    p {
      word-break: break-word;
    }
  }
  .node-teaser-user-profile {
    margin-top: 10px;
    .left {
      padding: 0 10px 0 0;
    }
    .right {
      padding: 10px 0px;
    }
  }
  .user-picture {
    .user-picture(#fff, 3px, #fff, 52px);
    border-radius: 50%;
  }
  &.ktc-red {
    background-color: @brand-lightred;
    .icon-group-ktc-red {
      display: inline-block;
      .sprite(@ikon-pin-red);
      vertical-align: bottom;
      margin-right: 5px;
    }
    .user-picture {
      border: 2px solid @brand-red;
    }
    .user_link a{
      color: @brand-red;
      font-size: 16px;
      font-weight: 600;
    }
  }
  &.ktc-yellow {
    background-color: @brand-lightgold;
    .icon-group-ktc-yellow {
      display: inline-block;
      .sprite(@ikon-pin-yellow);
      vertical-align: bottom;
      margin-right: 5px;
    }
    .user-picture {
      border: 2px solid @brand-gold;
    }
    .user_link a{
      color: @brand-gold;
      font-size: 16px;
      font-weight: 600;
    }
  }
  &.ktc-blue {
    background-color: @brand-lightblue;
    .icon-group-ktc-blue {
      display: inline-block;
      .sprite(@ikon-pin-blue);
      vertical-align: bottom;
      margin-right: 5px;
    }
    .user-picture {
      border: 2px solid @brand-darkblue;
    }
    .user_link a{
      color: @brand-darkblue;
      font-size: 16px;
      font-weight: 600;
    }
  }
  &.ktc-green {
    background-color: @brand-lightgreen;
    .icon-group-ktc-green {
      display: inline-block;
      .sprite(@ikon-pin);
      vertical-align: bottom;
      margin-right: 5px;
    }
    .user-picture {
      border: 2px solid @brand-darkgreen;
    }
    .user_link a {
      color: brand-darkgreen;
      font-size: 16px;
      font-weight: 600;
    }
  }
  &.node-group {
    background: none !important;

    h5 {
      font-size: 12px;
      a {
        color: #fff;
      }
      margin-bottom: 5px;
      margin-top: 5px;
    }
    .ktc-yellow {
      display: inline-block;
      .sprite(@arrow_yellow);
      vertical-align: middle;
      margin-right: 5px;
    }
    .ktc-red {
      display: inline-block;
      .sprite(@arrow_red);
      vertical-align: middle;
      margin-right: 5px;
    }
    .ktc-green {
      display: inline-block;
      .sprite(@arrow_green);
      vertical-align: middle;
      margin-right: 5px;
    }
    .ktc-blue {
      display: inline-block;
      .sprite(@arrow_blue);
      vertical-align: middle;
      margin-right: 5px;
    }

  }
  .node-teaser-bottom {
    clear: both;
    background-color: @gray-darker;
    padding: 10px 5px;
    .left {
      .icon-comment {
        .sprite(@comment);
        display: inline-block;
        vertical-align: middle;
      }
      .icon-statistics {
        .sprite(@readed);
        display: inline-block;
        vertical-align: middle;
      }
      span.span-right {
        padding-left: 15px;
      }
    }
    .right {
      text-align: right;
      .node-type-forum_post {
        display: inline-block;
        .sprite(@ikon-debat2);
        vertical-align: top;
        margin-right: 5px;
      }
      .node-type-meeting_doodle {
        display: inline-block;
        .sprite(@ikon-afstemning);
        vertical-align: top;
        margin-right: 5px;
      }
      .node-type-arrangement {
        display: inline-block;
        .sprite(@ikon-arrangement);
        vertical-align: top;
        margin-right: 5px;
      }
      .node-type-hearing {
        display: inline-block;
        .sprite(@ikon-hoering);
        vertical-align: top;
        margin-right: 5px;
      }
      .node-type-document {
        display: inline-block;
        .sprite(@ikon-dok);
        vertical-align: top;
        margin-right: 5px;
      }
      .node-type-os2web_base_news {
        display: inline-block;
        .sprite(@ikon-nyhed);
        vertical-align: top;
        margin-right: 5px;
      }
    }
  }
}
.page-netvaerk,
.node-type-group {
  .node-teaser_comments {
    background-color: #fff;
    .node-teaser-hr {
      margin-bottom: 10px;
      .node-teaser-hr-inner {
        border: 2px solid @gray-lighter;
      }
    }
    &.node-teaser {
      .user_link a {
        color: @brand-gold;
        font-size: 16px;
      }
      .margin-bottom-20 {
        margin-bottom: 5px;
      }
    }
    .node-teaser-user {
      margin: 7px 0;
      vertical-align: middle;
      .left {
        padding-left: 0px;
      }
      .right {
        text-align: right;
        padding-top: 2px;
        padding-right: 0px;
      }
    }
    .node-comments {
      background-color: @gray-lighter;
      .view-comments-in-teaser {
        padding-top: 10px;
        .left {
          @media (min-width: 992px) {
            padding-left: 10px;
          }
          padding-left: 0px;
          .user-picture {
            border: 2px solid #fff;
          }
        }
        .right {
          a,
          .user_link a{
            color: @font-title-color;
            font-size: @font-size-base;
            font-weight: 700;
          }
        }
        .node-teaser-hr-inner {
          border-bottom: 2px solid #fff;
          padding-top: 10px;
          margin-bottom: 10px;
          margin-left: 15px;
          margin-right: 15px;
          clear: both
        }
        .views-row-last {
          .node-teaser-hr-inner {
            border: none;
            margin: 0 0 10px 0;
          }
        }
      }
    }
  }

  .node--group--listevisning {
    .icon-subgroup {
      display: inline-block;
      .sprite(@ikon-netvaerk);
      vertical-align: bottom;
      margin-right: 5px;
    }
    .group-region {
      margin-left: 20px;
    }
  }
}