.page-leverandoerlist,
.page-user,
.node-type-page,
.page-leverandoerer {
  .main-container {
    background-color: #fff;
    padding-bottom: 20px;

  }
  .views-field {
    .term-name a {
      .icon-blue {
        display: inline-block;
        .sprite(@arrow_blue);
        vertical-align: bottom;
      }
      color: @gray-darker;
    }
  }
}
.page-search {
  .view-id-Search {
    .views-row {
      margin-bottom: 20px;
    }
  }
}