.page-node {
  &.node-type-group, &.node-type-arrangement {
    .main-container {
      background: none;
      @media (min-width:768px) {
        padding-left: 0px;
        padding-right: 0px;
      }


      h1.page-header {
        background-color: #fff;
        padding-left: 15px;
      }
      .pane-center {

        h2 {
          word-break: break-word;
        }
        .pane-node-create-links {
          .pane-content {
            background-color: @gray-darker;
            ul {
              margin-bottom: 20px;
              padding: 10px 10px;
              overflow: hidden;
              li {
                list-style: none;
                padding: 5px 10px;
                .group-add-arrangement {
                  display: inline-block;
                  .sprite(@ikon-arrangement2);
                  vertical-align: middle;
                  margin-right: 5px;
                }
                .group-add-os2web_base_news {
                  display: inline-block;
                  .sprite(@ikon-nyhed2);
                  vertical-align: middle;
                  margin-right: 5px;
                }
                .group-add-forum_post {
                  display: inline-block;
                  .sprite(@ikon-debat);
                  vertical-align: middle;
                  margin-right: 5px;
                }
                .group-add-group{
                  display: inline-block;
                  .sprite(@ikon-netvaerk2);
                  vertical-align: middle;
                  margin-right: 5px;
                }
                .group-add-document {
                  display: inline-block;
                  .sprite(@ikon-dokument);
                  vertical-align: middle;
                  margin-right: 5px;
                }
                .group-add-meeting_doodle {
                  display: inline-block;
                  .sprite(@ikon-afstemning2);
                  vertical-align: middle;
                  margin-right: 5px;
                }
                .group-add-hearing {
                  display: inline-block;
                  .sprite(@ikon-hoering2);
                  vertical-align: middle;
                  margin-right: 5px;
                }
                a {
                  color: #fff;
                  font-weight: normal;
                }
              }
            }
          }
        }
      }
      .pane-left {
        .panel-pane {
          &.pane-node-field-groupimage {
            .pane-content {
              padding: 15px 15px;
            }
          }
          &.pane-ktc-sectionpage-netvaerk-invite-links,
          &.pane-node-group-group,
          &.pane-node-body {
            margin-top: -20px;
          }
          .pane-content {
            padding: 10px 15px;
          }
          width: 100%;

          .view-id-ktc_og_members,
          .view-og-members {
            .view-content {
              overflow: hidden;
              .user-image {
                &.ktc-red {
                  .user-picture {
                    border-color: @brand-userlink-red;
                  }
                }
                .user-picture {
                  .user-picture(@gray-lighter, 3px, #fff, 52px);
                }
              }
            }
            .pager {
              margin-top: 0;
            }
          }
          .og-members-all,
          .og-members-all-hide {
            clear: both;
            text-align: center;
            a {
              text-transform: uppercase;
              font-weight: 700;
              &:hover {
                text-decoration: none;
              }
            }
          }
          &.pane-subgroups-panel-pane-1 {
            .view-id-subgroups {

            }
          }
        }

      }
      .pane-center .panel-pane {
	      background-color: #FFF;
      }
      .pane-right {
        .pane-page-tabs {
          h3.pane-title {
            background-color: @brand-userlink-red;
          }
          .pane-content {
            background-color: @gray-darker;
            ul {
              padding-bottom: 10px;
              padding-left: 10px;
              padding-right: 10px;
              li>a {
                color: #fff;
                background-color: @gray-darker;
                border-color: #848e92;
                &.active {
                  color: @gray-darker;
                }
              }
            }
          }
        }
      }
    }
  }

  .views-field {
    .term-name a {
      .icon-blue {
        display: inline-block;
        .sprite(@arrow_blue);
        vertical-align: bottom;
      }
      color: @gray-darker;
    }
  }
}
.page-search {
  .view-id-Search {
    .view-content {
      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        font-size: 0px;
      }
      .views-row {
        margin-bottom: 20px;
      }
    }
  }
}

.page-kalender,
.page-hoeringer,
.page-netvaerk,
.page-nyheder,
.page-teksnik-miljoe {
  .main-container.container {
    background: none;
    @media (min-width: 992px) {
      padding-left: 0px;
      padding-right: 0px;
    }
    .region-header {
      margin-left: 0px;
      margin-right: 0px;
    }
    .region-content {
      .pane-content {
        &.col-sm-pull-4 {
          @media (max-width:767px) {
            margin-top: 20px;
          }
        }
        padding-left: 0px;
        padding-right: 0px;
        // page-netvaerk my groups and all groups views panes.
      }
      .pane-sidebar {
        .pane-menu-menu-user-profile-menu,
        .view-display-id-panel_pane_1 {
          padding: 10px 10px;
        }
        #period {
          margin-top: -20px;
        }
      }
    }
  }
}
.page-hoeringer {
	.pane-ktc-hearings-sectionpage-block-panel-pane {
		h3 { background-color: @brand-danger;
				
		}
	}
}
.page-user {
  &.not-logged-in ul.tabs--primary {
    li {
      width: 25%;
    }
  }
  .pane-sidebar {
    .pane-page-tabs {
      .pane-content {
        padding-bottom: 5px;
      }
    }
    .pane-menu-menu-user-profile-menu {
      margin-top: -45px;
      .pane-content {
        padding-top: 0px;
      }
    }
  }
}

.page-hoeringer,
.page-netvaerk {
  #section-page-with-filter {
    padding-left: 0px;
    padding-right: 0px;
  }
}
.darkgray-box,
#section-page-with-filter-all-groups {
  position: relative;
  margin-bottom: 20px;
  h3 {
    .filter-title();
  }
  .pane-content {
    color: white;
    background-color: @gray-darker;
    position: relative;
    .view-header {
      text-align: center;
      li {
        display: inline-block;
        list-style-type:
        circle;
        margin-right: 10px;
        i {
          display: inline-block;
          margin-right: 4px;
          &.red-dot {
            .sprite(@red-dot);
          }
          &.yellow-dot {
            .sprite(@yellow-dot);
          }
          &.green-dot {
            .sprite(@green-dot);
          }
          &.blue-dot {
            .sprite(@blue-dot);
          }
        }
      }
    }
    .view-content {
      padding: 20px 10px;
      &:after {
        content: "";
        clear: both;
        display: table;
      }
      article.node--hearing--listevisning,
      article.node--group--teaser {
        h5 {
          a {
            color: #fff;
          }
        }
      }
    }
    ul.pager {
      position: absolute;
      top: -32px;
      right: 0px;
      margin: 10px 5px;
      .pager-current {
        display: none;
      }
      .pager-previous {

        margin-right: 5px;
        a {
          .sprite(@ikon-pilgrey-left);
          background-color: @gray-darker;
          border: none;
          padding: 2px 2px;

        }
      }

      .pager-next a {
        .sprite(@ikon-pilgrey);
        background-color: @gray-darker;
        border: none;
        padding: 2px 2px;
      }
    }
    .view-footer {
      position: absolute;
      top: -23px;
      left: 140px;
      color: #fff;
      text-transform: uppercase;
      font-size: 15px;
    }
  }

}
.personsoegning {
		.andcell {
			&::before { content: " / ";}
		}
}
