.page-leverandoerlist,
.page-user,
.page-node,
.page-leverandoerer {
  &.node-type-group {
    .main-container {
      background: none;
    }
  }
  .main-container {
    background-color: #fff;
    padding-bottom: 20px;
  }
  .views-field {
    .term-name a {
      .icon-blue {
        display: inline-block;
        .sprite(@arrow_blue);
        vertical-align: bottom;
      }
      color: @gray-darker;
    }
  }
}
.page-search {
  .view-id-Search {
    .view-content {
      &:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
        font-size: 0px;
      }
      .views-row {
        margin-bottom: 20px;
      }
    }
  }
}

.page-aktiviteter,
.page-hoeringer,
.page-netvaerk,
.page-nyheder,
.page-teksnik-miljoe {
  .main-container.container {
    @media (min-width: 992px) {
      padding-left: 0px;
      padding-right: 0px;
    }
    .region-header {
      margin-left: 0px;
      margin-right: 0px;
    }
    .region-content {
      .pane-content {
        padding-left: 0px;
        padding-right: 0px;
      }
    }
  }
}