// |--------------------------------------------------------------------------
// | Panel block
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .panel-block
// | - .panel-block-black
// | - .panel-block-gold
// | - .panel-block-green
// | - .panel-block-blue
// | - .panel-block-action
// | - .panel-block-toggle
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

//== General
@panel-left-right-padding: 10px;
@panel-stacked-spacing: @grid-gutter-width;

//== Heading
@panel-heading-font-size: 12px;
@panel-heading-top-padding: 6px;
@panel-heading-bottom-padding: @panel-heading-top-padding;

//== Body
@panel-body-top-padding: 15px;
@panel-body-bottom-padding: @panel-body-top-padding;

//== Footer
@panel-footer-top-padding: 7px;
@panel-footer-bottom-padding: @panel-footer-top-padding;
@panel-footer-icon-spacing: 5px;

//== Footer icons
@panel-footer-icon-comment: @comment;
@panel-footer-icon-comment-height: @comment-height;
@panel-footer-icon-comment-width: @comment-width;
@panel-footer-icon-display: @readed;
@panel-footer-icon-display-height: @readed-height;
@panel-footer-icon-display-width: @readed-width;
@panel-footer-icon-hearing: @ikon-hoering;
@panel-footer-icon-hearing-height: @ikon-hoering-height;
@panel-footer-icon-hearing-width: @ikon-hoering-width;
@panel-footer-icon-forum: @ikon-debat2;
@panel-footer-icon-forum-height: @ikon-debat2-height;
@panel-footer-icon-forum-width: @ikon-debat2-width;
@panel-footer-icon-article: @ikon-artikkel;
@panel-footer-icon-article-height: @ikon-artikkel-height;
@panel-footer-icon-article-width: @ikon-artikkel-width;
@panel-footer-icon-vote: @ikon-afstemning;
@panel-footer-icon-vote-height: @ikon-afstemning-height;
@panel-footer-icon-vote-width: @ikon-afstemning-width;
@panel-footer-icon-news: @ikon-nyhed;
@panel-footer-icon-news-height: @ikon-nyhed-height;
@panel-footer-icon-news-width: @ikon-nyhed-width;
@panel-footer-icon-private: @private;
@panel-footer-icon-private-height: @private-height;
@panel-footer-icon-private-width: @private-width;
@panel-footer-icon-event: @ikon-arrangement;
@panel-footer-icon-event-height: @ikon-arrangement-height;
@panel-footer-icon-event-width: @ikon-arrangement-width;
@panel-footer-icon-document: @ikon-dok;
@panel-footer-icon-document-height: @ikon-dok-height;
@panel-footer-icon-document-width: @ikon-dok-width;

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Default
.panel.panel-block {
	.box-shadow(none); // BS3 override
	border: 0; // BS3 override
	border-radius: 0; // BS3 override
	margin-bottom: @panel-stacked-spacing;
	background: none;

	// Heading
	.panel-heading {
		padding: @panel-heading-top-padding @panel-left-right-padding @panel-heading-bottom-padding @panel-left-right-padding;
		border: 0;
		border-radius: 0; // BS3 override
		&:extend(.clearfix all); // For icons with pull-right in header

		// Title and link
		.panel-title,
		> a {
			position: relative;
			display: block;
			padding: 0;
			font-family: @headings-font-family;
			font-size: @panel-heading-font-size;
			text-transform: uppercase;

			// Link
			&,
			> a {

				// States
				&,
				&:hover,
				&:focus,
				&:active {
					text-decoration: none;
				}
			}
		}
	}

	// Body
	.panel-body {
		padding: @panel-body-top-padding @panel-left-right-padding @panel-body-bottom-padding @panel-left-right-padding;

		// All headlines
		h1,h2,h3,h4,h5,h6 {

			// Headline and link
			&,
			a {
				color: @gray-darker;
			}

			// Link
			a {
				text-decoration: none;
			}
		}

		// Button
		.btn {
			text-decoration: none;
		}

		// Paragraph
		p {
			color: @text-color;
		}
	}

	// Footer
	.panel-footer {
		background-color: @gray-darker;
		border: 0;
		border-radius: 0;
		padding: @panel-footer-top-padding @panel-left-right-padding @panel-footer-bottom-padding @panel-left-right-padding;

		// Button
		.panel-footer-button {
			position: relative;
			color: #fff;
			float: left;

			// Additional elements
			+ .panel-footer-button {
				margin-left: 10px;
			}

			// Right
			&.pull-right {
				float: right;
			}

			// Icon
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				content: "";
				margin-right: 10px;
			}

			// Comment
			&.panel-footer-button-comment {
				padding-left: floor( @panel-footer-icon-comment-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-comment-height / 2 ));
					.sprite(@panel-footer-icon-comment);
				}
			}

			// Display
			&.panel-footer-button-display {
				padding-left: floor( @panel-footer-icon-display-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-display-height / 2 ));
					.sprite(@panel-footer-icon-display);
				}
			}

			// Hearing
			&.panel-footer-button-hearing {
				padding-left: floor( @panel-footer-icon-hearing-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-hearing-height / 2 ));
					.sprite(@panel-footer-icon-hearing);
				}
			}

			// Forum
			&.panel-footer-button-forum,
			&.panel-footer-button-forum_post {
				padding-left: floor( @panel-footer-icon-forum-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-forum-height / 2 ));
					.sprite(@panel-footer-icon-forum);
				}
			}

			// Article
			&.panel-footer-button-article {
				padding-left: floor( @panel-footer-icon-article-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-article-height / 2 ));
					.sprite(@panel-footer-icon-article);
				}
			}

			// Vote
			&.panel-footer-button-vote,
			&.panel-footer-button-meeting_doodle {
				padding-left: floor( @panel-footer-icon-vote-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-vote-height / 2 ));
					.sprite(@panel-footer-icon-vote);
				}
			}

			// News
			&.panel-footer-button-news,
			&.panel-footer-button-os2web_base_news {
				padding-left: floor( @panel-footer-icon-news-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-news-height / 2 ));
					.sprite(@panel-footer-icon-news);
				}
			}

			// Private
			&.panel-footer-button-private {
				padding-left: floor( @panel-footer-icon-private-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-private-height / 2 ));
					.sprite(@panel-footer-icon-private);
				}
			}

			// Event
			&.panel-footer-button-event,
			&.panel-footer-button-arrangement {
				padding-left: floor( @panel-footer-icon-event-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-event-height / 2 ));
					.sprite(@panel-footer-icon-event);
				}
			}

			// Document
			&.panel-footer-button-document {
				padding-left: floor( @panel-footer-icon-document-width + @panel-footer-icon-spacing );

				// Icon
				&:before {
					margin-top: -(floor( @panel-footer-icon-document-height / 2 ));
					.sprite(@panel-footer-icon-document);
				}
			}
		}

		// Clearfix
		&:extend(.clearfix all);
	}

	// Elements stacked
	+ .panel.panel-block {
		margin-top: @panel-stacked-spacing;
	}

	// Default
	.panel.panel-block {
		margin-left: -(@panel-left-right-padding); // Dirty ugly hack
		margin-right: -(@panel-left-right-padding); // Dirty ugly hack
	}
}

// |--------------------------------------------------------------------------
// | Global content types
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .panel-user-profile
// |

// --------------------------------------------------
// User profile
// --------------------------------------------------

//== Variables
@panel-user-profile-top-bottom-padding: 8px;
@panel-user-profile-photo-content-spacing: 10px;
@panel-user-profile-photo-border-width: 2px;
@panel-user-profile-photo-border-distance: 3px;

//== Colouring
@panel-user-profile-default-photo-headline-color: @gray-darker;
@panel-user-profile-default-photo-border-color: #e9edee;
@panel-user-profile-gold-photo-headline-color: @brand-gold;
@panel-user-profile-gold-photo-border-color: @panel-user-profile-gold-photo-headline-color;
@panel-user-profile-green-photo-headline-color: @brand-darkgreen;
@panel-user-profile-green-photo-border-color: @panel-user-profile-green-photo-headline-color;
@panel-user-profile-blue-photo-headline-color: @brand-darkblue;
@panel-user-profile-blue-photo-border-color: @panel-user-profile-blue-photo-headline-color;
@panel-user-profile-red-photo-headline-color: @brand-userlink-red;
@panel-user-profile-red-photo-border-color: @panel-user-profile-red-photo-headline-color;

//== Mixins
.mixin-user-profile(@headline-color, @profile-photo-border-color) {

	// Panel block
	&,
	&.panel.panel-block {

		// Body
		.panel-body {

			// User profile
			.panel-user-profile {

				// Photo container
				.panel-user-photo-container {

					// Photo
					img {
						border-color: @profile-photo-border-color;
					}
				}


				// Content
				.panel-user-profile-content {

					// Headlines
					h1,h2,h3,h4,h5,h6 {

						// Headline and link
						&,
						> a {
							color: @headline-color;
						}
					}
				}
			}
		}
	}
}

// Panel block
.panel.panel-block {

	// Body
	.panel-body {

		// User profile
		.panel-user-profile {
			display: table;
			padding: @panel-user-profile-top-bottom-padding 0;

			// Photo container
			.panel-user-photo-container {
				float: left;

				// Photo
				img {
					display: inherit;
					height: auto;
					width: auto;
					max-width: 48px;
					max-height: 48px;
					border-radius: 100%;
					border-width: @panel-user-profile-photo-border-width;
					border-style: solid;
					background-color: transparent;
					margin-right: @panel-user-profile-photo-content-spacing;
					padding: @panel-user-profile-photo-border-distance;
				}

				// VIP
				&.panel-user-photo-vip {

					// Photo
					img {
						border-color: @panel-user-profile-green-photo-border-color;
					}
				}
			}

			// Content
			.panel-user-profile-content {
				display: inherit;

				// Headlines
				h1, h2, h3, h4, h5, h6 {
					margin-top: 0;
					padding-top: 0;
					margin-bottom: 3px;
				}
			}

			// Clearfix
			&:extend(.clearfix all);
		}
	}
}

// Colouring
.mixin-user-profile(@panel-user-profile-default-photo-headline-color, @panel-user-profile-default-photo-border-color);
.ktc-red {
	.mixin-user-profile(@panel-user-profile-red-photo-headline-color, @panel-user-profile-red-photo-border-color);
}
.ktc-gold {
	.mixin-user-profile(@panel-user-profile-gold-photo-headline-color, @panel-user-profile-gold-photo-border-color);
}
.ktc-blue {
	.mixin-user-profile(@panel-user-profile-blue-photo-headline-color, @panel-user-profile-blue-photo-border-color);
}
.ktc-green {
	.mixin-user-profile(@panel-user-profile-green-photo-headline-color, @panel-user-profile-green-photo-border-color);
}

// --------------------------------------------------
// User profile
// --------------------------------------------------

//== Variables
@panel-user-comments-container-left-right-margin: 2px;
@panel-user-comments-top-bottom-padding: 15px;
@panel-user-comments-photo-content-spacing: 10px;
@panel-user-comments-photo-border-width: 2px;
@panel-user-comments-photo-border-distance: 3px;

//== Colouring
@panel-user-comments-default-photo-headline-color: @gray-darker;
@panel-user-comments-default-photo-border-color: #fff;

// Panel block
.panel.panel-block {

	// Body
	.panel-body {

		// User comments container
		.panel-user-comments-container {
			margin-left: -( @panel-left-right-padding - @panel-user-comments-container-left-right-margin );
			margin-right: -( @panel-left-right-padding - @panel-user-comments-container-left-right-margin );
			margin-bottom: -@panel-user-comments-container-left-right-margin;
			padding-left: ( @panel-left-right-padding - @panel-user-comments-container-left-right-margin );
			padding-right: ( @panel-left-right-padding - @panel-user-comments-container-left-right-margin );
			background-color: @body-bg;

			// User comments
			.panel-user-comments {
				display: table;
				margin-top: -2px; // THIS IS UGLY
				padding: @panel-user-comments-top-bottom-padding 0;
				border-top: 2px solid #fff;

				// Photo container
				.panel-user-photo-container {
					float: left;

					// Photo
					img {
						display: inherit;
						height: auto;
						width: auto;
						max-width: 48px;
						max-height: 48px;
						border-radius: 100%;
						border-width: @panel-user-comments-photo-border-width;
						border-style: solid;
						border-color: @panel-user-comments-default-photo-border-color;
						background-color: transparent;
						margin-right: @panel-user-comments-photo-content-spacing;
						padding: @panel-user-comments-photo-border-distance;
					}
				}

				// Content
				.panel-user-comments-content {
					display: inherit;

					// Headlines
					h1, h2, h3, h4, h5, h6 {
						font-family: @font-family-base;
						font-size: @font-size-base;
						margin-top: 0;
						padding-top: 0;
						margin-bottom: 1px;
						color: @panel-user-comments-default-photo-headline-color;

						// Date (span)
						span {
							font-weight: normal;
							margin-left: 5px;

							// EM
							> em {
								font-style: normal;
							}
						}
					}
				}

				// Clearfix
				&:extend(.clearfix all);
			}
		}
	}
}

// --------------------------------------------------
// Call-to-action button
// --------------------------------------------------

// Variables
@panel-cta-button-spacing-top-bottom: 8px;

// Panel block
.panel.panel-block {

	// Body
	.panel-body {

		// Call-to-action button
		.panel-cta-button {
			text-align: center;

			// Button
			.btn {
				min-width: 40%;
				margin: @panel-cta-button-spacing-top-bottom auto;
			}
		}
	}
}

// --------------------------------------------------
// Date - simple
// --------------------------------------------------

// Variables
@panel-simple-date-red-font-color: @brand-userlink-red;
@panel-simple-date-gold-font-color: @brand-gold;
@panel-simple-date-blue-font-color: @brand-darkblue;
@panel-simple-date-green-font-color: @brand-darkgreen;

// Mixins
.mixin-simple-date(@date-text-color) {

	&,
	&.panel.panel-block {

		// Body
		.panel-body {

			// Date - simple
			.panel-date-simple {
				color: @date-text-color;
			}
		}
	}
}

// Panel block
.panel.panel-block {

	// Body
	.panel-body {

		// Headlines
		h1, h2, h3, h4, h5, h6 {
			+ .panel-date-simple {
				margin-top: -8px;
			}
		}

		// Date simple
		.panel-date-simple {
			font-style: italic;
			font-weight: normal;
			margin-top: 0;
		}
	}
}

// Colouring
.ktc-red {
	.mixin-simple-date(@panel-simple-date-red-font-color);
}
.ktc-gold {
	.mixin-simple-date(@panel-simple-date-gold-font-color);
}
.ktc-blue {
	.mixin-simple-date(@panel-simple-date-blue-font-color);
}
.ktc-green {
	.mixin-simple-date(@panel-simple-date-green-font-color);
}

// --------------------------------------------------
// User comments
// --------------------------------------------------

// Panel
.panel-block {

	// User comments
	.panel-user-comments {

	}
}

// |--------------------------------------------------------------------------
// | Aside
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .panel-block-aside
// | - .panel-block-aside-action
// | - .panel-block-aside-toggle
// | - .panel-block-aside-color
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

//== Heading
@panel-aside-heading-title-font-color: #fff;

//== Toggle
@panel-aside-heading-icon-open: @ikon-pilgrey-ned;
@panel-aside-heading-icon-open-height: @ikon-pilgrey-ned-height;
@panel-aside-heading-icon-open-width: @ikon-pilgrey-ned-width;
@panel-aside-heading-icon-closed: @ikon-pilgrey;
@panel-aside-heading-icon-closed-height: @ikon-pilgrey-height;
@panel-aside-heading-icon-closed-width: @ikon-pilgrey-width;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Aside color
.mixin-panel-block-aside-color(@heading-background-color) {

	// Aside
	.panel-block.panel-block-aside,
	&.panel-block.panel-block-aside {

		// Color
		&.panel-block-aside-color {

			// Heading
			.panel-heading {
				background-color: @heading-background-color;
			}
		}
	}
}

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Aside
.panel-block.panel-block-aside {
	background-color: #fff;

	// Heading
	> .panel-heading {
		background-color: @gray-darker;

		// Title
		.panel-title {
			color: @panel-aside-heading-title-font-color;
		}
	}

	// Body
	> .panel-body {
	}

	// Action
	&.panel-block-aside-action {
		background-color: @gray-darker;

		// Heading
		> .panel-heading {
			background-color: @brand-userlink-red;
		}

		// Body
		> .panel-body {

			// Text (none given) and paragraph
			&,
			p {
				color: @text-color;
			}
		}
	}

	// Toggle
	&.panel-block-aside-toggle {

		// Heading
		> .panel-heading {
			position: relative;

			// Title
			.panel-title {
				cursor: pointer;
				cursor: hand;
				padding-right: floor( ( 2 * @panel-left-right-padding ) + @panel-aside-heading-icon-open-width );
				.user-select(none);

				// Toggle icon
				&:after {
					position: absolute;
					display: block;
					content: "";
					top: 50%;
					right: 0;
					margin-top: -(floor( @panel-aside-heading-icon-open-height / 2 ));
					.sprite(@panel-aside-heading-icon-open);
				}
			}
		}

		// Closed
		&.closed {

			// Heading
			> .panel-heading {

				// Title
				.panel-title {
					padding-right: floor( ( 2 * @panel-left-right-padding ) + @panel-aside-heading-icon-closed-width );

					// Toggle icon
					&:after {
						margin-top: -(floor( @panel-aside-heading-icon-closed-height / 2 ));
						.sprite(@panel-aside-heading-icon-closed);
					}
				}
			}

			// Body
			> .panel-body {
				display: none;
			}
		}
	}
}

// Technique and environment (blue)
.tech-env {
	.mixin-panel-block-aside-color(@brand-darkblue);
}

// Network (gold)
.network {
	.mixin-panel-block-aside-color(@brand-gold);
}

// Not network (green)
.no-network {
	.mixin-panel-block-aside-color(@brand-footergreen);
}

// |--------------------------------------------------------------------------
// | Teaser
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .panel-block-teaser
// |

// --------------------------------------------------
// Variables
// --------------------------------------------------

//== Heading

//== Heading icons
@panel-block-teaser-heading-icon-spacing: 5px;
@panel-block-teaser-heading-icon-pin-green: @ikon-pin;
@panel-block-teaser-heading-icon-pin-green-height: @ikon-pin-height;
@panel-block-teaser-heading-icon-pin-green-width: @ikon-pin-width;
@panel-block-teaser-heading-icon-pin-gold: @ikon-pin-yellow;
@panel-block-teaser-heading-icon-pin-gold-height: @ikon-pin-yellow-height;
@panel-block-teaser-heading-icon-pin-gold-width: @ikon-pin-yellow-width;
@panel-block-teaser-heading-icon-pin-blue: @ikon-pin-blue;
@panel-block-teaser-heading-icon-pin-blue-height: @ikon-pin-blue-height;
@panel-block-teaser-heading-icon-pin-blue-width: @ikon-pin-blue-width;
@panel-block-teaser-heading-icon-pin-red: @ikon-pin-red;
@panel-block-teaser-heading-icon-pin-red-height: @ikon-pin-red-height;
@panel-block-teaser-heading-icon-pin-red-width: @ikon-pin-red-width;

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser
.mixin-panel-block-teaser(@icon-pin, @icon-pin-width, @icon-pin-height) {

	// Teaser
	.panel-block.panel-block-teaser {

		// Heading
		> .panel-heading {

			// Title
			.panel-title {
				padding-left: floor(@icon-pin-width + @panel-block-teaser-heading-icon-spacing);

				// Pin icon
				&:before {
					margin-top: -(floor( @icon-pin-height / 2 ));
					.sprite(@icon-pin);
				}
			}
		}
	}
}

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Teaser
.panel-block.panel-block-teaser {
	background-color: #fff;

	// Heading
	> .panel-heading {
		padding-bottom: 0;

		// Title
		.panel-title {

			// Pin icon
			&:before {
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				content: "";
			}
		}
	}

	// Body
	> .panel-body {
		padding-top: 0;
	}
}

// (green)
.ktc-green {
	.mixin-panel-block-teaser(@panel-block-teaser-heading-icon-pin-green, @panel-block-teaser-heading-icon-pin-green-width, @panel-block-teaser-heading-icon-pin-green-height);
}

// (blue)
.ktc-blue {
	.mixin-panel-block-teaser(@panel-block-teaser-heading-icon-pin-blue, @panel-block-teaser-heading-icon-pin-blue-width, @panel-block-teaser-heading-icon-pin-blue-height);
}

// (gold)
.ktc-gold {
	.mixin-panel-block-teaser(@panel-block-teaser-heading-icon-pin-gold, @panel-block-teaser-heading-icon-pin-gold-width, @panel-block-teaser-heading-icon-pin-gold-height);
}

// (red)
.ktc-red {
	.mixin-panel-block-teaser(@panel-block-teaser-heading-icon-pin-red, @panel-block-teaser-heading-icon-pin-red-width, @panel-block-teaser-heading-icon-pin-red-height);
}

// |--------------------------------------------------------------------------
// | Teaser large
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .panel-block-teaser
// |

//== Variables
@panel-block-teaser-large-title-font-size: 15px;

//== Colouring
@panel-block-teaser-large-default-headline-color: @gray-darker;
@panel-block-teaser-large-gold-headline-color: @brand-gold;
@panel-block-teaser-large-green-headline-color: @brand-darkgreen;
@panel-block-teaser-large-blue-headline-color: @brand-darkblue;
@panel-block-teaser-large-red-headline-color: @brand-userlink-red;

//== Styling

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// Teaser large
.mixin-panel-block-teaser-large(@headline-color) {

	// Teaser large
	.panel-block.panel-block-teaser-large {

		// Heading
		> .panel-heading {

			// Title and link
			.panel-title,
			> a {

				&,
				&:hover {
					color: @headline-color;
				}
			}
		}
	}
}

// Large
.panel-block.panel-block-teaser-large {
	background-color: #fff;

	// Heading
	> .panel-heading {
		margin-left: @panel-left-right-padding;
		margin-right: @panel-left-right-padding;
		padding-left: 0;
		padding-right: 0;
		border-bottom: 2px solid #e0e4e5;

		// Title and link
		.panel-title,
		> a {
			display: inline-block;
			font-size: @panel-block-teaser-large-title-font-size;
			font-weight: bold;
			text-transform: none;
		}

		// (days ago)
		span {
			float: right;
			font-size: @panel-block-teaser-large-title-font-size;
			color: @text-color;
		}
	}

	// Body
	> .panel-body {
		padding-top: 0;
	}
}

// Default
.mixin-panel-block-teaser-large(@panel-block-teaser-large-default-headline-color);

// (green)
.ktc-green {
	.mixin-panel-block-teaser-large(@panel-block-teaser-large-green-headline-color);
}

// (blue)
.ktc-blue {
	.mixin-panel-block-teaser-large(@panel-block-teaser-large-blue-headline-color);
}

// (gold)
.ktc-gold {
	.mixin-panel-block-teaser-large(@panel-block-teaser-large-gold-headline-color);
}

// (red)
.ktc-red {
	.mixin-panel-block-teaser-large(@panel-block-teaser-large-red-headline-color);
}
