.region-sidebar-second {
  margin-top: 10px;
  section.block-facetapi {
    background-color: #fff;
    h3 {
      border: none;
      padding: 5px 0px 5px 20px;
      font-size: @font-size-h5;
      font-weight: normal;
      text-transform: uppercase;
      color: #fff;
      background-color: #000;
    }
    ul.facetapi-facetapi-links {
      padding-left: 0px;
      li {
        padding: 10px 10px;
        a {
          padding: 5px 10px;
          font-size: @font-size-h5;
          font-weight: 700;
        }
      }
    }
  }
}