.region-sidebar-second {
  margin-top: 10px;
  section.block-facetapi {
    background-color: #fff;
    h3 {
      .filter-title();
    }
    ul.facetapi-facetapi-links {
      padding-left: 0px;
      padding-top: 10px;
      li {
        padding: 2px 10px;
        overflow: hidden;
        a {
          padding: 0px 10px;
          font-weight: 700;
          //.btn-blacknblue();
          width: 100%;
          float: right;
        }
      }
    }
    .facetapi-limit-link {
      display: block;
      padding: 10px 10px;
      text-align: right;
    }
  }
}
