/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@afs-x: 0px;
@afs-y: 2624px;
@afs-offset-x: 0px;
@afs-offset-y: -2624px;
@afs-width: 93px;
@afs-height: 93px;
@afs-total-width: 93px;
@afs-total-height: 2717px;
@afs-image: '../images/sprites.png';
@afs: 0px 2624px 0px -2624px 93px 93px 93px 2717px '../images/sprites.png';
@ark-x: 0px;
@ark-y: 1875px;
@ark-offset-x: 0px;
@ark-offset-y: -1875px;
@ark-width: 93px;
@ark-height: 93px;
@ark-total-width: 93px;
@ark-total-height: 2717px;
@ark-image: '../images/sprites.png';
@ark: 0px 1875px 0px -1875px 93px 93px 93px 2717px '../images/sprites.png';
@arr-x: 0px;
@arr-y: 2517px;
@arr-offset-x: 0px;
@arr-offset-y: -2517px;
@arr-width: 93px;
@arr-height: 93px;
@arr-total-width: 93px;
@arr-total-height: 2717px;
@arr-image: '../images/sprites.png';
@arr: 0px 2517px 0px -2517px 93px 93px 93px 2717px '../images/sprites.png';
@arrow_blue-x: 0px;
@arrow_blue-y: 834px;
@arrow_blue-offset-x: 0px;
@arrow_blue-offset-y: -834px;
@arrow_blue-width: 17px;
@arrow_blue-height: 17px;
@arrow_blue-total-width: 93px;
@arrow_blue-total-height: 2717px;
@arrow_blue-image: '../images/sprites.png';
@arrow_blue: 0px 834px 0px -834px 17px 17px 93px 2717px '../images/sprites.png';
@arrow_down-x: 0px;
@arrow_down-y: 536px;
@arrow_down-offset-x: 0px;
@arrow_down-offset-y: -536px;
@arrow_down-width: 15px;
@arrow_down-height: 15px;
@arrow_down-total-width: 93px;
@arrow_down-total-height: 2717px;
@arrow_down-image: '../images/sprites.png';
@arrow_down: 0px 536px 0px -536px 15px 15px 93px 2717px '../images/sprites.png';
@arrow_green-x: 0px;
@arrow_green-y: 989px;
@arrow_green-offset-x: 0px;
@arrow_green-offset-y: -989px;
@arrow_green-width: 17px;
@arrow_green-height: 17px;
@arrow_green-total-width: 93px;
@arrow_green-total-height: 2717px;
@arrow_green-image: '../images/sprites.png';
@arrow_green: 0px 989px 0px -989px 17px 17px 93px 2717px '../images/sprites.png';
@arrow_left-x: 0px;
@arrow_left-y: 507px;
@arrow_left-offset-x: 0px;
@arrow_left-offset-y: -507px;
@arrow_left-width: 15px;
@arrow_left-height: 15px;
@arrow_left-total-width: 93px;
@arrow_left-total-height: 2717px;
@arrow_left-image: '../images/sprites.png';
@arrow_left: 0px 507px 0px -507px 15px 15px 93px 2717px '../images/sprites.png';
@arrow_red-x: 0px;
@arrow_red-y: 1051px;
@arrow_red-offset-x: 0px;
@arrow_red-offset-y: -1051px;
@arrow_red-width: 17px;
@arrow_red-height: 17px;
@arrow_red-total-width: 93px;
@arrow_red-total-height: 2717px;
@arrow_red-image: '../images/sprites.png';
@arrow_red: 0px 1051px 0px -1051px 17px 17px 93px 2717px '../images/sprites.png';
@arrow_right-x: 0px;
@arrow_right-y: 333px;
@arrow_right-offset-x: 0px;
@arrow_right-offset-y: -333px;
@arrow_right-width: 15px;
@arrow_right-height: 15px;
@arrow_right-total-width: 93px;
@arrow_right-total-height: 2717px;
@arrow_right-image: '../images/sprites.png';
@arrow_right: 0px 333px 0px -333px 15px 15px 93px 2717px '../images/sprites.png';
@arrow_yellow-x: 0px;
@arrow_yellow-y: 1020px;
@arrow_yellow-offset-x: 0px;
@arrow_yellow-offset-y: -1020px;
@arrow_yellow-width: 17px;
@arrow_yellow-height: 17px;
@arrow_yellow-total-width: 93px;
@arrow_yellow-total-height: 2717px;
@arrow_yellow-image: '../images/sprites.png';
@arrow_yellow: 0px 1020px 0px -1020px 17px 17px 93px 2717px '../images/sprites.png';
@blue-dot-x: 0px;
@blue-dot-y: 66px;
@blue-dot-offset-x: 0px;
@blue-dot-offset-y: -66px;
@blue-dot-width: 8px;
@blue-dot-height: 8px;
@blue-dot-total-width: 93px;
@blue-dot-total-height: 2717px;
@blue-dot-image: '../images/sprites.png';
@blue-dot: 0px 66px 0px -66px 8px 8px 93px 2717px '../images/sprites.png';
@calendar-x: 0px;
@calendar-y: 1815px;
@calendar-offset-x: 0px;
@calendar-offset-y: -1815px;
@calendar-width: 44px;
@calendar-height: 46px;
@calendar-total-width: 93px;
@calendar-total-height: 2717px;
@calendar-image: '../images/sprites.png';
@calendar: 0px 1815px 0px -1815px 44px 46px 93px 2717px '../images/sprites.png';
@comment-x: 0px;
@comment-y: 191px;
@comment-offset-x: 0px;
@comment-offset-y: -191px;
@comment-width: 15px;
@comment-height: 14px;
@comment-total-width: 93px;
@comment-total-height: 2717px;
@comment-image: '../images/sprites.png';
@comment: 0px 191px 0px -191px 15px 14px 93px 2717px '../images/sprites.png';
@deb-x: 0px;
@deb-y: 2196px;
@deb-offset-x: 0px;
@deb-offset-y: -2196px;
@deb-width: 93px;
@deb-height: 93px;
@deb-total-width: 93px;
@deb-total-height: 2717px;
@deb-image: '../images/sprites.png';
@deb: 0px 2196px 0px -2196px 93px 93px 93px 2717px '../images/sprites.png';
@dok-x: 0px;
@dok-y: 2089px;
@dok-offset-x: 0px;
@dok-offset-y: -2089px;
@dok-width: 93px;
@dok-height: 93px;
@dok-total-width: 93px;
@dok-total-height: 2717px;
@dok-image: '../images/sprites.png';
@dok: 0px 2089px 0px -2089px 93px 93px 93px 2717px '../images/sprites.png';
@dropdown-apple-t1-x: 0px;
@dropdown-apple-t1-y: 774px;
@dropdown-apple-t1-offset-x: 0px;
@dropdown-apple-t1-offset-y: -774px;
@dropdown-apple-t1-width: 16px;
@dropdown-apple-t1-height: 16px;
@dropdown-apple-t1-total-width: 93px;
@dropdown-apple-t1-total-height: 2717px;
@dropdown-apple-t1-image: '../images/sprites.png';
@dropdown-apple-t1: 0px 774px 0px -774px 16px 16px 93px 2717px '../images/sprites.png';
@dropdown-facebook-t1-x: 0px;
@dropdown-facebook-t1-y: 744px;
@dropdown-facebook-t1-offset-x: 0px;
@dropdown-facebook-t1-offset-y: -744px;
@dropdown-facebook-t1-width: 16px;
@dropdown-facebook-t1-height: 16px;
@dropdown-facebook-t1-total-width: 93px;
@dropdown-facebook-t1-total-height: 2717px;
@dropdown-facebook-t1-image: '../images/sprites.png';
@dropdown-facebook-t1: 0px 744px 0px -744px 16px 16px 93px 2717px '../images/sprites.png';
@dropdown-google-t1-x: 0px;
@dropdown-google-t1-y: 684px;
@dropdown-google-t1-offset-x: 0px;
@dropdown-google-t1-offset-y: -684px;
@dropdown-google-t1-width: 16px;
@dropdown-google-t1-height: 16px;
@dropdown-google-t1-total-width: 93px;
@dropdown-google-t1-total-height: 2717px;
@dropdown-google-t1-image: '../images/sprites.png';
@dropdown-google-t1: 0px 684px 0px -684px 16px 16px 93px 2717px '../images/sprites.png';
@dropdown-outlook-t1-x: 0px;
@dropdown-outlook-t1-y: 654px;
@dropdown-outlook-t1-offset-x: 0px;
@dropdown-outlook-t1-offset-y: -654px;
@dropdown-outlook-t1-width: 16px;
@dropdown-outlook-t1-height: 16px;
@dropdown-outlook-t1-total-width: 93px;
@dropdown-outlook-t1-total-height: 2717px;
@dropdown-outlook-t1-image: '../images/sprites.png';
@dropdown-outlook-t1: 0px 654px 0px -654px 16px 16px 93px 2717px '../images/sprites.png';
@dropdown-yahoo-t1-x: 0px;
@dropdown-yahoo-t1-y: 624px;
@dropdown-yahoo-t1-offset-x: 0px;
@dropdown-yahoo-t1-offset-y: -624px;
@dropdown-yahoo-t1-width: 16px;
@dropdown-yahoo-t1-height: 16px;
@dropdown-yahoo-t1-total-width: 93px;
@dropdown-yahoo-t1-total-height: 2717px;
@dropdown-yahoo-t1-image: '../images/sprites.png';
@dropdown-yahoo-t1: 0px 624px 0px -624px 16px 16px 93px 2717px '../images/sprites.png';
@footer_location-x: 0px;
@footer_location-y: 478px;
@footer_location-offset-x: 0px;
@footer_location-offset-y: -478px;
@footer_location-width: 12px;
@footer_location-height: 15px;
@footer_location-total-width: 93px;
@footer_location-total-height: 2717px;
@footer_location-image: '../images/sprites.png';
@footer_location: 0px 478px 0px -478px 12px 15px 93px 2717px '../images/sprites.png';
@green-dot-x: 0px;
@green-dot-y: 0px;
@green-dot-offset-x: 0px;
@green-dot-offset-y: 0px;
@green-dot-width: 8px;
@green-dot-height: 8px;
@green-dot-total-width: 93px;
@green-dot-total-height: 2717px;
@green-dot-image: '../images/sprites.png';
@green-dot: 0px 0px 0px 0px 8px 8px 93px 2717px '../images/sprites.png';
@header-cog-x: 0px;
@header-cog-y: 1565px;
@header-cog-offset-x: 0px;
@header-cog-offset-y: -1565px;
@header-cog-width: 27px;
@header-cog-height: 27px;
@header-cog-total-width: 93px;
@header-cog-total-height: 2717px;
@header-cog-image: '../images/sprites.png';
@header-cog: 0px 1565px 0px -1565px 27px 27px 93px 2717px '../images/sprites.png';
@header-login-x: 0px;
@header-login-y: 1647px;
@header-login-offset-x: 0px;
@header-login-offset-y: -1647px;
@header-login-width: 28px;
@header-login-height: 28px;
@header-login-total-width: 93px;
@header-login-total-height: 2717px;
@header-login-image: '../images/sprites.png';
@header-login: 0px 1647px 0px -1647px 28px 28px 93px 2717px '../images/sprites.png';
@header-logout-x: 0px;
@header-logout-y: 1731px;
@header-logout-offset-x: 0px;
@header-logout-offset-y: -1731px;
@header-logout-width: 28px;
@header-logout-height: 28px;
@header-logout-total-width: 93px;
@header-logout-total-height: 2717px;
@header-logout-image: '../images/sprites.png';
@header-logout: 0px 1731px 0px -1731px 28px 28px 93px 2717px '../images/sprites.png';
@header-search-x: 0px;
@header-search-y: 1319px;
@header-search-offset-x: 0px;
@header-search-offset-y: -1319px;
@header-search-width: 27px;
@header-search-height: 27px;
@header-search-total-width: 93px;
@header-search-total-height: 2717px;
@header-search-image: '../images/sprites.png';
@header-search: 0px 1319px 0px -1319px 27px 27px 93px 2717px '../images/sprites.png';
@header-toggle-x: 0px;
@header-toggle-y: 1401px;
@header-toggle-offset-x: 0px;
@header-toggle-offset-y: -1401px;
@header-toggle-width: 27px;
@header-toggle-height: 27px;
@header-toggle-total-width: 93px;
@header-toggle-total-height: 2717px;
@header-toggle-image: '../images/sprites.png';
@header-toggle: 0px 1401px 0px -1401px 27px 27px 93px 2717px '../images/sprites.png';
@header-user-create-x: 0px;
@header-user-create-y: 1483px;
@header-user-create-offset-x: 0px;
@header-user-create-offset-y: -1483px;
@header-user-create-width: 27px;
@header-user-create-height: 27px;
@header-user-create-total-width: 93px;
@header-user-create-total-height: 2717px;
@header-user-create-image: '../images/sprites.png';
@header-user-create: 0px 1483px 0px -1483px 27px 27px 93px 2717px '../images/sprites.png';
@hor-x: 0px;
@hor-y: 2410px;
@hor-offset-x: 0px;
@hor-offset-y: -2410px;
@hor-width: 93px;
@hor-height: 93px;
@hor-total-width: 93px;
@hor-total-height: 2717px;
@hor-image: '../images/sprites.png';
@hor: 0px 2410px 0px -2410px 93px 93px 93px 2717px '../images/sprites.png';
@ikon-afstemning-x: 0px;
@ikon-afstemning-y: 164px;
@ikon-afstemning-offset-x: 0px;
@ikon-afstemning-offset-y: -164px;
@ikon-afstemning-width: 16px;
@ikon-afstemning-height: 13px;
@ikon-afstemning-total-width: 93px;
@ikon-afstemning-total-height: 2717px;
@ikon-afstemning-image: '../images/sprites.png';
@ikon-afstemning: 0px 164px 0px -164px 16px 13px 93px 2717px '../images/sprites.png';
@ikon-afstemning2-x: 0px;
@ikon-afstemning2-y: 1155px;
@ikon-afstemning2-offset-x: 0px;
@ikon-afstemning2-offset-y: -1155px;
@ikon-afstemning2-width: 27px;
@ikon-afstemning2-height: 27px;
@ikon-afstemning2-total-width: 93px;
@ikon-afstemning2-total-height: 2717px;
@ikon-afstemning2-image: '../images/sprites.png';
@ikon-afstemning2: 0px 1155px 0px -1155px 27px 27px 93px 2717px '../images/sprites.png';
@ikon-arrangement-x: 0px;
@ikon-arrangement-y: 247px;
@ikon-arrangement-offset-x: 0px;
@ikon-arrangement-offset-y: -247px;
@ikon-arrangement-width: 14px;
@ikon-arrangement-height: 14px;
@ikon-arrangement-total-width: 93px;
@ikon-arrangement-total-height: 2717px;
@ikon-arrangement-image: '../images/sprites.png';
@ikon-arrangement: 0px 247px 0px -247px 14px 14px 93px 2717px '../images/sprites.png';
@ikon-arrangement2-x: 0px;
@ikon-arrangement2-y: 1237px;
@ikon-arrangement2-offset-x: 0px;
@ikon-arrangement2-offset-y: -1237px;
@ikon-arrangement2-width: 27px;
@ikon-arrangement2-height: 27px;
@ikon-arrangement2-total-width: 93px;
@ikon-arrangement2-total-height: 2717px;
@ikon-arrangement2-image: '../images/sprites.png';
@ikon-arrangement2: 0px 1237px 0px -1237px 27px 27px 93px 2717px '../images/sprites.png';
@ikon-arrow-right-x: 0px;
@ikon-arrow-right-y: 896px;
@ikon-arrow-right-offset-x: 0px;
@ikon-arrow-right-offset-y: -896px;
@ikon-arrow-right-width: 17px;
@ikon-arrow-right-height: 17px;
@ikon-arrow-right-total-width: 93px;
@ikon-arrow-right-total-height: 2717px;
@ikon-arrow-right-image: '../images/sprites.png';
@ikon-arrow-right: 0px 896px 0px -896px 17px 17px 93px 2717px '../images/sprites.png';
@ikon-artikel-x: 0px;
@ikon-artikel-y: 1442px;
@ikon-artikel-offset-x: 0px;
@ikon-artikel-offset-y: -1442px;
@ikon-artikel-width: 27px;
@ikon-artikel-height: 27px;
@ikon-artikel-total-width: 93px;
@ikon-artikel-total-height: 2717px;
@ikon-artikel-image: '../images/sprites.png';
@ikon-artikel: 0px 1442px 0px -1442px 27px 27px 93px 2717px '../images/sprites.png';
@ikon-artikkel-x: 0px;
@ikon-artikkel-y: 113px;
@ikon-artikkel-offset-x: 0px;
@ikon-artikkel-offset-y: -113px;
@ikon-artikkel-width: 11px;
@ikon-artikkel-height: 11px;
@ikon-artikkel-total-width: 93px;
@ikon-artikkel-total-height: 2717px;
@ikon-artikkel-image: '../images/sprites.png';
@ikon-artikkel: 0px 113px 0px -113px 11px 11px 93px 2717px '../images/sprites.png';
@ikon-debat-x: 0px;
@ikon-debat-y: 1524px;
@ikon-debat-offset-x: 0px;
@ikon-debat-offset-y: -1524px;
@ikon-debat-width: 27px;
@ikon-debat-height: 27px;
@ikon-debat-total-width: 93px;
@ikon-debat-total-height: 2717px;
@ikon-debat-image: '../images/sprites.png';
@ikon-debat: 0px 1524px 0px -1524px 27px 27px 93px 2717px '../images/sprites.png';
@ikon-debat2-x: 0px;
@ikon-debat2-y: 219px;
@ikon-debat2-offset-x: 0px;
@ikon-debat2-offset-y: -219px;
@ikon-debat2-width: 15px;
@ikon-debat2-height: 14px;
@ikon-debat2-total-width: 93px;
@ikon-debat2-total-height: 2717px;
@ikon-debat2-image: '../images/sprites.png';
@ikon-debat2: 0px 219px 0px -219px 15px 14px 93px 2717px '../images/sprites.png';
@ikon-dok-x: 0px;
@ikon-dok-y: 804px;
@ikon-dok-offset-x: 0px;
@ikon-dok-offset-y: -804px;
@ikon-dok-width: 12px;
@ikon-dok-height: 16px;
@ikon-dok-total-width: 93px;
@ikon-dok-total-height: 2717px;
@ikon-dok-image: '../images/sprites.png';
@ikon-dok: 0px 804px 0px -804px 12px 16px 93px 2717px '../images/sprites.png';
@ikon-dokument-x: 0px;
@ikon-dokument-y: 1114px;
@ikon-dokument-offset-x: 0px;
@ikon-dokument-offset-y: -1114px;
@ikon-dokument-width: 27px;
@ikon-dokument-height: 27px;
@ikon-dokument-total-width: 93px;
@ikon-dokument-total-height: 2717px;
@ikon-dokument-image: '../images/sprites.png';
@ikon-dokument: 0px 1114px 0px -1114px 27px 27px 93px 2717px '../images/sprites.png';
@ikon-hoering-x: 0px;
@ikon-hoering-y: 594px;
@ikon-hoering-offset-x: 0px;
@ikon-hoering-offset-y: -594px;
@ikon-hoering-width: 9px;
@ikon-hoering-height: 16px;
@ikon-hoering-total-width: 93px;
@ikon-hoering-total-height: 2717px;
@ikon-hoering-image: '../images/sprites.png';
@ikon-hoering: 0px 594px 0px -594px 9px 16px 93px 2717px '../images/sprites.png';
@ikon-hoering2-x: 0px;
@ikon-hoering2-y: 1196px;
@ikon-hoering2-offset-x: 0px;
@ikon-hoering2-offset-y: -1196px;
@ikon-hoering2-width: 27px;
@ikon-hoering2-height: 27px;
@ikon-hoering2-total-width: 93px;
@ikon-hoering2-total-height: 2717px;
@ikon-hoering2-image: '../images/sprites.png';
@ikon-hoering2: 0px 1196px 0px -1196px 27px 27px 93px 2717px '../images/sprites.png';
@ikon-netvaerk-x: 0px;
@ikon-netvaerk-y: 865px;
@ikon-netvaerk-offset-x: 0px;
@ikon-netvaerk-offset-y: -865px;
@ikon-netvaerk-width: 15px;
@ikon-netvaerk-height: 17px;
@ikon-netvaerk-total-width: 93px;
@ikon-netvaerk-total-height: 2717px;
@ikon-netvaerk-image: '../images/sprites.png';
@ikon-netvaerk: 0px 865px 0px -865px 15px 17px 93px 2717px '../images/sprites.png';
@ikon-netvaerk2-x: 0px;
@ikon-netvaerk2-y: 1278px;
@ikon-netvaerk2-offset-x: 0px;
@ikon-netvaerk2-offset-y: -1278px;
@ikon-netvaerk2-width: 27px;
@ikon-netvaerk2-height: 27px;
@ikon-netvaerk2-total-width: 93px;
@ikon-netvaerk2-total-height: 2717px;
@ikon-netvaerk2-image: '../images/sprites.png';
@ikon-netvaerk2: 0px 1278px 0px -1278px 27px 27px 93px 2717px '../images/sprites.png';
@ikon-nyhed-x: 0px;
@ikon-nyhed-y: 714px;
@ikon-nyhed-offset-x: 0px;
@ikon-nyhed-offset-y: -714px;
@ikon-nyhed-width: 15px;
@ikon-nyhed-height: 16px;
@ikon-nyhed-total-width: 93px;
@ikon-nyhed-total-height: 2717px;
@ikon-nyhed-image: '../images/sprites.png';
@ikon-nyhed: 0px 714px 0px -714px 15px 16px 93px 2717px '../images/sprites.png';
@ikon-nyhed2-x: 0px;
@ikon-nyhed2-y: 1360px;
@ikon-nyhed2-offset-x: 0px;
@ikon-nyhed2-offset-y: -1360px;
@ikon-nyhed2-width: 27px;
@ikon-nyhed2-height: 27px;
@ikon-nyhed2-total-width: 93px;
@ikon-nyhed2-total-height: 2717px;
@ikon-nyhed2-image: '../images/sprites.png';
@ikon-nyhed2: 0px 1360px 0px -1360px 27px 27px 93px 2717px '../images/sprites.png';
@ikon-pilgrey-left-x: 0px;
@ikon-pilgrey-left-y: 304px;
@ikon-pilgrey-left-offset-x: 0px;
@ikon-pilgrey-left-offset-y: -304px;
@ikon-pilgrey-left-width: 15px;
@ikon-pilgrey-left-height: 15px;
@ikon-pilgrey-left-total-width: 93px;
@ikon-pilgrey-left-total-height: 2717px;
@ikon-pilgrey-left-image: '../images/sprites.png';
@ikon-pilgrey-left: 0px 304px 0px -304px 15px 15px 93px 2717px '../images/sprites.png';
@ikon-pilgrey-ned-x: 0px;
@ikon-pilgrey-ned-y: 275px;
@ikon-pilgrey-ned-offset-x: 0px;
@ikon-pilgrey-ned-offset-y: -275px;
@ikon-pilgrey-ned-width: 15px;
@ikon-pilgrey-ned-height: 15px;
@ikon-pilgrey-ned-total-width: 93px;
@ikon-pilgrey-ned-total-height: 2717px;
@ikon-pilgrey-ned-image: '../images/sprites.png';
@ikon-pilgrey-ned: 0px 275px 0px -275px 15px 15px 93px 2717px '../images/sprites.png';
@ikon-pilgrey-x: 0px;
@ikon-pilgrey-y: 449px;
@ikon-pilgrey-offset-x: 0px;
@ikon-pilgrey-offset-y: -449px;
@ikon-pilgrey-width: 15px;
@ikon-pilgrey-height: 15px;
@ikon-pilgrey-total-width: 93px;
@ikon-pilgrey-total-height: 2717px;
@ikon-pilgrey-image: '../images/sprites.png';
@ikon-pilgrey: 0px 449px 0px -449px 15px 15px 93px 2717px '../images/sprites.png';
@ikon-pin-blue-x: 0px;
@ikon-pin-blue-y: 420px;
@ikon-pin-blue-offset-x: 0px;
@ikon-pin-blue-offset-y: -420px;
@ikon-pin-blue-width: 12px;
@ikon-pin-blue-height: 15px;
@ikon-pin-blue-total-width: 93px;
@ikon-pin-blue-total-height: 2717px;
@ikon-pin-blue-image: '../images/sprites.png';
@ikon-pin-blue: 0px 420px 0px -420px 12px 15px 93px 2717px '../images/sprites.png';
@ikon-pin-red-x: 0px;
@ikon-pin-red-y: 362px;
@ikon-pin-red-offset-x: 0px;
@ikon-pin-red-offset-y: -362px;
@ikon-pin-red-width: 12px;
@ikon-pin-red-height: 15px;
@ikon-pin-red-total-width: 93px;
@ikon-pin-red-total-height: 2717px;
@ikon-pin-red-image: '../images/sprites.png';
@ikon-pin-red: 0px 362px 0px -362px 12px 15px 93px 2717px '../images/sprites.png';
@ikon-pin-yellow-x: 0px;
@ikon-pin-yellow-y: 565px;
@ikon-pin-yellow-offset-x: 0px;
@ikon-pin-yellow-offset-y: -565px;
@ikon-pin-yellow-width: 12px;
@ikon-pin-yellow-height: 15px;
@ikon-pin-yellow-total-width: 93px;
@ikon-pin-yellow-total-height: 2717px;
@ikon-pin-yellow-image: '../images/sprites.png';
@ikon-pin-yellow: 0px 565px 0px -565px 12px 15px 93px 2717px '../images/sprites.png';
@ikon-pin-x: 0px;
@ikon-pin-y: 391px;
@ikon-pin-offset-x: 0px;
@ikon-pin-offset-y: -391px;
@ikon-pin-width: 12px;
@ikon-pin-height: 15px;
@ikon-pin-total-width: 93px;
@ikon-pin-total-height: 2717px;
@ikon-pin-image: '../images/sprites.png';
@ikon-pin: 0px 391px 0px -391px 12px 15px 93px 2717px '../images/sprites.png';
@net-x: 0px;
@net-y: 1982px;
@net-offset-x: 0px;
@net-offset-y: -1982px;
@net-width: 93px;
@net-height: 93px;
@net-total-width: 93px;
@net-total-height: 2717px;
@net-image: '../images/sprites.png';
@net: 0px 1982px 0px -1982px 93px 93px 93px 2717px '../images/sprites.png';
@node_add-x: 0px;
@node_add-y: 1689px;
@node_add-offset-x: 0px;
@node_add-offset-y: -1689px;
@node_add-width: 28px;
@node_add-height: 28px;
@node_add-total-width: 93px;
@node_add-total-height: 2717px;
@node_add-image: '../images/sprites.png';
@node_add: 0px 1689px 0px -1689px 28px 28px 93px 2717px '../images/sprites.png';
@nyh-x: 0px;
@nyh-y: 2303px;
@nyh-offset-x: 0px;
@nyh-offset-y: -2303px;
@nyh-width: 93px;
@nyh-height: 93px;
@nyh-total-width: 93px;
@nyh-total-height: 2717px;
@nyh-image: '../images/sprites.png';
@nyh: 0px 2303px 0px -2303px 93px 93px 93px 2717px '../images/sprites.png';
@private-x: 0px;
@private-y: 138px;
@private-offset-x: 0px;
@private-offset-y: -138px;
@private-width: 11px;
@private-height: 12px;
@private-total-width: 93px;
@private-total-height: 2717px;
@private-image: '../images/sprites.png';
@private: 0px 138px 0px -138px 11px 12px 93px 2717px '../images/sprites.png';
@readed-x: 0px;
@readed-y: 88px;
@readed-offset-x: 0px;
@readed-offset-y: -88px;
@readed-width: 23px;
@readed-height: 11px;
@readed-total-width: 93px;
@readed-total-height: 2717px;
@readed-image: '../images/sprites.png';
@readed: 0px 88px 0px -88px 23px 11px 93px 2717px '../images/sprites.png';
@red-dot-x: 0px;
@red-dot-y: 44px;
@red-dot-offset-x: 0px;
@red-dot-offset-y: -44px;
@red-dot-width: 8px;
@red-dot-height: 8px;
@red-dot-total-width: 93px;
@red-dot-total-height: 2717px;
@red-dot-image: '../images/sprites.png';
@red-dot: 0px 44px 0px -44px 8px 8px 93px 2717px '../images/sprites.png';
@red_tick-x: 0px;
@red_tick-y: 927px;
@red_tick-offset-x: 0px;
@red_tick-offset-y: -927px;
@red_tick-width: 17px;
@red_tick-height: 17px;
@red_tick-total-width: 93px;
@red_tick-total-height: 2717px;
@red_tick-image: '../images/sprites.png';
@red_tick: 0px 927px 0px -927px 17px 17px 93px 2717px '../images/sprites.png';
@rundt-x: 0px;
@rundt-y: 1082px;
@rundt-offset-x: 0px;
@rundt-offset-y: -1082px;
@rundt-width: 18px;
@rundt-height: 18px;
@rundt-total-width: 93px;
@rundt-total-height: 2717px;
@rundt-image: '../images/sprites.png';
@rundt: 0px 1082px 0px -1082px 18px 18px 93px 2717px '../images/sprites.png';
@search-x: 0px;
@search-y: 1773px;
@search-offset-x: 0px;
@search-offset-y: -1773px;
@search-width: 28px;
@search-height: 28px;
@search-total-width: 93px;
@search-total-height: 2717px;
@search-image: '../images/sprites.png';
@search: 0px 1773px 0px -1773px 28px 28px 93px 2717px '../images/sprites.png';
@tick-x: 0px;
@tick-y: 958px;
@tick-offset-x: 0px;
@tick-offset-y: -958px;
@tick-width: 17px;
@tick-height: 17px;
@tick-total-width: 93px;
@tick-total-height: 2717px;
@tick-image: '../images/sprites.png';
@tick: 0px 958px 0px -958px 17px 17px 93px 2717px '../images/sprites.png';
@user_create-x: 0px;
@user_create-y: 1606px;
@user_create-offset-x: 0px;
@user_create-offset-y: -1606px;
@user_create-width: 27px;
@user_create-height: 27px;
@user_create-total-width: 93px;
@user_create-total-height: 2717px;
@user_create-image: '../images/sprites.png';
@user_create: 0px 1606px 0px -1606px 27px 27px 93px 2717px '../images/sprites.png';
@yellow-dot-x: 0px;
@yellow-dot-y: 22px;
@yellow-dot-offset-x: 0px;
@yellow-dot-offset-y: -22px;
@yellow-dot-width: 8px;
@yellow-dot-height: 8px;
@yellow-dot-total-width: 93px;
@yellow-dot-total-height: 2717px;
@yellow-dot-image: '../images/sprites.png';
@yellow-dot: 0px 22px 0px -22px 8px 8px 93px 2717px '../images/sprites.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
