/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@arrow_blue-x: 0px;
@arrow_blue-y: 25px;
@arrow_blue-offset-x: 0px;
@arrow_blue-offset-y: -25px;
@arrow_blue-width: 17px;
@arrow_blue-height: 17px;
@arrow_blue-total-width: 89px;
@arrow_blue-total-height: 462px;
@arrow_blue-image: '../images/sprites.png';
@arrow_blue: 0px 25px 0px -25px 17px 17px 89px 462px '../images/sprites.png';
@arrow_green-x: 0px;
@arrow_green-y: 93px;
@arrow_green-offset-x: 0px;
@arrow_green-offset-y: -93px;
@arrow_green-width: 17px;
@arrow_green-height: 17px;
@arrow_green-total-width: 89px;
@arrow_green-total-height: 462px;
@arrow_green-image: '../images/sprites.png';
@arrow_green: 0px 93px 0px -93px 17px 17px 89px 462px '../images/sprites.png';
@arrow_red-x: 0px;
@arrow_red-y: 42px;
@arrow_red-offset-x: 0px;
@arrow_red-offset-y: -42px;
@arrow_red-width: 17px;
@arrow_red-height: 17px;
@arrow_red-total-width: 89px;
@arrow_red-total-height: 462px;
@arrow_red-image: '../images/sprites.png';
@arrow_red: 0px 42px 0px -42px 17px 17px 89px 462px '../images/sprites.png';
@arrow_yellow-x: 0px;
@arrow_yellow-y: 59px;
@arrow_yellow-offset-x: 0px;
@arrow_yellow-offset-y: -59px;
@arrow_yellow-width: 17px;
@arrow_yellow-height: 17px;
@arrow_yellow-total-width: 89px;
@arrow_yellow-total-height: 462px;
@arrow_yellow-image: '../images/sprites.png';
@arrow_yellow: 0px 59px 0px -59px 17px 17px 89px 462px '../images/sprites.png';
@calendar-x: 0px;
@calendar-y: 368px;
@calendar-offset-x: 0px;
@calendar-offset-y: -368px;
@calendar-width: 89px;
@calendar-height: 94px;
@calendar-total-width: 89px;
@calendar-total-height: 462px;
@calendar-image: '../images/sprites.png';
@calendar: 0px 368px 0px -368px 89px 94px 89px 462px '../images/sprites.png';
@comment-x: 0px;
@comment-y: 11px;
@comment-offset-x: 0px;
@comment-offset-y: -11px;
@comment-width: 15px;
@comment-height: 14px;
@comment-total-width: 89px;
@comment-total-height: 462px;
@comment-image: '../images/sprites.png';
@comment: 0px 11px 0px -11px 15px 14px 89px 462px '../images/sprites.png';
@login-x: 0px;
@login-y: 312px;
@login-offset-x: 0px;
@login-offset-y: -312px;
@login-width: 56px;
@login-height: 56px;
@login-total-width: 89px;
@login-total-height: 462px;
@login-image: '../images/sprites.png';
@login: 0px 312px 0px -312px 56px 56px 89px 462px '../images/sprites.png';
@login_open-x: 0px;
@login_open-y: 200px;
@login_open-offset-x: 0px;
@login_open-offset-y: -200px;
@login_open-width: 56px;
@login_open-height: 56px;
@login_open-total-width: 89px;
@login_open-total-height: 462px;
@login_open-image: '../images/sprites.png';
@login_open: 0px 200px 0px -200px 56px 56px 89px 462px '../images/sprites.png';
@node_add-x: 0px;
@node_add-y: 144px;
@node_add-offset-x: 0px;
@node_add-offset-y: -144px;
@node_add-width: 56px;
@node_add-height: 56px;
@node_add-total-width: 89px;
@node_add-total-height: 462px;
@node_add-image: '../images/sprites.png';
@node_add: 0px 144px 0px -144px 56px 56px 89px 462px '../images/sprites.png';
@readed-x: 0px;
@readed-y: 0px;
@readed-offset-x: 0px;
@readed-offset-y: 0px;
@readed-width: 23px;
@readed-height: 11px;
@readed-total-width: 89px;
@readed-total-height: 462px;
@readed-image: '../images/sprites.png';
@readed: 0px 0px 0px 0px 23px 11px 89px 462px '../images/sprites.png';
@red_tick-x: 0px;
@red_tick-y: 76px;
@red_tick-offset-x: 0px;
@red_tick-offset-y: -76px;
@red_tick-width: 17px;
@red_tick-height: 17px;
@red_tick-total-width: 89px;
@red_tick-total-height: 462px;
@red_tick-image: '../images/sprites.png';
@red_tick: 0px 76px 0px -76px 17px 17px 89px 462px '../images/sprites.png';
@search-x: 0px;
@search-y: 256px;
@search-offset-x: 0px;
@search-offset-y: -256px;
@search-width: 56px;
@search-height: 56px;
@search-total-width: 89px;
@search-total-height: 462px;
@search-image: '../images/sprites.png';
@search: 0px 256px 0px -256px 56px 56px 89px 462px '../images/sprites.png';
@tick-x: 0px;
@tick-y: 110px;
@tick-offset-x: 0px;
@tick-offset-y: -110px;
@tick-width: 34px;
@tick-height: 34px;
@tick-total-width: 89px;
@tick-total-height: 462px;
@tick-image: '../images/sprites.png';
@tick: 0px 110px 0px -110px 34px 34px 89px 462px '../images/sprites.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
