/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path;
*/
@arrow_blue-x: 0px;
@arrow_blue-y: 89px;
@arrow_blue-offset-x: 0px;
@arrow_blue-offset-y: -89px;
@arrow_blue-width: 17px;
@arrow_blue-height: 17px;
@arrow_blue-total-width: 89px;
@arrow_blue-total-height: 380px;
@arrow_blue-image: '../images/sprites.png';
@arrow_blue: 0px 89px 0px -89px 17px 17px 89px 380px '../images/sprites.png';
@arrow_down-x: 0px;
@arrow_down-y: 40px;
@arrow_down-offset-x: 0px;
@arrow_down-offset-y: -40px;
@arrow_down-width: 15px;
@arrow_down-height: 15px;
@arrow_down-total-width: 89px;
@arrow_down-total-height: 380px;
@arrow_down-image: '../images/sprites.png';
@arrow_down: 0px 40px 0px -40px 15px 15px 89px 380px '../images/sprites.png';
@arrow_green-x: 0px;
@arrow_green-y: 106px;
@arrow_green-offset-x: 0px;
@arrow_green-offset-y: -106px;
@arrow_green-width: 17px;
@arrow_green-height: 17px;
@arrow_green-total-width: 89px;
@arrow_green-total-height: 380px;
@arrow_green-image: '../images/sprites.png';
@arrow_green: 0px 106px 0px -106px 17px 17px 89px 380px '../images/sprites.png';
@arrow_red-x: 0px;
@arrow_red-y: 123px;
@arrow_red-offset-x: 0px;
@arrow_red-offset-y: -123px;
@arrow_red-width: 17px;
@arrow_red-height: 17px;
@arrow_red-total-width: 89px;
@arrow_red-total-height: 380px;
@arrow_red-image: '../images/sprites.png';
@arrow_red: 0px 123px 0px -123px 17px 17px 89px 380px '../images/sprites.png';
@arrow_yellow-x: 0px;
@arrow_yellow-y: 55px;
@arrow_yellow-offset-x: 0px;
@arrow_yellow-offset-y: -55px;
@arrow_yellow-width: 17px;
@arrow_yellow-height: 17px;
@arrow_yellow-total-width: 89px;
@arrow_yellow-total-height: 380px;
@arrow_yellow-image: '../images/sprites.png';
@arrow_yellow: 0px 55px 0px -55px 17px 17px 89px 380px '../images/sprites.png';
@calendar-x: 0px;
@calendar-y: 286px;
@calendar-offset-x: 0px;
@calendar-offset-y: -286px;
@calendar-width: 89px;
@calendar-height: 94px;
@calendar-total-width: 89px;
@calendar-total-height: 380px;
@calendar-image: '../images/sprites.png';
@calendar: 0px 286px 0px -286px 89px 94px 89px 380px '../images/sprites.png';
@comment-x: 0px;
@comment-y: 11px;
@comment-offset-x: 0px;
@comment-offset-y: -11px;
@comment-width: 15px;
@comment-height: 14px;
@comment-total-width: 89px;
@comment-total-height: 380px;
@comment-image: '../images/sprites.png';
@comment: 0px 11px 0px -11px 15px 14px 89px 380px '../images/sprites.png';
@footer_location-x: 0px;
@footer_location-y: 25px;
@footer_location-offset-x: 0px;
@footer_location-offset-y: -25px;
@footer_location-width: 12px;
@footer_location-height: 15px;
@footer_location-total-width: 89px;
@footer_location-total-height: 380px;
@footer_location-image: '../images/sprites.png';
@footer_location: 0px 25px 0px -25px 12px 15px 89px 380px '../images/sprites.png';
@login-x: 0px;
@login-y: 196px;
@login-offset-x: 0px;
@login-offset-y: -196px;
@login-width: 28px;
@login-height: 28px;
@login-total-width: 89px;
@login-total-height: 380px;
@login-image: '../images/sprites.png';
@login: 0px 196px 0px -196px 28px 28px 89px 380px '../images/sprites.png';
@login_open-x: 0px;
@login_open-y: 140px;
@login_open-offset-x: 0px;
@login_open-offset-y: -140px;
@login_open-width: 28px;
@login_open-height: 28px;
@login_open-total-width: 89px;
@login_open-total-height: 380px;
@login_open-image: '../images/sprites.png';
@login_open: 0px 140px 0px -140px 28px 28px 89px 380px '../images/sprites.png';
@node_add-x: 0px;
@node_add-y: 168px;
@node_add-offset-x: 0px;
@node_add-offset-y: -168px;
@node_add-width: 28px;
@node_add-height: 28px;
@node_add-total-width: 89px;
@node_add-total-height: 380px;
@node_add-image: '../images/sprites.png';
@node_add: 0px 168px 0px -168px 28px 28px 89px 380px '../images/sprites.png';
@readed-x: 0px;
@readed-y: 0px;
@readed-offset-x: 0px;
@readed-offset-y: 0px;
@readed-width: 23px;
@readed-height: 11px;
@readed-total-width: 89px;
@readed-total-height: 380px;
@readed-image: '../images/sprites.png';
@readed: 0px 0px 0px 0px 23px 11px 89px 380px '../images/sprites.png';
@red_tick-x: 0px;
@red_tick-y: 72px;
@red_tick-offset-x: 0px;
@red_tick-offset-y: -72px;
@red_tick-width: 17px;
@red_tick-height: 17px;
@red_tick-total-width: 89px;
@red_tick-total-height: 380px;
@red_tick-image: '../images/sprites.png';
@red_tick: 0px 72px 0px -72px 17px 17px 89px 380px '../images/sprites.png';
@search-x: 0px;
@search-y: 224px;
@search-offset-x: 0px;
@search-offset-y: -224px;
@search-width: 28px;
@search-height: 28px;
@search-total-width: 89px;
@search-total-height: 380px;
@search-image: '../images/sprites.png';
@search: 0px 224px 0px -224px 28px 28px 89px 380px '../images/sprites.png';
@tick-x: 0px;
@tick-y: 252px;
@tick-offset-x: 0px;
@tick-offset-y: -252px;
@tick-width: 34px;
@tick-height: 34px;
@tick-total-width: 89px;
@tick-total-height: 380px;
@tick-image: '../images/sprites.png';
@tick: 0px 252px 0px -252px 34px 34px 89px 380px '../images/sprites.png';

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: ~`"@{sprite}".split(', ')[4]`;
}

.sprite-height(@sprite) {
  height: ~`"@{sprite}".split(', ')[5]`;
}

.sprite-position(@sprite) {
  @sprite-offset-x: ~`"@{sprite}".split(', ')[2]`;
  @sprite-offset-y: ~`"@{sprite}".split(', ')[3]`;
  background-position: @sprite-offset-x  @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: ~`"@{sprite}".split(', ')[8].slice(1, -2)`;
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}
