
// Form control
.form-control {

	// Focus
	&:focus {
		.box-shadow(none);
	}
}

// Fix help block positioning on node/add/hearing
.date-no-float {
	.date-padding {

		// Clearfix
		&:extend(.clearfix all);
	}
}

.has-error { 
  label {
    color: #a94442;
  }
}

.table-responsive.has-error {
  outline: 2px solid #ff938e;
  -moz-appearance: none;
}