

// Headlines and strong
h1, h2, h3, h4, h5, h6, strong {
	color: @ktc-override-headline-color;
}

// Paragraph
p {
	color: @ktc-override-paragraph-color;
}

// Link
a {
	color: @ktc-override-link-color;

	// Hover state
	&:hover {
		text-decoration: underline;
	}
}

.field-type-file {

	.file {

		a {
			word-break: break-all;
	   @media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
		   /* IE10+ specific styles go here */  
		   display: inline-block;
			}
		}
	}
}

.view-forfatters-indhold {

	.views-field-title {

		p {
			word-break: break-all;
		}
	}
}

