// |--------------------------------------------------------------------------
// | Article
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .ktc-article-trompet
// | - .ktc-article-headline
// | - .ktc-article-lead
// | - .ktc-article-section
// | - .ktc-article-section-type-faktaboks
// | - .ktc-article-section-type-faktaboksyellow
// | - .ktc-article-section-type-faktaboksgreen
// | - .ktc-article-section-type-faktaboksblue
// | - .ktc-article-section-type-faktaboksblack
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Section
.ktc-article-section {
	padding: 20px 0;

	// Full width elements
	&.ktc-article-section-type-faktaboks,
	&.ktc-article-section-type-faktaboksgreen,
	&.ktc-article-section-type-faktaboksyellow,
	&.ktc-article-section-type-faktaboksblue,
	&.ktc-article-section-type-faktaboksblack {
		border-top: 10px solid @body-bg;
		border-bottom: 10px solid @body-bg;
		.ktc-mixin-content-wide-full-width();
	}

	// Headline (all)
	.ktc-article-section-headline {

		// Headlines
		h1, h2, h3, h4, h5, h6 {
			font-size: @font-size-h4;
			margin-top: 0;
		}
	}
}

// --------------------------------------------------
// Text with headline
// --------------------------------------------------

// Section
.ktc-article-section {

	// Text w. headline
	&.ktc-article-section-type-afsnit {

	}
}

// --------------------------------------------------
// Text and image with headline
// --------------------------------------------------

// Section
.ktc-article-section {

	// Text and image w. headline
	&.ktc-article-section-type-afsnitb {

		// Left aligned image
		&.ktc-article-section-type-afsnitb-left {}

		// Right aligned image
		&.ktc-article-section-type-afsnitb-right {}

		// Image
		.ktc-article-section-image {
			float: left;
		}

		// Body
		.ktc-article-section-body {
		}
	}
}

// --------------------------------------------------
// Full width image
// --------------------------------------------------

// Section
.ktc-article-section {

	// Large image
	&.ktc-article-section-type-stortbillede {

		// Image
		.ktc-article-section-image {
			img {
				width: 100%;
			}
		}

		// Extra body
		.ktc-article-section-body-extra {
			font-style: italic;
			padding: 10px 0;
		}
	}
}

// --------------------------------------------------
// Indented
// --------------------------------------------------

// Section
.ktc-article-section {

	// Indented
	&.ktc-article-section-type-indrykket {
		padding-left: 40px;
	}
}

// --------------------------------------------------
// Quote
// --------------------------------------------------

// Section
.ktc-article-section {

	// Quote
	&.ktc-article-section-type-citat {
		border-top: 1px solid #e0e4e5;
		border-bottom: 1px solid #e0e4e5;
		text-align: center;

		// Headline
		.ktc-article-section-headline {

			// Headlines
			h1, h2, h3, h4, h5, h6 {
				font-weight: normal;
				font-style: italic;
			}
		}

		// Body
		.ktc-article-section-body {

			&,
			span,
			p {
				font-style: italic;
				color: @ktc-color-green-font;
			}
		}
	}
}

// --------------------------------------------------
// Gallery
// --------------------------------------------------

// Section
.ktc-article-section {

	// Gallery
	&.ktc-article-section-type-billedserie {

		// Photoswipe gallery
		.photoswipe-gallery {
			.ktc-mixin-photoswipe-gallery-wrapper();
		}
	}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// FAQ
.ktc-mixin-faq(@background-color, @headline-font-color, @body-font-color) {

	& {
		background-color: @background-color;

		// Headline
		.ktc-article-section-headline {

			// Headlines
			h1, h2, h3, h4, h5, h6 {
				color: @headline-font-color;
			}
		}

		// Body
		.ktc-article-section-body {

			// Text
			&, span, p {
				color: @body-font-color;
			}
		}
	}
}

// FAQ - green
.ktc-article-section-type-faktaboksgreen {
	.ktc-mixin-faq(@ktc-color-green-background, lighten(@ktc-color-green-background, 20%), @ktc-color-green-background-font);
}

// FAQ - gold / yellow
.ktc-article-section-type-faktaboksyellow {
	.ktc-mixin-faq(@ktc-color-gold-background, lighten(@ktc-color-gold-background, 20%), @ktc-color-gold-background-font);
}

// FAQ - blue
.ktc-article-section-type-faktaboksblue {
	.ktc-mixin-faq(@ktc-color-blue-background, lighten(@ktc-color-blue-background, 20%), @ktc-color-blue-background-font);
}

// FAQ - black
.ktc-article-section-type-faktaboksblack {
	.ktc-mixin-faq(@ktc-color-dark-content-background, lighten(@ktc-color-dark-content-background, 20%), @ktc-color-dark-content-background-font);
}

// --------------------------------------------------
// Reset
// --------------------------------------------------

// Section wrapper
.ktc-article-section-wrapper {

	// Reset from field_collection contrib CSS
	.field-collection-view {
		padding: 0;
		margin: 0;
		border-bottom: 0;

		.field-collection-view-links {
			margin: 0;
			padding: 0;

			> li {
				padding-left: 6px;
			}

			// Link
			a {
				margin-right: 0;
				.btn;
				.btn-default;
			}

			// Edit
			.edit {

				a {
					.btn-info;
				}
			}

			// Delete
			.delete {

				a {
					.btn-danger;
				}
			}
		}
	}
	.field-collection-container .field-items .field-item {
		margin-bottom: 0;
	}
	.field-collection-view .entity-field-collection-item {
		width: auto;
		float: none;
	}

	.field-collection-container {

		.action-links-field-collection-add {
			padding: 0;
			margin: 0;

			> li {
				padding: 0;
			}

			// Link
			a {
				.btn;
				.btn-success;
			}
		}
	}
}
