// |--------------------------------------------------------------------------
// | Article
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .ktc-article-trompet
// | - .ktc-article-headline
// | - .ktc-article-lead
// | - .ktc-article-section
// | - .ktc-article-type-faktaboks
// | - .ktc-article-type-faktaboksyellow
// | - .ktc-article-type-faktaboksgreen
// | - .ktc-article-type-faktaboksblue
// | - .ktc-article-type-faktaboksblack
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Section
.ktc-article-section {
	padding: 20px 0;

	// FAQ (all colors)
	&.ktc-article-type-faktaboks,
	&.ktc-article-type-faktaboksgreen,
	&.ktc-article-type-faktaboksyellow,
	&.ktc-article-type-faktaboksblue,
	&.ktc-article-type-faktaboksblack {
		border-top: 10px solid @body-bg;
		border-bottom: 10px solid @body-bg;
		.ktc-mixin-content-wide-full-width();
	}

	// Headline (all)
	.ktc-article-section-headline {

		// Headlines
		h1, h2, h3, h4, h5, h6 {
			font-size: @font-size-h4;
			margin-top: 0;
		}
	}

	// Text w. headline
	&.ktc-article-type-afsnit {}

	// Text and image w. headline
	&.ktc-article-type-afsnitb {}

	// Indented
	&.ktc-article-type-indrykket {
		padding-left: 40px;
	}

	// Large image
	&.ktc-article-type-stortbillede {}

	// Image gallery
	&.ktc-article-type-billedserie {}

	// Quote
	&.ktc-article-type-citat {
		border-top: 1px solid #e0e4e5;
		border-bottom: 1px solid #e0e4e5;
	}

	// Person
	&.ktc-article-type-person {}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// FAQ
.ktc-mixin-faq(@background-color, @headline-font-color, @body-font-color) {

	& {
		background-color: @background-color;

		// Headline
		.ktc-article-section-headline {

			// Headlines
			h1, h2, h3, h4, h5, h6 {
				color: @headline-font-color;
			}
		}

		// Body
		.ktc-article-body {

			// Text
			&, span, p {
				color: @body-font-color;
			}
		}
	}
}

// FAQ - green
.ktc-article-type-faktaboksgreen {
	.ktc-mixin-faq(@ktc-color-green-background, lighten(@ktc-color-green-background, 20%), @ktc-color-green-background-font);
}

// FAQ - gold / yellow
.ktc-article-type-faktaboksyellow {
	.ktc-mixin-faq(@ktc-color-gold-background, lighten(@ktc-color-gold-background, 20%), @ktc-color-gold-background-font);
}

// FAQ - blue
.ktc-article-type-faktaboksblue {
	.ktc-mixin-faq(@ktc-color-blue-background, lighten(@ktc-color-blue-background, 20%), @ktc-color-blue-background-font);
}

// FAQ - black
.ktc-article-type-faktaboksblack {
	.ktc-mixin-faq(@ktc-color-dark-content-background, lighten(@ktc-color-dark-content-background, 20%), @ktc-color-dark-content-background-font);
}

// --------------------------------------------------
// Reset
// --------------------------------------------------

// Section wrapper
.ktc-article-section-wrapper {

	// Reset from field_collection contrib CSS
	.field-collection-view {
		padding: 0;
		margin: 0;
		border-bottom: 0;

		.field-collection-view-links {
			margin: 0;
			padding: 0;

			> li {
				padding-left: 6px;
			}

			// Link
			a {
				margin-right: 0;
				.btn;
				.btn-default;
			}

			// Edit
			.edit {

				a {
					.btn-info;
				}
			}

			// Delete
			.delete {

				a {
					.btn-danger;
				}
			}
		}
	}
	.field-collection-container .field-items .field-item {
		margin-bottom: 0;
	}
	.field-collection-view .entity-field-collection-item {
		width: auto;
		float: none;
	}

	.field-collection-container {

		.action-links-field-collection-add {
			padding: 0;
			margin: 0;

			> li {
				padding: 0;
			}

			// Link
			a {
				.btn;
				.btn-success;
			}
		}
	}
}
