// |--------------------------------------------------------------------------
// | Logo
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-breadcrumb
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Breadcrumb
.ktc-breadcrumb {
	background-color: #fff;
	min-height: 20px;

	// Breadcrumb
	.breadcrumb {
		margin-bottom: 0;
	}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------
