.calendar-calendar {

	td {
		text-align: center;

		&.today {
			background-color:  @ktc-color-dark-content-background;
		}
	}

	.mini-day-off,
	.mini-day-on {
		padding: 10px;
	}

	.mini-day-on {
		background-color: @ktc-color-gold-background;

		a {
			font-weight: bold;
		}
	}
}

.view {

	.pager {
		margin: 0
	}

	.date-prev,
	.date-next {
		background-color: transparent;
	}
}