// |--------------------------------------------------------------------------
// | Call to action button
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-call-to-action-button
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Call-to-action button
.ktc-call-to-action-button {
	text-align: center;

	// Button
	.btn {
		min-width: 40%;
		margin: @ktc-call-to-action-top-bottom-outer-spacing auto;
	}
}
