// |--------------------------------------------------------------------------
// | Comments
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .ktc-comments
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// User comments wrapper
.ktc-comments-wrapper {
	margin-left: -( @ktc-default-left-right-inner-spacing - @ktc-comments-container-left-right-margin );
	margin-right: -( @ktc-default-left-right-inner-spacing - @ktc-comments-container-left-right-margin );
	margin-bottom: -@ktc-comments-top-bottom-padding;
	padding-left: ( @ktc-default-left-right-inner-spacing - @ktc-comments-container-left-right-margin );
	padding-right: ( @ktc-default-left-right-inner-spacing - @ktc-comments-container-left-right-margin );
	background-color: @ktc-comments-background-color;

	// User comments
	.ktc-comments {
		border-style: solid;
		border-width: 2px;

		// Photo container
		.ktc-user-profile-photo-container {
			float: left;

			// Photo
			img {
				display: inherit;
				height: auto;
				width: auto;
				max-width: 48px;
				max-height: 48px;
				border-radius: 100%;
				border-width: @ktc-comments-photo-border-width;
				border-style: solid;
				border-color: @ktc-comments-default-photo-border-color;
				background-color: transparent;
				margin-right: @ktc-comments-photo-content-spacing;
				padding: @ktc-comments-photo-border-distance;
			}
		}

		// Content
		.ktc-comments-content {
			display: inherit;

			// Headlines
			h1, h2, h3, h4, h5, h6 {
				font-family: @font-family-base;
				font-size: @font-size-base;
				margin-top: 0;
				padding-top: 0;
				margin-bottom: 1px;
				color: @ktc-comments-default-photo-headline-color;

				// Date (span)
				span {
					font-weight: normal;
					margin-left: 5px;

					// EM
					> em {
						font-style: normal;
					}
				}
			}
		}

		// Clearfix
		&:extend(.clearfix all);
	}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------
