// Form
div.ktc-comments-form {
	background-color: #fff;
	padding-top: @ktc-default-body-top-bottom-inner-spacing;
	margin-bottom: -(@ktc-default-body-top-bottom-inner-spacing);
	padding-left: @ktc-default-left-right-inner-spacing;
	padding-right: @ktc-default-left-right-inner-spacing;

	.ktc-comments-form-content {
		display: table;
		width: 100%;
		margin-bottom: @ktc-default-body-top-bottom-inner-spacing;
	}

	.ktc-comment-form-title {
		margin-top: 20px;
		margin-bottom: 4px;
	}

	// Photo container
	.ktc-user-profile-photo-container {
		display: table-cell;
		width: 60px;

		// Photo
		img {
			display: inline-block;
			height: auto;
			width: auto;
			max-width: 48px;
			max-height: 48px;
			border-radius: 100%;
			border-width: @ktc-user-profile-photo-border-width;
			border-style: solid;
			border-color: @ktc-color-red-background;
			background-color: transparent;
			padding: @ktc-user-profile-photo-border-distance;
		}
	}

	// Textarea wrapper
	.ktc-comments-form-textarea-wrapper {
		display: table-cell;
		vertical-align: top;

		// Textarea
		.form-control {
			background-color: transparent;
			border: 0;
			padding: 0;
			resize: none;
			.box-shadow(none);
		}

		// Hide fields
		.form-required,
		.grippie {
			display: none;
		}
	}

	// Comments form
	form.ktc-comments-form {

		// Buttons
		.form-actions {
			.ktc-footer;
			.ktc-mixin-content-full-width();

			.ktc-footer-button {

				&,
				&:hover {
					min-width: initial;
					padding: 0;
					margin: 0;
					font-weight: normal;
					border: 0;
					background-color: transparent;
					outline: 0;
					color: #fff;
				}

				&:before {
					display: none;
				}

				// Icon
				.icon {
					display: none;
				}
			}
		}
	}

	// Login
	.ktc-user-login {
		margin: 0 0 20px;
	}
}

// Content (and default)
.ktc-content {

	// Form
	.ktc-comments-form {
		.ktc-mixin-content-full-width();

		// Buttons
		.form-actions {
			.ktc-mixin-content-full-width();
		}
	}
}

// Content wide
.ktc-content-wide {

	// Form
	.ktc-comments-form {
		.ktc-mixin-content-wide-full-width();

		// Buttons
		.form-actions {
			.ktc-mixin-content-wide-full-width();
		}
	}
}
