.node-type-meeting-doodle {
  .makemeeting-table {
    font-size: 9px;
      .table;
      input.form-control {
          font-size: 9px;}
      .answer {
          background-size: 15px 15px}
      }
  .field-name-field-doodle {margin-bottom: 18px; }
}