// Filter
.ktc-aside-filter {

	// Body
	.ktc-aside-body {
		padding-left: 0;
		padding-right: 0;

		// Button
		.btn {
			.btn-block;
		}
	}
}

// Filter
.ktc-aside-filter-2-col {

	// Filter box
	.filter-box {

		// Button container
		.ktc-filter-button-container {
			float: left;
			width: 50%;
			padding: @ktc-default-left-right-inner-spacing 2px;
		}
	}
}
