// Filter
.ktc-aside-filter {

	// Body
	.ktc-aside-body {
		padding-left: 0;
		padding-right: 0;

		// Button
		.btn {
			.btn-block;
			word-wrap: break-word;
		}
	}

	// Filter box
	.filter-box {

		// Clearfix
		&:extend(.clearfix all);
	}
}

// 2 columns
.ktc-aside-filter-2-col {

	// Filter box
	.filter-box {

		// Button container
		.ktc-filter-button-container {
			float: left;
			width: 50%;
			padding: 2px @ktc-default-left-right-inner-spacing;
		}
	}
}

// 3 columns
.ktc-aside-filter-3-col {

	// Filter box
	.filter-box {

		// Button container
		.ktc-filter-button-container {
			float: left;
			width: 33.333%;
			padding: 2px @ktc-default-left-right-inner-spacing;
		}
	}
}
