// Wrapper
.ktc-gallery-wrapper {
	border-top: 10px solid @body-bg;
	border-bottom: 10px solid @body-bg;
	padding: @ktc-default-body-top-bottom-inner-spacing 0;
	.ktc-mixin-content-full-width();
	.ktc-mixin-photoswipe-gallery-wrapper();

	// Clearfix
	&:extend(.clearfix all);
}

// Node gallery
.ktc-node-gallery {
	.ktc-mixin-photoswipe-gallery-wrapper();

	// Clearfix
	&:extend(.clearfix all);
}

// Image wrapper
.ktc-mixin-photoswipe-gallery-wrapper() {

	& {
		.row;

		// Links (image containers)
		a {
			.make-xs-column(6);
			.make-sm-column(3);
			margin-top: floor(@grid-gutter-width / 2);
			margin-bottom: floor(@grid-gutter-width / 2);

			// Image
			img {
				width: 100%;
			}
		}
	}
}
