// |--------------------------------------------------------------------------
// | List
// |--------------------------------------------------------------------------
// |
// | Contains the following:
// | - .ktc-list
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// List
.ktc-list {
	display: table;
	margin-bottom: floor(@grid-gutter-width / 2);

	// Icon
	.ktc-list-icon {
		float: left;
		min-width: 25px; // Bit of a hack to make sure all content is aligned, since icon width is different

		// Vote
		&.ktc-list-icon-meeting_doodle {
			.sprite(@ktc-icon-vote);
		}

		// Document
		&.ktc-list-icon-document {
			.sprite(@ktc-icon-document);
		}

		// News
		&.ktc-list-icon-os2web_base_news {
			.sprite(@ktc-icon-news);
		}

		// Network / group
		&.ktc-list-icon-group {
			.sprite(@ktc-icon-network);
		}

		// Arrangement
		&.ktc-list-icon-arrangement {
			.sprite(@ktc-icon-arrangement);
		}

		// Forum
		&.ktc-list-icon-forum_post {
			.sprite(@ktc-icon-forum);
		}

		// Hearing
		&.ktc-list-icon-hearing {
			.sprite(@ktc-icon-hearing);
		}
	}

	// Body
	.ktc-list-body {
		display: inherit;

		// Headline
		.ktc-list-headline {

			// Headline and link
			&,
			> a {
				font-family: @ktc-list-headline-font-family;
				font-size: @ktc-list-headline-font-size;
				font-weight: @ktc-list-headline-font-weight;
				color: @ktc-list-headline-font-color;
				margin: 0;
				margin-bottom: 5px;
			}
		}

		// Sub headline
		.ktc-list-subheadline {
			.small; // Include small class
			margin: 0;
		}

		// Simple date
		.ktc-date {
			.small; // Include small class
		}

		// Paragraph
		p {
			margin-bottom: 3px;
		}
	}
}

// --------------------------------------------------
// Mixins
// --------------------------------------------------

// List
.ktc-mixin-list(@font-color) {

	// List
	.ktc-list,
	&.ktc-list {

		// Body
		.ktc-list-body {

			// Headline
			.ktc-list-headline {

				// Link
				> a {

					// Hover state
					&:hover {
						color: @font-color;
					}
				}
			}
		}
	}
}

// Default
.ktc-mixin-list(@ktc-default-color-font);

// Gold
.ktc-gold {
	.ktc-mixin-list(@ktc-color-gold-font);
}

// Green
.ktc-green {
	.ktc-mixin-list(@ktc-color-green-font);
}

// Red
.ktc-red {
	.ktc-mixin-list(@ktc-color-red-font);
}

// Blue
.ktc-blue {
	.ktc-mixin-list(@ktc-color-blue-font);
}
