// |--------------------------------------------------------------------------
// | Related links OS2web
// |--------------------------------------------------------------------------
// |
// | Provides styles for:
// | - ul.related-links
// | - a.related-link-type-{%node_type%}
// |

// --------------------------------------------------
// Styling
// --------------------------------------------------

// Related links
.related-links {
	.list-unstyled;

	// List item
	> li {
		position: relative;
		padding: 5px 0;
		padding-right: floor(@ikon-arrow-right-width + 8px);

		// First
		&:first-child {
			padding-top: 0;
		}

		// Last
		&:last-child {
			padding-bottom: 0;
		}

		// Link
		> a {
			display: block;

			// Icon (node type)
			&:before {
				position: absolute;
				content: "";
				top: 50%;
				left: 0;
			}

			// Icon
			&:after {
				position: absolute;
				content: "";
				top: 50%;
				right: 0;
				margin-top: -(floor( @ikon-arrow-right-height / 2 ));
				.sprite(@ikon-arrow-right);
			}
		}
	}
}

// --------------------------------------------------
// Icons
// --------------------------------------------------

// Related links
.related-links {

	// List item
	> li {

		// Hearing
		&.related-link-type-hearing {
			padding-left: floor(@ktc-icon-hearing-width + 8px);

			// Link
			> a {

				// Icon
				&:before {
					margin-top: -(floor( @ktc-icon-hearing-height / 2 ));
					.sprite(@ktc-icon-hearing);
				}
			}
		}

		// Document
		&.related-link-type-document {
			padding-left: floor(@ktc-icon-document-width + 8px);

			// Link
			> a {

				// Icon
				&:before {
					margin-top: -(floor( @ktc-icon-document-height / 2 ));
					.sprite(@ktc-icon-document);
				}
			}
		}

		// Group / network
		&.related-link-type-group {
			 padding-left: floor(@ktc-icon-network-width + 8px);

			 // Link
			 > a {

				 // Icon
				 &:before {
					 margin-top: -(floor( @ktc-icon-network-height / 2 ));
					 .sprite(@ktc-icon-network);
				 }
			 }
		 }

		// News
		&.related-link-type-os2web_base_news {
			padding-left: floor(@ktc-icon-news-width + 8px);

			// Link
			> a {

				// Icon
				&:before {
					margin-top: -(floor( @ktc-icon-news-height / 2 ));
					.sprite(@ktc-icon-news);
				}
			}
		}

		// Forum
		&.related-link-type-forum_post {
			padding-left: floor(@ktc-icon-forum-width + 8px);

			// Link
			> a {

				// Icon
				&:before {
					margin-top: -(floor( @ktc-icon-forum-height / 2 ));
					.sprite(@ktc-icon-forum);
				}
			}
		}
	}
}
