// |--------------------------------------------------------------------------
// | Spacing
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-node-header
// |

// --------------------------------------------------
// Padding top
// --------------------------------------------------

.ktc-padding-top-xs {
	padding-top: 5px;
}
.ktc-padding-top-sm {
	padding-top: 10px;
}
.ktc-padding-top {
	padding-top: 15px;
}
.ktc-padding-top-lg {
	padding-top: 25px;
}

// --------------------------------------------------
// Padding bottom
// --------------------------------------------------

.ktc-padding-bottom-xs {
	padding-bottom: 5px;
}
.ktc-padding-bottom-sm {
	padding-bottom: 10px;
}
.ktc-padding-bottom {
	padding-bottom: 15px;
}
.ktc-padding-bottom-lg {
	padding-bottom: 25px;
}
