// |--------------------------------------------------------------------------
// | Spacing
// |--------------------------------------------------------------------------
// |
// | Provides styles for .ktc-node-header
// |

// --------------------------------------------------
// Padding top
// --------------------------------------------------

.ktc-padding-top-xs {
	padding-top: 5px;
}
.ktc-padding-top-sm {
	padding-top: 10px;
}
.ktc-padding-top {
	padding-top: 15px;
}
.ktc-padding-top-lg {
	padding-top: 25px;
}

// --------------------------------------------------
// Padding bottom
// --------------------------------------------------

.ktc-padding-bottom-xs {
	padding-bottom: 5px;
}
.ktc-padding-bottom-sm {
	padding-bottom: 10px;
}
.ktc-padding-bottom {
	padding-bottom: 15px;
}
.ktc-padding-bottom-lg {
	padding-bottom: 25px;
}

// --------------------------------------------------
// Padding left
// --------------------------------------------------

.ktc-padding-left-xs {
	padding-left: 5px;
}
.ktc-padding-left-sm {
	padding-left: 10px;
}
.ktc-padding-left {
	padding-left: 15px;
}
.ktc-padding-left-lg {
	padding-left: 25px;
}


// --------------------------------------------------
// Padding right
// --------------------------------------------------

.ktc-padding-right-xs {
	padding-right: 5px;
}
.ktc-padding-right-sm {
	padding-right: 10px;
}
.ktc-padding-right {
	padding-right: 15px;
}
.ktc-padding-right-lg {
	padding-right: 25px;
}


// --------------------------------------------------
// Margin right
// --------------------------------------------------

.ktc-padding-right-xs {
	margin-right: 5px;
}
.ktc-padding-right-sm {
	margin-right: 10px;
}
.ktc-padding-right {
	margin-right: 15px;
}
.ktc-padding-right-lg {
	margin-right: 25px;
}