// Tabs
.ktc-aside-tabs {

	// Body
	.ktc-aside-body {
		padding-left: 0;
		padding-right: 0;

		// Button
		.btn {
			.btn-block;
			word-wrap: break-word;
		}

		// Clearfix
		&:extend(.clearfix all);
	}

	// Nav tabs
	.nav-tabs {
		border: 0;
	}

	&.ktc-aside-tabs-menu-fix {

		.ktc-tabs-button-container {
			a {
				.btn;
				.btn-action;
				.btn-block;
			}
		}
	}
}

// 2 columns
.ktc-aside-tabs-2-col {

	ul {

		// Button container
		.ktc-tabs-button-container {
			float: left;
			width: 50%;
			padding: 2px @ktc-default-left-right-inner-spacing;

			// On left side
			&:nth-child(odd) {
				padding-left: @ktc-default-left-right-inner-spacing;
				padding-right: floor( @ktc-default-left-right-inner-spacing / 2 );
			}

			// On right side
			&:nth-child(even) {
				padding-left: floor( @ktc-default-left-right-inner-spacing / 2 );
				padding-right: @ktc-default-left-right-inner-spacing;
			}
		}
	}
}

// 3 columns
.ktc-aside-tabs-3-col {

	// Button container
	.ktc-tabs-button-container {
		float: left;
		width: 33.333%;
		padding: 2px @ktc-default-left-right-inner-spacing;
	}
}
