// |--------------------------------------------------------------------------
// | Content types
// |--------------------------------------------------------------------------
// |
// | Provides variables for:
// | - list
// | - list large
// | - footer
// | - comments
// | - date
// | - call-to-action button
// | - user profile
// | - node header
// |

// --------------------------------------------------
// List
// --------------------------------------------------

//== Headline
@ktc-list-headline-font-family: @font-family-base;
@ktc-list-headline-font-size: @font-size-base;
@ktc-list-headline-font-color: @ktc-default-color-headline;
@ktc-list-headline-font-weight: bold;

// --------------------------------------------------
// List large
// --------------------------------------------------

// --------------------------------------------------
// Footer
// --------------------------------------------------

//== Colouring
@ktc-type-footer-background-color: @ktc-color-dark-content-background;

//== Spacing
@ktc-type-footer-top-bottom-inner-spacing: 6px;
@ktc-type-footer-icon-spacing: 5px;

// --------------------------------------------------
// Node header
// --------------------------------------------------

//== Colouring
@ktc-type-node-header-background-color: transparent;

//== Spacing
@ktc-type-node-header-top-bottom-inner-spacing: 10px;
@ktc-type-node-header-icon-spacing: 5px;

// --------------------------------------------------
// Comments
// --------------------------------------------------

//
@ktc-comments-background-color: @body-bg;

//== Spacing
@ktc-comments-container-left-right-margin: 2px;
@ktc-comments-top-bottom-padding: 15px;

//== Photo
@ktc-comments-photo-content-spacing: 10px;
@ktc-comments-photo-border-width: 2px;
@ktc-comments-photo-border-distance: 3px;
@ktc-comments-default-photo-headline-color: @gray-darker;
@ktc-comments-default-photo-border-color: #fff;

// --------------------------------------------------
// Date
// --------------------------------------------------

@ktc-date-font-size: @font-size-large;
@ktc-date-font-weight: bold;
@ktc-date-font-style: italic;

// --------------------------------------------------
// Call-to-action button
// --------------------------------------------------

//== Spacing
@ktc-call-to-action-top-bottom-outer-spacing: 8px;

// --------------------------------------------------
// User profile
// --------------------------------------------------

//== Variables
@ktc-user-profile-top-bottom-padding: 8px;
@ktc-user-profile-photo-content-spacing: 10px;
@ktc-user-profile-photo-border-width: 2px;
@ktc-user-profile-photo-border-distance: 3px;