.well .bg-info { background-color: @state-info-bg;
				color: @state-info-text; }

				// Insert your styling here.

.page-node-edit,
.page-node-add {

  .region-content section#block-system-main {
    background-color: #F5F5F5;
    padding: 10px;
  }
  h1.page-header {
    display: block;
  }

  .form-control {
    color: black;
  }

  .hierarchical-select-wrapper {
    td {
      padding: 5px;
    }

    .hierarchical-select select {
      width: inherit;
    }
  }

  .chosen-container {
    border: 0 !important;
    padding: 0 !important;
    height: auto !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    width: 100%!important;
  }

  .chosen-container-multi .chosen-choices {
    border-radius: 4px;
  }
}
#block-system-help section { background-color: transparent;}
// Default show for a node with 3 columns.
body.page-node,
body.page-taxonomy-term {
  article,
  div.node-os2web-base-news {

    // This is a serious hack to force anchors below the fixed header.
    // See http://css-tricks.com/hash-tag-links-padding/
    a, h1, h2, h3, h4, h5, h6 {
      &[id]:before {
        display: block;
        content: " ";
        margin-top: -100px;
        height: 100px;
        visibility: hidden;
      }
    }

    p {
      line-height: 1.6em;
    }

    header h2 {
      margin: 0;
      margin-top: 14px;
      //font-size: @font-size-h1;
      font-family: @headings-font-family;
      text-transform: initial;
      color: @text-color;
      font-weight: 600;
      a{
        color: @text-color;
        text-transform: initial;
        font-family: @headings-font-family;
        //font-size: @font-size-h1;
        @media (max-width:460px) {
          font-size: 1.3em;
        }
      }
    }

    .wrap,
    header h2 {
      padding: 15px 0;
    }
    .inner {
      padding: 15px 0px;
    }
    header time {
      padding: 15px 30px;
      text-align: right;
      display: block;

      i {
        display: inline-block;
        zoom: 1;
        *display: inline;
        margin-right: 5px;
      }
    }

    .field-name-field-os2web-base-field-image {
      .field-slideshow {
        margin: 0 auto;
        .field-slideshow-caption {
          display: none;
        }
      }
      img{
        width: 100%;
        height: auto;
      }
    }

    .field-name-field-os2web-base-field-summary .field-item {
      font-family: @headings-font-family;
      font-size: @font-size-intro-text;
      line-height: 1.1em;
      padding-bottom: 20px;
      margin-bottom: 20px;
    }

    .media-ustream-video iframe {
      max-width: 100%;
    }
  }
  .nav-tabs {
    margin-bottom: 0;
  }
  .field-name-field-hearing-materials {
    .field-label {
      &:extend(h4);
      text-transform: none;
    }
    .field-item {
      border-top: 1px solid @brand-warmgray;
      padding: 5px 0;
      table {
        table-layout: fixed;
      }
      a {
        margin-left: 10px;
        color: @brand-blacknblue;
        -ms-word-break: break-all;
        -ms-word-wrap: break-all;
        -webkit-word-break: break-word;
        -webkit-word-wrap: break-word;
        word-break: normal;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
      }
    }
  }
  .field-type-text-long img {
    max-width: 100%;
    height: auto;
  }
}

   .icon-calendar {
      background-image: url('../images/sprites/calendar.png');
      display: block;
      height: 80px;
      background-repeat: no-repeat;
      position: relative;
      background-size: 50px 60px;

      .calendar-day {
        font-size: 24px;
        position: absolute;
        top: 8px;
        left: 11px;
      }
      .calendar-month {
        position: absolute;
        top: 42px;
        text-transform: uppercase;
        left: 15px;
      }
    }
.node-info-boks {
    background-color: #2C353A;
    padding: 10px 10px;
}

.node-type-arrangement .node-info-boks { margin-bottom: 20px;}


// These rules target the article when we have two sidebars.
body.page-node,
body.page-taxonomy-term.term-is-not-top {
  // Somehow .two-sidebars class are sometimes wrongly set, so we targeted it
  // also by seeing after the col-md-XX classes on region-content.
  &.two-sidebars,
  .region-content.col-sm-6,
  .region-content.col-md-6 {
    article,
    div.node-os2web-base-news {
      .field-name-field-os2web-base-field-image img {
        border-radius: 4px 4px 0 0;
      }
    }
  }

  &.no-sidebars,
  .region-content.col-sm-12,
  .region-content.col-md-12 {
    .pane-ktc-signup-block-ktc-signup-link-block {
      ul.tabs--primary {
        display: none;
        visibility: hidden;
      }
    }
  }
}

// Overrides for the node display.
.page-taxonomy {
  .main-container {
    background-color: #fff;
  }
}
.region-content {
  .taxonomy-term-description a {
    font-weight: 400;
    color: @brand-blue-icon;
    &:hover,
    &:active {
      color: @brand-darkblue;
    }
  }
}
.wrap {
  img {
    max-width: 100%;
  }
  hr {
    border-color: @brand-blacknblue;
  }
}

.view-bladintro-node {
  img { margin-bottom: 20px;}
}

.view-id-bladintro_nyheder {
  .field-type-image { float: right; margin-left: 20px; margin-bottom: 20px;}
}
.node-type-group {
  .panel-pane {
    .field-name-group-group.pane-node-body {
      .parent-group {
        a {
          color: @gray-darker;
          font-weight: 700;
        }
      }
    }
    &.pane-subgroups-panel-pane-1 {
      article {
        .group-region {
          .field-name-field-regioner,
          .group-region-dash {
            display: inline-block;
            margin-right: 5px;
          }
        }
        margin-bottom: 0px;
      }
    }
  }
}

.panel-pane {
  &.pane-hearing-node-view-panel-pane-1 {
    .views-field-field-hearing-materials {

        a {
          margin-left: 10px;
          color: @brand-blacknblue;
        }
    }
  }
}
body.node-type-ktc-supplier {
  .region-content {
    article {
      h5 {
          background-color: @brand-darkblue;
          color: #fff;
          margin-bottom: 0px;
          margin-top: 0px;
          padding: 3px 10px;
      }
      h5.supplier-body-header {
        background-color: @brand-userlink-red;
      }
      .supplier-logo {
        background-color: #fff;
        margin-bottom: 20px;
        .field-name-field-image {
          padding: 10px;
        }
      }
      .contact-info {
        background-color: #fff;
        margin-bottom: 20px;
        .contact-info-content {
          padding: 10px;
        }
        .contact-info-content {
          a {
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            white-space: -pre-wrap; /* Opera 4-6 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            width:100%;
          }
        }
      }
      .field-name-body {
        padding: 10px;
        background-color: #fff;
      }
    }
  }
}
.node-type-page {
	.indholdsmenu {
		ul {
			li { display: block; float: left;
				border-bottom: none;

				a {	box-shadow: none;
					color: #2C353A;
					border: 2px solid #2C353A;
					padding: 1px 8px;
					border-radius: 14px;
					text-decoration: none;
					text-align: center;
					margin-right: 10px;
					margin-bottom: 10px;
					font-size: 90%;
				}
			}
			li.last a {margin-right: 0px; }
			li.active a.active { background-color: @brand-primary; color: #FFF;}
		}
	}
	.pane-sektionsside-footer { margin-top: 20px;
		.pane-custom h3.pane-title { padding: 10px 10px;}
		h3.pane-title { padding: 0 0 0 0;
			a { color: #FFF; background-color:  @gray-darker; padding: 10px 10px; display: block;
				&.active-trail { background-color:  @brand-primary;}
			}
		}
		ul { padding: 0 10px;
			li { border-bottom: none;
				a { padding: 0 0; font-size: 95%;
					&.active { color: @brand-primary ;}
				}

			}
		}
	}
}

.filter-wrapper,
.ckeditor_links { display: none}

.admin-menu .filter-wrapper,
.admin-menu .ckeditor_links { display: block}

.node-type-hearing .region-content h3.pane-title { background-color: @brand-darkgreen}

.toggle-pane-content {
  .short-description {
    .field {
      height: 115px;
      overflow: hidden;
    }
  }
  .pane-content > a {
    // .btn();
    // .btn-blacknblue();
    .make-md-column(6);
    .pull-right();
    margin-top: 10px;
    display: block;
  }
}

.field-group-tab h3 { margin-top: 0px;
	span { font-size: @font-size-h5; }}

.container-inline-date {
	.form-item { display: block;}
	.date-padding { float: none; padding-left: 0;}
	/*label[for="edit-publish-on"] {text-transform: }*/
	 }

div.field-group-tabs-wrapper div.field-widget-image-image fieldset.panel,
div.field-group-tabs-wrapper div.field-type-file.field-widget-file-generic fieldset.panel,
div.field-group-tabs-wrapper div.field-type-datetime fieldset.panel { padding: 0px 0px 0px 0px}

.view-section-page-filter-extra h5 a,
.view-ktc-hearings-sectionpage-block h5 a { font-weight: normal;}


.user-picture.green { border-color: @brand-darkgreen!important}

.pane-ktc-netvaerk-group-not-member-message .pane-content {
  padding: 10px 20px;
}
.ktc-aside.stacked {
  margin-bottom: 0;
}
.panel-pane.with-padding {
  padding-bottom: 20px;
}
.hide-label.show-login {
  &.ktc-comments-form {
    background-color: transparent;
    margin-top: 0;
    padding-top: 0;
    .pane-content {
      padding: 10px;
      background-color: #FFF;
      .ktc-comment-form-title {
        display: none;
      }
    }
  }
}
.network-notification {
  th {
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }
}
.checkbox-field_netvaerk_notifications,
.checkbox-field_netvaerk_comment_notify {
  .form-item {
    text-align: center;
  }

  input[type="checkbox"] {
    float: none;
  }
}
