// Insert your styling here.
.region_footer {
  &.footer_5 {
    background-color: @gray-dark;
    .footer-5 {
      text-align: center;
      padding: 43px 10px;
      color: #fff;
      font-weight: 400;
      font-size: @font-size-large;
      .footer_location {
        .sprite(@footer-location);
        display: inline-block;
        margin-right: 10px;
      }
    }
  }
  &.footer_3 {
    .footer_3 {
      background-color: #fff;
      padding: 30px 0;
    }
  }
  &.footer_1 {
    border-top: 10px solid #d5dcde;
    .footer_1 {
      background-color: #fff;
      padding-top: 40px;
      padding-bottom: 40px;
      .container {
        .yellow .created {
          color: @brand-gold;
        }
        .green .created {
          color: @brand-darkgreen;
        }
        .block-heading {
          background-color: @gray-dark;
          color: @gray-lighter;
          margin-bottom: 20px;
          h3.panel-title {
            padding: 10px 10px 10px 20px;
            vertical-align: middle;
            display: inline-block;
          }
        }
      }
    }
  }
}