.front {
  .main-container.container {
    background: none;
    .region-header {
      margin-left: 0px;
      margin-right: 0px;
    }
    .panel-top {
      #panel-pane-top {
        @media (min-width: 768px) {
          max-height: 140px;
        }
        overflow: hidden;
        margin-bottom: 20px;
        .pane-content {
          padding: 10px 10px;
          img {
            max-width: 100%;
          }
        }
      }
    }
    .pane-content {
      margin-bottom: 20px;
      background-color: #fff;
      .view-content {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        article.bg-white {
          margin-left: -10px;
          margin-right: -10px;
        }
        .views-row {
          overflow: hidden;
          h5 {
            margin-top: 0px;
          }
        }

      }
    }

  }
}
