/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@afs-name: 'afs';
@afs-x: 0px;
@afs-y: 0px;
@afs-offset-x: 0px;
@afs-offset-y: 0px;
@afs-width: 93px;
@afs-height: 93px;
@afs-total-width: 419px;
@afs-total-height: 407px;
@afs-image: '../images/sprites.png';
@afs: 0px 0px 0px 0px 93px 93px 419px 407px '../images/sprites.png' 'afs';
@ark-name: 'ark';
@ark-x: 107px;
@ark-y: 0px;
@ark-offset-x: -107px;
@ark-offset-y: 0px;
@ark-width: 93px;
@ark-height: 93px;
@ark-total-width: 419px;
@ark-total-height: 407px;
@ark-image: '../images/sprites.png';
@ark: 107px 0px -107px 0px 93px 93px 419px 407px '../images/sprites.png' 'ark';
@arr-name: 'arr';
@arr-x: 107px;
@arr-y: 107px;
@arr-offset-x: -107px;
@arr-offset-y: -107px;
@arr-width: 93px;
@arr-height: 93px;
@arr-total-width: 419px;
@arr-total-height: 407px;
@arr-image: '../images/sprites.png';
@arr: 107px 107px -107px -107px 93px 93px 419px 407px '../images/sprites.png' 'arr';
@arrow-blue-name: 'arrow_blue';
@arrow-blue-x: 363px;
@arrow-blue-y: 259px;
@arrow-blue-offset-x: -363px;
@arrow-blue-offset-y: -259px;
@arrow-blue-width: 17px;
@arrow-blue-height: 17px;
@arrow-blue-total-width: 419px;
@arrow-blue-total-height: 407px;
@arrow-blue-image: '../images/sprites.png';
@arrow-blue: 363px 259px -363px -259px 17px 17px 419px 407px '../images/sprites.png' 'arrow_blue';
@arrow-down-name: 'arrow_down';
@arrow-down-x: 404px;
@arrow-down-y: 90px;
@arrow-down-offset-x: -404px;
@arrow-down-offset-y: -90px;
@arrow-down-width: 15px;
@arrow-down-height: 15px;
@arrow-down-total-width: 419px;
@arrow-down-total-height: 407px;
@arrow-down-image: '../images/sprites.png';
@arrow-down: 404px 90px -404px -90px 15px 15px 419px 407px '../images/sprites.png' 'arrow_down';
@arrow-green-name: 'arrow_green';
@arrow-green-x: 363px;
@arrow-green-y: 166px;
@arrow-green-offset-x: -363px;
@arrow-green-offset-y: -166px;
@arrow-green-width: 17px;
@arrow-green-height: 17px;
@arrow-green-total-width: 419px;
@arrow-green-total-height: 407px;
@arrow-green-image: '../images/sprites.png';
@arrow-green: 363px 166px -363px -166px 17px 17px 419px 407px '../images/sprites.png' 'arrow_green';
@arrow-left-name: 'arrow_left';
@arrow-left-x: 404px;
@arrow-left-y: 206px;
@arrow-left-offset-x: -404px;
@arrow-left-offset-y: -206px;
@arrow-left-width: 15px;
@arrow-left-height: 15px;
@arrow-left-total-width: 419px;
@arrow-left-total-height: 407px;
@arrow-left-image: '../images/sprites.png';
@arrow-left: 404px 206px -404px -206px 15px 15px 419px 407px '../images/sprites.png' 'arrow_left';
@arrow-red-name: 'arrow_red';
@arrow-red-x: 363px;
@arrow-red-y: 228px;
@arrow-red-offset-x: -363px;
@arrow-red-offset-y: -228px;
@arrow-red-width: 17px;
@arrow-red-height: 17px;
@arrow-red-total-width: 419px;
@arrow-red-total-height: 407px;
@arrow-red-image: '../images/sprites.png';
@arrow-red: 363px 228px -363px -228px 17px 17px 419px 407px '../images/sprites.png' 'arrow_red';
@arrow-right-name: 'arrow_right';
@arrow-right-x: 404px;
@arrow-right-y: 119px;
@arrow-right-offset-x: -404px;
@arrow-right-offset-y: -119px;
@arrow-right-width: 15px;
@arrow-right-height: 15px;
@arrow-right-total-width: 419px;
@arrow-right-total-height: 407px;
@arrow-right-image: '../images/sprites.png';
@arrow-right: 404px 119px -404px -119px 15px 15px 419px 407px '../images/sprites.png' 'arrow_right';
@arrow-yellow-name: 'arrow_yellow';
@arrow-yellow-x: 363px;
@arrow-yellow-y: 104px;
@arrow-yellow-offset-x: -363px;
@arrow-yellow-offset-y: -104px;
@arrow-yellow-width: 17px;
@arrow-yellow-height: 17px;
@arrow-yellow-total-width: 419px;
@arrow-yellow-total-height: 407px;
@arrow-yellow-image: '../images/sprites.png';
@arrow-yellow: 363px 104px -363px -104px 17px 17px 419px 407px '../images/sprites.png' 'arrow_yellow';
@blue-dot-name: 'blue-dot';
@blue-dot-x: 140px;
@blue-dot-y: 362px;
@blue-dot-offset-x: -140px;
@blue-dot-offset-y: -362px;
@blue-dot-width: 8px;
@blue-dot-height: 8px;
@blue-dot-total-width: 419px;
@blue-dot-total-height: 407px;
@blue-dot-image: '../images/sprites.png';
@blue-dot: 140px 362px -140px -362px 8px 8px 419px 407px '../images/sprites.png' 'blue-dot';
@calendar-name: 'calendar';
@calendar-x: 214px;
@calendar-y: 214px;
@calendar-offset-x: -214px;
@calendar-offset-y: -214px;
@calendar-width: 44px;
@calendar-height: 46px;
@calendar-total-width: 419px;
@calendar-total-height: 407px;
@calendar-image: '../images/sprites.png';
@calendar: 214px 214px -214px -214px 44px 46px 419px 407px '../images/sprites.png' 'calendar';
@comment-name: 'comment';
@comment-x: 404px;
@comment-y: 263px;
@comment-offset-x: -404px;
@comment-offset-y: -263px;
@comment-width: 15px;
@comment-height: 14px;
@comment-total-width: 419px;
@comment-total-height: 407px;
@comment-image: '../images/sprites.png';
@comment: 404px 263px -404px -263px 15px 14px 419px 407px '../images/sprites.png' 'comment';
@deb-name: 'deb';
@deb-x: 214px;
@deb-y: 0px;
@deb-offset-x: -214px;
@deb-offset-y: 0px;
@deb-width: 93px;
@deb-height: 93px;
@deb-total-width: 419px;
@deb-total-height: 407px;
@deb-image: '../images/sprites.png';
@deb: 214px 0px -214px 0px 93px 93px 419px 407px '../images/sprites.png' 'deb';
@dok-name: 'dok';
@dok-x: 214px;
@dok-y: 107px;
@dok-offset-x: -214px;
@dok-offset-y: -107px;
@dok-width: 93px;
@dok-height: 93px;
@dok-total-width: 419px;
@dok-total-height: 407px;
@dok-image: '../images/sprites.png';
@dok: 214px 107px -214px -107px 93px 93px 419px 407px '../images/sprites.png' 'dok';
@dropdown-apple-t1-name: 'dropdown-apple-t1';
@dropdown-apple-t1-x: 363px;
@dropdown-apple-t1-y: 315px;
@dropdown-apple-t1-offset-x: -363px;
@dropdown-apple-t1-offset-y: -315px;
@dropdown-apple-t1-width: 16px;
@dropdown-apple-t1-height: 16px;
@dropdown-apple-t1-total-width: 419px;
@dropdown-apple-t1-total-height: 407px;
@dropdown-apple-t1-image: '../images/sprites.png';
@dropdown-apple-t1: 363px 315px -363px -315px 16px 16px 419px 407px '../images/sprites.png' 'dropdown-apple-t1';
@dropdown-facebook-t1-name: 'dropdown-facebook-t1';
@dropdown-facebook-t1-x: 321px;
@dropdown-facebook-t1-y: 290px;
@dropdown-facebook-t1-offset-x: -321px;
@dropdown-facebook-t1-offset-y: -290px;
@dropdown-facebook-t1-width: 16px;
@dropdown-facebook-t1-height: 16px;
@dropdown-facebook-t1-total-width: 419px;
@dropdown-facebook-t1-total-height: 407px;
@dropdown-facebook-t1-image: '../images/sprites.png';
@dropdown-facebook-t1: 321px 290px -321px -290px 16px 16px 419px 407px '../images/sprites.png' 'dropdown-facebook-t1';
@dropdown-google-t1-name: 'dropdown-google-t1';
@dropdown-google-t1-x: 328px;
@dropdown-google-t1-y: 321px;
@dropdown-google-t1-offset-x: -328px;
@dropdown-google-t1-offset-y: -321px;
@dropdown-google-t1-width: 16px;
@dropdown-google-t1-height: 16px;
@dropdown-google-t1-total-width: 419px;
@dropdown-google-t1-total-height: 407px;
@dropdown-google-t1-image: '../images/sprites.png';
@dropdown-google-t1: 328px 321px -328px -321px 16px 16px 419px 407px '../images/sprites.png' 'dropdown-google-t1';
@dropdown-outlook-t1-name: 'dropdown-outlook-t1';
@dropdown-outlook-t1-x: 0px;
@dropdown-outlook-t1-y: 362px;
@dropdown-outlook-t1-offset-x: 0px;
@dropdown-outlook-t1-offset-y: -362px;
@dropdown-outlook-t1-width: 16px;
@dropdown-outlook-t1-height: 16px;
@dropdown-outlook-t1-total-width: 419px;
@dropdown-outlook-t1-total-height: 407px;
@dropdown-outlook-t1-image: '../images/sprites.png';
@dropdown-outlook-t1: 0px 362px 0px -362px 16px 16px 419px 407px '../images/sprites.png' 'dropdown-outlook-t1';
@dropdown-yahoo-t1-name: 'dropdown-yahoo-t1';
@dropdown-yahoo-t1-x: 30px;
@dropdown-yahoo-t1-y: 362px;
@dropdown-yahoo-t1-offset-x: -30px;
@dropdown-yahoo-t1-offset-y: -362px;
@dropdown-yahoo-t1-width: 16px;
@dropdown-yahoo-t1-height: 16px;
@dropdown-yahoo-t1-total-width: 419px;
@dropdown-yahoo-t1-total-height: 407px;
@dropdown-yahoo-t1-image: '../images/sprites.png';
@dropdown-yahoo-t1: 30px 362px -30px -362px 16px 16px 419px 407px '../images/sprites.png' 'dropdown-yahoo-t1';
@footer-location-name: 'footer_location';
@footer-location-x: 26px;
@footer-location-y: 392px;
@footer-location-offset-x: -26px;
@footer-location-offset-y: -392px;
@footer-location-width: 12px;
@footer-location-height: 15px;
@footer-location-total-width: 419px;
@footer-location-total-height: 407px;
@footer-location-image: '../images/sprites.png';
@footer-location: 26px 392px -26px -392px 12px 15px 419px 407px '../images/sprites.png' 'footer_location';
@green-dot-name: 'green-dot';
@green-dot-x: 184px;
@green-dot-y: 362px;
@green-dot-offset-x: -184px;
@green-dot-offset-y: -362px;
@green-dot-width: 8px;
@green-dot-height: 8px;
@green-dot-total-width: 419px;
@green-dot-total-height: 407px;
@green-dot-image: '../images/sprites.png';
@green-dot: 184px 362px -184px -362px 8px 8px 419px 407px '../images/sprites.png' 'green-dot';
@header-cog-name: 'header-cog';
@header-cog-x: 321px;
@header-cog-y: 126px;
@header-cog-offset-x: -321px;
@header-cog-offset-y: -126px;
@header-cog-width: 27px;
@header-cog-height: 27px;
@header-cog-total-width: 419px;
@header-cog-total-height: 407px;
@header-cog-image: '../images/sprites.png';
@header-cog: 321px 126px -321px -126px 27px 27px 419px 407px '../images/sprites.png' 'header-cog';
@header-login-name: 'header-login';
@header-login-x: 256px;
@header-login-y: 274px;
@header-login-offset-x: -256px;
@header-login-offset-y: -274px;
@header-login-width: 28px;
@header-login-height: 28px;
@header-login-total-width: 419px;
@header-login-total-height: 407px;
@header-login-image: '../images/sprites.png';
@header-login: 256px 274px -256px -274px 28px 28px 419px 407px '../images/sprites.png' 'header-login';
@header-logout-name: 'header-logout';
@header-logout-x: 321px;
@header-logout-y: 0px;
@header-logout-offset-x: -321px;
@header-logout-offset-y: 0px;
@header-logout-width: 28px;
@header-logout-height: 28px;
@header-logout-total-width: 419px;
@header-logout-total-height: 407px;
@header-logout-image: '../images/sprites.png';
@header-logout: 321px 0px -321px 0px 28px 28px 419px 407px '../images/sprites.png' 'header-logout';
@header-search-name: 'header-search';
@header-search-x: 321px;
@header-search-y: 249px;
@header-search-offset-x: -321px;
@header-search-offset-y: -249px;
@header-search-width: 27px;
@header-search-height: 27px;
@header-search-total-width: 419px;
@header-search-total-height: 407px;
@header-search-image: '../images/sprites.png';
@header-search: 321px 249px -321px -249px 27px 27px 419px 407px '../images/sprites.png' 'header-search';
@header-toggle-name: 'header-toggle';
@header-toggle-x: 0px;
@header-toggle-y: 321px;
@header-toggle-offset-x: 0px;
@header-toggle-offset-y: -321px;
@header-toggle-width: 27px;
@header-toggle-height: 27px;
@header-toggle-total-width: 419px;
@header-toggle-total-height: 407px;
@header-toggle-image: '../images/sprites.png';
@header-toggle: 0px 321px 0px -321px 27px 27px 419px 407px '../images/sprites.png' 'header-toggle';
@header-user-create-name: 'header-user-create';
@header-user-create-x: 41px;
@header-user-create-y: 321px;
@header-user-create-offset-x: -41px;
@header-user-create-offset-y: -321px;
@header-user-create-width: 27px;
@header-user-create-height: 27px;
@header-user-create-total-width: 419px;
@header-user-create-total-height: 407px;
@header-user-create-image: '../images/sprites.png';
@header-user-create: 41px 321px -41px -321px 27px 27px 419px 407px '../images/sprites.png' 'header-user-create';
@hor-name: 'hor';
@hor-x: 0px;
@hor-y: 107px;
@hor-offset-x: 0px;
@hor-offset-y: -107px;
@hor-width: 93px;
@hor-height: 93px;
@hor-total-width: 419px;
@hor-total-height: 407px;
@hor-image: '../images/sprites.png';
@hor: 0px 107px 0px -107px 93px 93px 419px 407px '../images/sprites.png' 'hor';
@ikon-afstemning-name: 'ikon-afstemning';
@ikon-afstemning-x: 60px;
@ikon-afstemning-y: 362px;
@ikon-afstemning-offset-x: -60px;
@ikon-afstemning-offset-y: -362px;
@ikon-afstemning-width: 16px;
@ikon-afstemning-height: 13px;
@ikon-afstemning-total-width: 419px;
@ikon-afstemning-total-height: 407px;
@ikon-afstemning-image: '../images/sprites.png';
@ikon-afstemning: 60px 362px -60px -362px 16px 13px 419px 407px '../images/sprites.png' 'ikon-afstemning';
@ikon-afstemning2-name: 'ikon-afstemning2';
@ikon-afstemning2-x: 164px;
@ikon-afstemning2-y: 321px;
@ikon-afstemning2-offset-x: -164px;
@ikon-afstemning2-offset-y: -321px;
@ikon-afstemning2-width: 27px;
@ikon-afstemning2-height: 27px;
@ikon-afstemning2-total-width: 419px;
@ikon-afstemning2-total-height: 407px;
@ikon-afstemning2-image: '../images/sprites.png';
@ikon-afstemning2: 164px 321px -164px -321px 27px 27px 419px 407px '../images/sprites.png' 'ikon-afstemning2';
@ikon-arrangement-name: 'ikon-arrangement';
@ikon-arrangement-x: 404px;
@ikon-arrangement-y: 291px;
@ikon-arrangement-offset-x: -404px;
@ikon-arrangement-offset-y: -291px;
@ikon-arrangement-width: 14px;
@ikon-arrangement-height: 14px;
@ikon-arrangement-total-width: 419px;
@ikon-arrangement-total-height: 407px;
@ikon-arrangement-image: '../images/sprites.png';
@ikon-arrangement: 404px 291px -404px -291px 14px 14px 419px 407px '../images/sprites.png' 'ikon-arrangement';
@ikon-arrangement2-name: 'ikon-arrangement2';
@ikon-arrangement2-x: 246px;
@ikon-arrangement2-y: 321px;
@ikon-arrangement2-offset-x: -246px;
@ikon-arrangement2-offset-y: -321px;
@ikon-arrangement2-width: 27px;
@ikon-arrangement2-height: 27px;
@ikon-arrangement2-total-width: 419px;
@ikon-arrangement2-total-height: 407px;
@ikon-arrangement2-image: '../images/sprites.png';
@ikon-arrangement2: 246px 321px -246px -321px 27px 27px 419px 407px '../images/sprites.png' 'ikon-arrangement2';
@ikon-arrow-right-name: 'ikon-arrow-right';
@ikon-arrow-right-x: 363px;
@ikon-arrow-right-y: 135px;
@ikon-arrow-right-offset-x: -363px;
@ikon-arrow-right-offset-y: -135px;
@ikon-arrow-right-width: 17px;
@ikon-arrow-right-height: 17px;
@ikon-arrow-right-total-width: 419px;
@ikon-arrow-right-total-height: 407px;
@ikon-arrow-right-image: '../images/sprites.png';
@ikon-arrow-right: 363px 135px -363px -135px 17px 17px 419px 407px '../images/sprites.png' 'ikon-arrow-right';
@ikon-artikel-name: 'ikon-artikel';
@ikon-artikel-x: 321px;
@ikon-artikel-y: 208px;
@ikon-artikel-offset-x: -321px;
@ikon-artikel-offset-y: -208px;
@ikon-artikel-width: 27px;
@ikon-artikel-height: 27px;
@ikon-artikel-total-width: 419px;
@ikon-artikel-total-height: 407px;
@ikon-artikel-image: '../images/sprites.png';
@ikon-artikel: 321px 208px -321px -208px 27px 27px 419px 407px '../images/sprites.png' 'ikon-artikel';
@ikon-artikkel-name: 'ikon-artikkel';
@ikon-artikkel-x: 115px;
@ikon-artikkel-y: 362px;
@ikon-artikkel-offset-x: -115px;
@ikon-artikkel-offset-y: -362px;
@ikon-artikkel-width: 11px;
@ikon-artikkel-height: 11px;
@ikon-artikkel-total-width: 419px;
@ikon-artikkel-total-height: 407px;
@ikon-artikkel-image: '../images/sprites.png';
@ikon-artikkel: 115px 362px -115px -362px 11px 11px 419px 407px '../images/sprites.png' 'ikon-artikkel';
@ikon-debat-name: 'ikon-debat';
@ikon-debat-x: 321px;
@ikon-debat-y: 167px;
@ikon-debat-offset-x: -321px;
@ikon-debat-offset-y: -167px;
@ikon-debat-width: 27px;
@ikon-debat-height: 27px;
@ikon-debat-total-width: 419px;
@ikon-debat-total-height: 407px;
@ikon-debat-image: '../images/sprites.png';
@ikon-debat: 321px 167px -321px -167px 27px 27px 419px 407px '../images/sprites.png' 'ikon-debat';
@ikon-debat2-name: 'ikon-debat2';
@ikon-debat2-x: 404px;
@ikon-debat2-y: 235px;
@ikon-debat2-offset-x: -404px;
@ikon-debat2-offset-y: -235px;
@ikon-debat2-width: 15px;
@ikon-debat2-height: 14px;
@ikon-debat2-total-width: 419px;
@ikon-debat2-total-height: 407px;
@ikon-debat2-image: '../images/sprites.png';
@ikon-debat2: 404px 235px -404px -235px 15px 14px 419px 407px '../images/sprites.png' 'ikon-debat2';
@ikon-dok-name: 'ikon-dok';
@ikon-dok-x: 404px;
@ikon-dok-y: 319px;
@ikon-dok-offset-x: -404px;
@ikon-dok-offset-y: -319px;
@ikon-dok-width: 12px;
@ikon-dok-height: 16px;
@ikon-dok-total-width: 419px;
@ikon-dok-total-height: 407px;
@ikon-dok-image: '../images/sprites.png';
@ikon-dok: 404px 319px -404px -319px 12px 16px 419px 407px '../images/sprites.png' 'ikon-dok';
@ikon-dokument-name: 'ikon-dokument';
@ikon-dokument-x: 205px;
@ikon-dokument-y: 321px;
@ikon-dokument-offset-x: -205px;
@ikon-dokument-offset-y: -321px;
@ikon-dokument-width: 27px;
@ikon-dokument-height: 27px;
@ikon-dokument-total-width: 419px;
@ikon-dokument-total-height: 407px;
@ikon-dokument-image: '../images/sprites.png';
@ikon-dokument: 205px 321px -205px -321px 27px 27px 419px 407px '../images/sprites.png' 'ikon-dokument';
@ikon-hoering-name: 'ikon-hoering';
@ikon-hoering-x: 298px;
@ikon-hoering-y: 274px;
@ikon-hoering-offset-x: -298px;
@ikon-hoering-offset-y: -274px;
@ikon-hoering-width: 9px;
@ikon-hoering-height: 16px;
@ikon-hoering-total-width: 419px;
@ikon-hoering-total-height: 407px;
@ikon-hoering-image: '../images/sprites.png';
@ikon-hoering: 298px 274px -298px -274px 9px 16px 419px 407px '../images/sprites.png' 'ikon-hoering';
@ikon-hoering2-name: 'ikon-hoering2';
@ikon-hoering2-x: 123px;
@ikon-hoering2-y: 321px;
@ikon-hoering2-offset-x: -123px;
@ikon-hoering2-offset-y: -321px;
@ikon-hoering2-width: 27px;
@ikon-hoering2-height: 27px;
@ikon-hoering2-total-width: 419px;
@ikon-hoering2-total-height: 407px;
@ikon-hoering2-image: '../images/sprites.png';
@ikon-hoering2: 123px 321px -123px -321px 27px 27px 419px 407px '../images/sprites.png' 'ikon-hoering2';
@ikon-netvaerk-name: 'ikon-netvaerk';
@ikon-netvaerk-x: 404px;
@ikon-netvaerk-y: 0px;
@ikon-netvaerk-offset-x: -404px;
@ikon-netvaerk-offset-y: 0px;
@ikon-netvaerk-width: 15px;
@ikon-netvaerk-height: 17px;
@ikon-netvaerk-total-width: 419px;
@ikon-netvaerk-total-height: 407px;
@ikon-netvaerk-image: '../images/sprites.png';
@ikon-netvaerk: 404px 0px -404px 0px 15px 17px 419px 407px '../images/sprites.png' 'ikon-netvaerk';
@ikon-netvaerk2-name: 'ikon-netvaerk2';
@ikon-netvaerk2-x: 363px;
@ikon-netvaerk2-y: 0px;
@ikon-netvaerk2-offset-x: -363px;
@ikon-netvaerk2-offset-y: 0px;
@ikon-netvaerk2-width: 27px;
@ikon-netvaerk2-height: 27px;
@ikon-netvaerk2-total-width: 419px;
@ikon-netvaerk2-total-height: 407px;
@ikon-netvaerk2-image: '../images/sprites.png';
@ikon-netvaerk2: 363px 0px -363px 0px 27px 27px 419px 407px '../images/sprites.png' 'ikon-netvaerk2';
@ikon-nyhed-name: 'ikon-nyhed';
@ikon-nyhed-x: 404px;
@ikon-nyhed-y: 31px;
@ikon-nyhed-offset-x: -404px;
@ikon-nyhed-offset-y: -31px;
@ikon-nyhed-width: 15px;
@ikon-nyhed-height: 16px;
@ikon-nyhed-total-width: 419px;
@ikon-nyhed-total-height: 407px;
@ikon-nyhed-image: '../images/sprites.png';
@ikon-nyhed: 404px 31px -404px -31px 15px 16px 419px 407px '../images/sprites.png' 'ikon-nyhed';
@ikon-nyhed2-name: 'ikon-nyhed2';
@ikon-nyhed2-x: 82px;
@ikon-nyhed2-y: 321px;
@ikon-nyhed2-offset-x: -82px;
@ikon-nyhed2-offset-y: -321px;
@ikon-nyhed2-width: 27px;
@ikon-nyhed2-height: 27px;
@ikon-nyhed2-total-width: 419px;
@ikon-nyhed2-total-height: 407px;
@ikon-nyhed2-image: '../images/sprites.png';
@ikon-nyhed2: 82px 321px -82px -321px 27px 27px 419px 407px '../images/sprites.png' 'ikon-nyhed2';
@ikon-pilgrey-left-name: 'ikon-pilgrey-left';
@ikon-pilgrey-left-x: 404px;
@ikon-pilgrey-left-y: 148px;
@ikon-pilgrey-left-offset-x: -404px;
@ikon-pilgrey-left-offset-y: -148px;
@ikon-pilgrey-left-width: 15px;
@ikon-pilgrey-left-height: 15px;
@ikon-pilgrey-left-total-width: 419px;
@ikon-pilgrey-left-total-height: 407px;
@ikon-pilgrey-left-image: '../images/sprites.png';
@ikon-pilgrey-left: 404px 148px -404px -148px 15px 15px 419px 407px '../images/sprites.png' 'ikon-pilgrey-left';
@ikon-pilgrey-ned-name: 'ikon-pilgrey-ned';
@ikon-pilgrey-ned-x: 404px;
@ikon-pilgrey-ned-y: 177px;
@ikon-pilgrey-ned-offset-x: -404px;
@ikon-pilgrey-ned-offset-y: -177px;
@ikon-pilgrey-ned-width: 15px;
@ikon-pilgrey-ned-height: 15px;
@ikon-pilgrey-ned-total-width: 419px;
@ikon-pilgrey-ned-total-height: 407px;
@ikon-pilgrey-ned-image: '../images/sprites.png';
@ikon-pilgrey-ned: 404px 177px -404px -177px 15px 15px 419px 407px '../images/sprites.png' 'ikon-pilgrey-ned';
@ikon-pilgrey-name: 'ikon-pilgrey';
@ikon-pilgrey-x: 404px;
@ikon-pilgrey-y: 61px;
@ikon-pilgrey-offset-x: -404px;
@ikon-pilgrey-offset-y: -61px;
@ikon-pilgrey-width: 15px;
@ikon-pilgrey-height: 15px;
@ikon-pilgrey-total-width: 419px;
@ikon-pilgrey-total-height: 407px;
@ikon-pilgrey-image: '../images/sprites.png';
@ikon-pilgrey: 404px 61px -404px -61px 15px 15px 419px 407px '../images/sprites.png' 'ikon-pilgrey';
@ikon-pin-blue-name: 'ikon-pin-blue';
@ikon-pin-blue-x: 0px;
@ikon-pin-blue-y: 392px;
@ikon-pin-blue-offset-x: 0px;
@ikon-pin-blue-offset-y: -392px;
@ikon-pin-blue-width: 12px;
@ikon-pin-blue-height: 15px;
@ikon-pin-blue-total-width: 419px;
@ikon-pin-blue-total-height: 407px;
@ikon-pin-blue-image: '../images/sprites.png';
@ikon-pin-blue: 0px 392px 0px -392px 12px 15px 419px 407px '../images/sprites.png' 'ikon-pin-blue';
@ikon-pin-red-name: 'ikon-pin-red';
@ikon-pin-red-x: 78px;
@ikon-pin-red-y: 392px;
@ikon-pin-red-offset-x: -78px;
@ikon-pin-red-offset-y: -392px;
@ikon-pin-red-width: 12px;
@ikon-pin-red-height: 15px;
@ikon-pin-red-total-width: 419px;
@ikon-pin-red-total-height: 407px;
@ikon-pin-red-image: '../images/sprites.png';
@ikon-pin-red: 78px 392px -78px -392px 12px 15px 419px 407px '../images/sprites.png' 'ikon-pin-red';
@ikon-pin-yellow-name: 'ikon-pin-yellow';
@ikon-pin-yellow-x: 52px;
@ikon-pin-yellow-y: 392px;
@ikon-pin-yellow-offset-x: -52px;
@ikon-pin-yellow-offset-y: -392px;
@ikon-pin-yellow-width: 12px;
@ikon-pin-yellow-height: 15px;
@ikon-pin-yellow-total-width: 419px;
@ikon-pin-yellow-total-height: 407px;
@ikon-pin-yellow-image: '../images/sprites.png';
@ikon-pin-yellow: 52px 392px -52px -392px 12px 15px 419px 407px '../images/sprites.png' 'ikon-pin-yellow';
@ikon-pin-name: 'ikon-pin';
@ikon-pin-x: 404px;
@ikon-pin-y: 349px;
@ikon-pin-offset-x: -404px;
@ikon-pin-offset-y: -349px;
@ikon-pin-width: 12px;
@ikon-pin-height: 15px;
@ikon-pin-total-width: 419px;
@ikon-pin-total-height: 407px;
@ikon-pin-image: '../images/sprites.png';
@ikon-pin: 404px 349px -404px -349px 12px 15px 419px 407px '../images/sprites.png' 'ikon-pin';
@net-name: 'net';
@net-x: 107px;
@net-y: 214px;
@net-offset-x: -107px;
@net-offset-y: -214px;
@net-width: 93px;
@net-height: 93px;
@net-total-width: 419px;
@net-total-height: 407px;
@net-image: '../images/sprites.png';
@net: 107px 214px -107px -214px 93px 93px 419px 407px '../images/sprites.png' 'net';
@new-password-name: 'new_password';
@new-password-x: 272px;
@new-password-y: 214px;
@new-password-offset-x: -272px;
@new-password-offset-y: -214px;
@new-password-width: 28px;
@new-password-height: 28px;
@new-password-total-width: 419px;
@new-password-total-height: 407px;
@new-password-image: '../images/sprites.png';
@new-password: 272px 214px -272px -214px 28px 28px 419px 407px '../images/sprites.png' 'new_password';
@node-add-name: 'node_add';
@node-add-x: 321px;
@node-add-y: 84px;
@node-add-offset-x: -321px;
@node-add-offset-y: -84px;
@node-add-width: 28px;
@node-add-height: 28px;
@node-add-total-width: 419px;
@node-add-total-height: 407px;
@node-add-image: '../images/sprites.png';
@node-add: 321px 84px -321px -84px 28px 28px 419px 407px '../images/sprites.png' 'node_add';
@nyh-name: 'nyh';
@nyh-x: 0px;
@nyh-y: 214px;
@nyh-offset-x: 0px;
@nyh-offset-y: -214px;
@nyh-width: 93px;
@nyh-height: 93px;
@nyh-total-width: 419px;
@nyh-total-height: 407px;
@nyh-image: '../images/sprites.png';
@nyh: 0px 214px 0px -214px 93px 93px 419px 407px '../images/sprites.png' 'nyh';
@private-name: 'private';
@private-x: 90px;
@private-y: 362px;
@private-offset-x: -90px;
@private-offset-y: -362px;
@private-width: 11px;
@private-height: 12px;
@private-total-width: 419px;
@private-total-height: 407px;
@private-image: '../images/sprites.png';
@private: 90px 362px -90px -362px 11px 12px 419px 407px '../images/sprites.png' 'private';
@readed-name: 'readed';
@readed-x: 363px;
@readed-y: 290px;
@readed-offset-x: -363px;
@readed-offset-y: -290px;
@readed-width: 23px;
@readed-height: 11px;
@readed-total-width: 419px;
@readed-total-height: 407px;
@readed-image: '../images/sprites.png';
@readed: 363px 290px -363px -290px 23px 11px 419px 407px '../images/sprites.png' 'readed';
@red-dot-name: 'red-dot';
@red-dot-x: 162px;
@red-dot-y: 362px;
@red-dot-offset-x: -162px;
@red-dot-offset-y: -362px;
@red-dot-width: 8px;
@red-dot-height: 8px;
@red-dot-total-width: 419px;
@red-dot-total-height: 407px;
@red-dot-image: '../images/sprites.png';
@red-dot: 162px 362px -162px -362px 8px 8px 419px 407px '../images/sprites.png' 'red-dot';
@red-tick-name: 'red_tick';
@red-tick-x: 363px;
@red-tick-y: 73px;
@red-tick-offset-x: -363px;
@red-tick-offset-y: -73px;
@red-tick-width: 17px;
@red-tick-height: 17px;
@red-tick-total-width: 419px;
@red-tick-total-height: 407px;
@red-tick-image: '../images/sprites.png';
@red-tick: 363px 73px -363px -73px 17px 17px 419px 407px '../images/sprites.png' 'red_tick';
@rundt-name: 'rundt';
@rundt-x: 363px;
@rundt-y: 41px;
@rundt-offset-x: -363px;
@rundt-offset-y: -41px;
@rundt-width: 18px;
@rundt-height: 18px;
@rundt-total-width: 419px;
@rundt-total-height: 407px;
@rundt-image: '../images/sprites.png';
@rundt: 363px 41px -363px -41px 18px 18px 419px 407px '../images/sprites.png' 'rundt';
@search-name: 'search';
@search-x: 321px;
@search-y: 42px;
@search-offset-x: -321px;
@search-offset-y: -42px;
@search-width: 28px;
@search-height: 28px;
@search-total-width: 419px;
@search-total-height: 407px;
@search-image: '../images/sprites.png';
@search: 321px 42px -321px -42px 28px 28px 419px 407px '../images/sprites.png' 'search';
@spg-icon-name: 'spg_icon';
@spg-icon-x: 214px;
@spg-icon-y: 274px;
@spg-icon-offset-x: -214px;
@spg-icon-offset-y: -274px;
@spg-icon-width: 28px;
@spg-icon-height: 28px;
@spg-icon-total-width: 419px;
@spg-icon-total-height: 407px;
@spg-icon-image: '../images/sprites.png';
@spg-icon: 214px 274px -214px -274px 28px 28px 419px 407px '../images/sprites.png' 'spg_icon';
@tick-name: 'tick';
@tick-x: 363px;
@tick-y: 197px;
@tick-offset-x: -363px;
@tick-offset-y: -197px;
@tick-width: 17px;
@tick-height: 17px;
@tick-total-width: 419px;
@tick-total-height: 407px;
@tick-image: '../images/sprites.png';
@tick: 363px 197px -363px -197px 17px 17px 419px 407px '../images/sprites.png' 'tick';
@user-create-name: 'user_create';
@user-create-x: 287px;
@user-create-y: 321px;
@user-create-offset-x: -287px;
@user-create-offset-y: -321px;
@user-create-width: 27px;
@user-create-height: 27px;
@user-create-total-width: 419px;
@user-create-total-height: 407px;
@user-create-image: '../images/sprites.png';
@user-create: 287px 321px -287px -321px 27px 27px 419px 407px '../images/sprites.png' 'user_create';
@yellow-dot-name: 'yellow-dot';
@yellow-dot-x: 206px;
@yellow-dot-y: 362px;
@yellow-dot-offset-x: -206px;
@yellow-dot-offset-y: -362px;
@yellow-dot-width: 8px;
@yellow-dot-height: 8px;
@yellow-dot-total-width: 419px;
@yellow-dot-total-height: 407px;
@yellow-dot-image: '../images/sprites.png';
@yellow-dot: 206px 362px -206px -362px 8px 8px 419px 407px '../images/sprites.png' 'yellow-dot';
@spritesheet-width: 419px;
@spritesheet-height: 407px;
@spritesheet-image: '../images/sprites.png';
@spritesheet-sprites: @afs @ark @arr @arrow-blue @arrow-down @arrow-green @arrow-left @arrow-red @arrow-right @arrow-yellow @blue-dot @calendar @comment @deb @dok @dropdown-apple-t1 @dropdown-facebook-t1 @dropdown-google-t1 @dropdown-outlook-t1 @dropdown-yahoo-t1 @footer-location @green-dot @header-cog @header-login @header-logout @header-search @header-toggle @header-user-create @hor @ikon-afstemning @ikon-afstemning2 @ikon-arrangement @ikon-arrangement2 @ikon-arrow-right @ikon-artikel @ikon-artikkel @ikon-debat @ikon-debat2 @ikon-dok @ikon-dokument @ikon-hoering @ikon-hoering2 @ikon-netvaerk @ikon-netvaerk2 @ikon-nyhed @ikon-nyhed2 @ikon-pilgrey-left @ikon-pilgrey-ned @ikon-pilgrey @ikon-pin-blue @ikon-pin-red @ikon-pin-yellow @ikon-pin @net @new-password @node-add @nyh @private @readed @red-dot @red-tick @rundt @search @spg-icon @tick @user-create @yellow-dot;
@spritesheet: 419px 407px '../images/sprites.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
